{
    "messages": {
        "maxResults": "10",
        "q": "newer_than:30d",
        "labelIds": "INBOX",
        "includeSpamTrash": "false",
        "format": "metadata"
    },
    "threads": {
        "maxResults": "10",
        "q": "newer_than:30d",
        "labelIds": "INBOX",
        "includeSpamTrash": "false",
        "format": "metadata"
    },
    "labels": {},
    "drafts": {
        "maxResults": "10",
        "format": "metadata"
    },
    "profile": {},
    "settings": {},
    "filters": {},
    "forwarding_addresses": {},
    "send_as": {},
    "delegates": {}
}
