{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"API to access different kinds of payroll advances",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	},
		{
			"url":"https://sandbox.api.sap.com/successfactorsfoundation/odata/v2",
			"description":"Sandbox URL"
		}
	],
	"info": {
		"title": "Advances",
		"version": "1.0",
		"description": "You can use these APIs to manage the information about payroll advances and the recovery of the advances.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Advances on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/6bbac0e709a345848d215ecd879fcf59.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "AdvancesInstallments"
	},
	{
		"name": "AdvancesEligibility"
	},
	{
		"name": "AdvancesAccumulation"
	},
	{
		"name": "Advance"
	}],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.AdvancesInstallments": {
			"type": "object",
			"properties": {
				"Advance_externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"NonRecurringPayment_externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"amortization": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"amortizationTotal": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"balanceRemaining": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"currencyGO": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"effectiveStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"installmentAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"installmentStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"interestAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"paymentDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				}
			},
			"title": "AdvancesInstallments"
		},
		"SFOData.AdvancesEligibility": {
			"type": "object",
			"properties": {
				"advanceType": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"basePayComponent": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"basePayComponentGroup": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"calculationPercentageOn": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"company": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"currencyGO": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"dayOfDeduction": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"deductionDateFormat": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"deductionPayCompOTD": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"deductionPayCompRD": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"defaultWorkflow": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"department": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"effectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"effectiveStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eligibilityAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"enableAutoRecovery": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"exceptionForNumberOfInstallments": {
					"type": ["boolean",
					"null"]
				},
				"exceptionForRequestedAmount": {
					"type": ["boolean",
					"null"]
				},
				"exceptionWorkflow": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"firstOccurenceStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"installmentAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"installmentFrequency": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"interestRate": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"interestType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"maximumEligibilityAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"monthDate": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"numberOfInstallments": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"numberOfInstallmentsEditableByEmployee": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"numberOfOccurences": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"occuranceOfDay": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"payComponentType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"paygrade": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"periodEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"periodStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"recoveryMode": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"recoveryModeEditableByEmployee": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"unitOfPeriod": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"validityPeriod": {
					"type": ["string",
					"null"],
					"format": "int64"
				}
			},
			"title": "AdvancesEligibility"
		},
		"SFOData.AdvancesAccumulation": {
			"type": "object",
			"properties": {
				"accumulatedAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"advanceType": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"currencyGO": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"numberOfOccurances": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"periodEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"periodStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"remainingEligibleAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"remainingNumberOfOccurances": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"userSysId": {
					"type": ["string",
					"null"],
					"maxLength": 100
				}
			},
			"title": "AdvancesAccumulation"
		},
		"SFOData.Advance": {
			"type": "object",
			"properties": {
				"NonRecurringPayment_externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"advanceEligibilityCode": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"advanceType": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"approvalStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"approver": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currencyCode": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"currencyGO": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"eligibileAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"eligibilityAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"eligibleAdvanceType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"installmentAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"installmentFrequency": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"interestRate": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"interestType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"notesForApprover": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"numberOfInstallments": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"paymentMode": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"pendingAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"periodEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"periodStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"recoveryMode": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"recoveryStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"remainingRequests": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"requestDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"requestedAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"totalRepaymentAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"advanceEligibilityCodeNav": {
					"title": "Related Collection(SFOData.AdvancesEligibility)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.AdvancesEligibility"
							}
						}
					}
				},
				"advancesInstallments": {
					"title": "Related Collection(SFOData.AdvancesInstallments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.AdvancesInstallments"
							}
						}
					}
				}
			},
			"title": "Advance"
		}
	},
	"paths": {
		"/AdvancesInstallments": {
			"get": {
				"summary": "Get entities from AdvancesInstallments",
				"tags": ["AdvancesInstallments"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["Advance_externalCode",
						"Advance_externalCode desc",
						"NonRecurringPayment_externalCode",
						"NonRecurringPayment_externalCode desc",
						"amortization",
						"amortization desc",
						"amortizationTotal",
						"amortizationTotal desc",
						"balanceRemaining",
						"balanceRemaining desc",
						"createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"currency",
						"currency desc",
						"currencyGO",
						"currencyGO desc",
						"effectiveStatus",
						"effectiveStatus desc",
						"externalCode",
						"externalCode desc",
						"installmentAmount",
						"installmentAmount desc",
						"installmentStatus",
						"installmentStatus desc",
						"interestAmount",
						"interestAmount desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedBy desc",
						"mdfSystemCreatedDate",
						"mdfSystemCreatedDate desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEffectiveStartDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedBy desc",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDate desc",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemLastModifiedDateWithTZ desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc",
						"paymentDate",
						"paymentDate desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["Advance_externalCode",
						"NonRecurringPayment_externalCode",
						"amortization",
						"amortizationTotal",
						"balanceRemaining",
						"createdBy",
						"createdDateTime",
						"currency",
						"currencyGO",
						"effectiveStatus",
						"externalCode",
						"installmentAmount",
						"installmentStatus",
						"interestAmount",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedDate",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"paymentDate"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of AdvancesInstallments",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.AdvancesInstallments"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/AdvancesInstallments(Advance_externalCode='{Advance_externalCode}',NonRecurringPayment_externalCode='{NonRecurringPayment_externalCode}',externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from AdvancesInstallments by key",
				"tags": ["AdvancesInstallments"],
				"parameters": [{
					"name": "Advance_externalCode",
					"in": "path",
					"required": true,
					"description": "key: Advance_externalCode",
					"type": "string"
				},
				{
					"name": "NonRecurringPayment_externalCode",
					"in": "path",
					"required": true,
					"description": "key: NonRecurringPayment_externalCode",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["Advance_externalCode",
						"NonRecurringPayment_externalCode",
						"amortization",
						"amortizationTotal",
						"balanceRemaining",
						"createdBy",
						"createdDateTime",
						"currency",
						"currencyGO",
						"effectiveStatus",
						"externalCode",
						"installmentAmount",
						"installmentStatus",
						"interestAmount",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedDate",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"paymentDate"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "AdvancesInstallments",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.AdvancesInstallments"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/AdvancesEligibility": {
			"get": {
				"summary": "Get entities from AdvancesEligibility",
				"tags": ["AdvancesEligibility"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["advanceType",
						"advanceType desc",
						"basePayComponent",
						"basePayComponent desc",
						"basePayComponentGroup",
						"basePayComponentGroup desc",
						"calculationPercentageOn",
						"calculationPercentageOn desc",
						"company",
						"company desc",
						"createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"currency",
						"currency desc",
						"currencyGO",
						"currencyGO desc",
						"dayOfDeduction",
						"dayOfDeduction desc",
						"deductionDateFormat",
						"deductionDateFormat desc",
						"deductionPayCompOTD",
						"deductionPayCompOTD desc",
						"deductionPayCompRD",
						"deductionPayCompRD desc",
						"defaultWorkflow",
						"defaultWorkflow desc",
						"department",
						"department desc",
						"effectiveEndDate",
						"effectiveEndDate desc",
						"effectiveStartDate",
						"effectiveStartDate desc",
						"effectiveStatus",
						"effectiveStatus desc",
						"eligibilityAmount",
						"eligibilityAmount desc",
						"enableAutoRecovery",
						"enableAutoRecovery desc",
						"exceptionForNumberOfInstallments",
						"exceptionForNumberOfInstallments desc",
						"exceptionForRequestedAmount",
						"exceptionForRequestedAmount desc",
						"exceptionWorkflow",
						"exceptionWorkflow desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"firstOccurenceStartDate",
						"firstOccurenceStartDate desc",
						"installmentAmount",
						"installmentAmount desc",
						"installmentFrequency",
						"installmentFrequency desc",
						"interestRate",
						"interestRate desc",
						"interestType",
						"interestType desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"maximumEligibilityAmount",
						"maximumEligibilityAmount desc",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedBy desc",
						"mdfSystemCreatedDate",
						"mdfSystemCreatedDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedBy desc",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDate desc",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemLastModifiedDateWithTZ desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc",
						"monthDate",
						"monthDate desc",
						"numberOfInstallments",
						"numberOfInstallments desc",
						"numberOfInstallmentsEditableByEmployee",
						"numberOfInstallmentsEditableByEmployee desc",
						"numberOfOccurences",
						"numberOfOccurences desc",
						"occuranceOfDay",
						"occuranceOfDay desc",
						"payComponentType",
						"payComponentType desc",
						"paygrade",
						"paygrade desc",
						"periodEndDate",
						"periodEndDate desc",
						"periodStartDate",
						"periodStartDate desc",
						"recoveryMode",
						"recoveryMode desc",
						"recoveryModeEditableByEmployee",
						"recoveryModeEditableByEmployee desc",
						"unitOfPeriod",
						"unitOfPeriod desc",
						"validityPeriod",
						"validityPeriod desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["advanceType",
						"basePayComponent",
						"basePayComponentGroup",
						"calculationPercentageOn",
						"company",
						"createdBy",
						"createdDateTime",
						"currency",
						"currencyGO",
						"dayOfDeduction",
						"deductionDateFormat",
						"deductionPayCompOTD",
						"deductionPayCompRD",
						"defaultWorkflow",
						"department",
						"effectiveEndDate",
						"effectiveStartDate",
						"effectiveStatus",
						"eligibilityAmount",
						"enableAutoRecovery",
						"exceptionForNumberOfInstallments",
						"exceptionForRequestedAmount",
						"exceptionWorkflow",
						"externalCode",
						"externalName",
						"firstOccurenceStartDate",
						"installmentAmount",
						"installmentFrequency",
						"interestRate",
						"interestType",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"maximumEligibilityAmount",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedDate",
						"mdfSystemEntityId",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"monthDate",
						"numberOfInstallments",
						"numberOfInstallmentsEditableByEmployee",
						"numberOfOccurences",
						"occuranceOfDay",
						"payComponentType",
						"paygrade",
						"periodEndDate",
						"periodStartDate",
						"recoveryMode",
						"recoveryModeEditableByEmployee",
						"unitOfPeriod",
						"validityPeriod"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of AdvancesEligibility",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.AdvancesEligibility"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/AdvancesEligibility(effectiveStartDate={effectiveStartDate},externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from AdvancesEligibility by key",
				"tags": ["AdvancesEligibility"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["advanceType",
						"basePayComponent",
						"basePayComponentGroup",
						"calculationPercentageOn",
						"company",
						"createdBy",
						"createdDateTime",
						"currency",
						"currencyGO",
						"dayOfDeduction",
						"deductionDateFormat",
						"deductionPayCompOTD",
						"deductionPayCompRD",
						"defaultWorkflow",
						"department",
						"effectiveEndDate",
						"effectiveStartDate",
						"effectiveStatus",
						"eligibilityAmount",
						"enableAutoRecovery",
						"exceptionForNumberOfInstallments",
						"exceptionForRequestedAmount",
						"exceptionWorkflow",
						"externalCode",
						"externalName",
						"firstOccurenceStartDate",
						"installmentAmount",
						"installmentFrequency",
						"interestRate",
						"interestType",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"maximumEligibilityAmount",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedDate",
						"mdfSystemEntityId",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"monthDate",
						"numberOfInstallments",
						"numberOfInstallmentsEditableByEmployee",
						"numberOfOccurences",
						"occuranceOfDay",
						"payComponentType",
						"paygrade",
						"periodEndDate",
						"periodStartDate",
						"recoveryMode",
						"recoveryModeEditableByEmployee",
						"unitOfPeriod",
						"validityPeriod"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "AdvancesEligibility",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.AdvancesEligibility"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/AdvancesAccumulation": {
			"get": {
				"summary": "Get entities from AdvancesAccumulation",
				"tags": ["AdvancesAccumulation"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["accumulatedAmount",
						"accumulatedAmount desc",
						"advanceType",
						"advanceType desc",
						"createdBy",
						"createdBy desc",
						"createdDate",
						"createdDate desc",
						"createdDateTime",
						"createdDateTime desc",
						"currency",
						"currency desc",
						"currencyGO",
						"currencyGO desc",
						"externalCode",
						"externalCode desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"lastModifiedDateWithTZ",
						"lastModifiedDateWithTZ desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEffectiveStartDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemStatus",
						"mdfSystemStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc",
						"numberOfOccurances",
						"numberOfOccurances desc",
						"periodEndDate",
						"periodEndDate desc",
						"periodStartDate",
						"periodStartDate desc",
						"remainingEligibleAmount",
						"remainingEligibleAmount desc",
						"remainingNumberOfOccurances",
						"remainingNumberOfOccurances desc",
						"userSysId",
						"userSysId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["accumulatedAmount",
						"advanceType",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"currency",
						"currencyGO",
						"externalCode",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"numberOfOccurances",
						"periodEndDate",
						"periodStartDate",
						"remainingEligibleAmount",
						"remainingNumberOfOccurances",
						"userSysId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of AdvancesAccumulation",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.AdvancesAccumulation"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/AdvancesAccumulation('{externalCode}')": {
			"get": {
				"summary": "Get entity from AdvancesAccumulation by key",
				"tags": ["AdvancesAccumulation"],
				"parameters": [{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["accumulatedAmount",
						"advanceType",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"currency",
						"currencyGO",
						"externalCode",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"numberOfOccurances",
						"periodEndDate",
						"periodStartDate",
						"remainingEligibleAmount",
						"remainingNumberOfOccurances",
						"userSysId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "AdvancesAccumulation",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.AdvancesAccumulation"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Advance": {
			"get": {
				"summary": "Get entities from Advance",
				"tags": ["Advance"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["NonRecurringPayment_externalCode",
						"NonRecurringPayment_externalCode desc",
						"advanceEligibilityCode",
						"advanceEligibilityCode desc",
						"advanceType",
						"advanceType desc",
						"approvalStatus",
						"approvalStatus desc",
						"approver",
						"approver desc",
						"createdBy",
						"createdBy desc",
						"createdDate",
						"createdDate desc",
						"createdDateTime",
						"createdDateTime desc",
						"currencyCode",
						"currencyCode desc",
						"currencyGO",
						"currencyGO desc",
						"eligibileAmount",
						"eligibileAmount desc",
						"eligibilityAmount",
						"eligibilityAmount desc",
						"eligibleAdvanceType",
						"eligibleAdvanceType desc",
						"externalCode",
						"externalCode desc",
						"installmentAmount",
						"installmentAmount desc",
						"installmentFrequency",
						"installmentFrequency desc",
						"interestRate",
						"interestRate desc",
						"interestType",
						"interestType desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"lastModifiedDateWithTZ",
						"lastModifiedDateWithTZ desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEffectiveStartDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemStatus",
						"mdfSystemStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc",
						"notesForApprover",
						"notesForApprover desc",
						"numberOfInstallments",
						"numberOfInstallments desc",
						"paymentMode",
						"paymentMode desc",
						"pendingAmount",
						"pendingAmount desc",
						"periodEndDate",
						"periodEndDate desc",
						"periodStartDate",
						"periodStartDate desc",
						"recoveryMode",
						"recoveryMode desc",
						"recoveryStatus",
						"recoveryStatus desc",
						"remainingRequests",
						"remainingRequests desc",
						"requestDate",
						"requestDate desc",
						"requestedAmount",
						"requestedAmount desc",
						"totalRepaymentAmount",
						"totalRepaymentAmount desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["NonRecurringPayment_externalCode",
						"advanceEligibilityCode",
						"advanceType",
						"approvalStatus",
						"approver",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"currencyCode",
						"currencyGO",
						"eligibileAmount",
						"eligibilityAmount",
						"eligibleAdvanceType",
						"externalCode",
						"installmentAmount",
						"installmentFrequency",
						"interestRate",
						"interestType",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"notesForApprover",
						"numberOfInstallments",
						"paymentMode",
						"pendingAmount",
						"periodEndDate",
						"periodStartDate",
						"recoveryMode",
						"recoveryStatus",
						"remainingRequests",
						"requestDate",
						"requestedAmount",
						"totalRepaymentAmount"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"advanceEligibilityCodeNav",
						"advancesInstallments"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Advance",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Advance"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Advance(NonRecurringPayment_externalCode='{NonRecurringPayment_externalCode}',externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from Advance by key",
				"tags": ["Advance"],
				"parameters": [{
					"name": "NonRecurringPayment_externalCode",
					"in": "path",
					"required": true,
					"description": "key: NonRecurringPayment_externalCode",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["NonRecurringPayment_externalCode",
						"advanceEligibilityCode",
						"advanceType",
						"approvalStatus",
						"approver",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"currencyCode",
						"currencyGO",
						"eligibileAmount",
						"eligibilityAmount",
						"eligibleAdvanceType",
						"externalCode",
						"installmentAmount",
						"installmentFrequency",
						"interestRate",
						"interestType",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"notesForApprover",
						"numberOfInstallments",
						"paymentMode",
						"pendingAmount",
						"periodEndDate",
						"periodStartDate",
						"recoveryMode",
						"recoveryStatus",
						"remainingRequests",
						"requestDate",
						"requestedAmount",
						"totalRepaymentAmount"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"advanceEligibilityCodeNav",
						"advancesInstallments"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Advance",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Advance"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		}
	},
	"parameters": {
		"top": {
			"name": "$top",
			"in": "query",
			"description": "Show only the first n items, see [OData Paging - Top](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "integer",
			"default":20
		},
		"skip": {
			"name": "$skip",
			"in": "query",
			"description": "Skip the first n items, see [OData Paging - Skip](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "integer"
		},
		"count": {
			"name": "$count",
			"in": "query",
			"description": "Include count of items, see [OData Count](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "boolean"
		},
		"filter": {
			"name": "$filter",
			"in": "query",
			"description": "Filter items by property values, see [OData Filtering](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "string"
		},
		"search": {
			"name": "$search",
			"in": "query",
			"description": "Search items by search phrases, see [OData Searching](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "string"
		}
	},
	"responses": {
		"error": {
			"description": "Error",
			"schema": {
				"$ref": "#/definitions/odata.error"
			}
		}
	}
}