{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"API to access the replicated results of a payroll run",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	},
		{
			"url":"https://sandbox.api.sap.com/successfactorsfoundation/odata/v2",
			"description":"Sandbox URL"
		}
	],
	"info": {
		"title": "Employee Central Payroll",
		"version": "1.0",
		"description": "You can use these APIs to access the replicated payroll information of an employee including pay date, currency, and payroll provider.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Employee Central Payroll on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/01ffc910ca4845caac0547a4fbed67e8.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "EmployeePayrollRunResultsItems"
	},
	{
		"name": "EmployeePayrollRunResults"
	}],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.EmployeePayrollRunResultsItems": {
			"type": "object",
			"properties": {
				"EmployeePayrollRunResults_externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"EmployeePayrollRunResults_mdfSystemEffectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"amount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"endDateWhenEarned": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"groupingReason": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"payrollProviderGroupingReason": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"payrollProviderGroupingValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"payrollProviderUnitOfMeasurement": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"payrollProviderWageType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"quantity": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"startDateWhenEarned": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"unitOfMeasurement": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"wageType": {
					"type": ["string",
					"null"],
					"maxLength": 128
				}
			},
			"title": "EmployeePayrollRunResultsItems"
		},
		"SFOData.EmployeePayrollRunResults": {
			"type": "object",
			"properties": {
				"clientId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"companyId": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"employmentId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"endDateWhenPaid": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"isVoid": {
					"type": ["boolean",
					"null"]
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"payDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"payrollId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"payrollProviderId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"payrollProviderPayrollRunType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"payrollRunType": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"personId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"sequenceNumber": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"startDateWhenPaid": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"systemId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"userId": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"employeePayrollRunResultsItems": {
					"title": "Related Collection(SFOData.EmployeePayrollRunResultsItems)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.EmployeePayrollRunResultsItems"
							}
						}
					}
				}
			},
			"title": "EmployeePayrollRunResults"
		}
	},
	"paths": {
		"/EmployeePayrollRunResultsItems": {
			"get": {
				"summary": "Get entities from EmployeePayrollRunResultsItems",
				"tags": ["EmployeePayrollRunResultsItems"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["EmployeePayrollRunResults_externalCode",
						"EmployeePayrollRunResults_externalCode desc",
						"EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
						"EmployeePayrollRunResults_mdfSystemEffectiveStartDate desc",
						"amount",
						"amount desc",
						"createdBy",
						"createdBy desc",
						"createdDate",
						"createdDate desc",
						"createdDateTime",
						"createdDateTime desc",
						"endDateWhenEarned",
						"endDateWhenEarned desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"groupingReason",
						"groupingReason desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"lastModifiedDateWithTZ",
						"lastModifiedDateWithTZ desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEffectiveStartDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemStatus",
						"mdfSystemStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc",
						"payrollProviderGroupingReason",
						"payrollProviderGroupingReason desc",
						"payrollProviderGroupingValue",
						"payrollProviderGroupingValue desc",
						"payrollProviderUnitOfMeasurement",
						"payrollProviderUnitOfMeasurement desc",
						"payrollProviderWageType",
						"payrollProviderWageType desc",
						"quantity",
						"quantity desc",
						"startDateWhenEarned",
						"startDateWhenEarned desc",
						"unitOfMeasurement",
						"unitOfMeasurement desc",
						"wageType",
						"wageType desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["EmployeePayrollRunResults_externalCode",
						"EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
						"amount",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"endDateWhenEarned",
						"externalCode",
						"externalName",
						"groupingReason",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"payrollProviderGroupingReason",
						"payrollProviderGroupingValue",
						"payrollProviderUnitOfMeasurement",
						"payrollProviderWageType",
						"quantity",
						"startDateWhenEarned",
						"unitOfMeasurement",
						"wageType"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of EmployeePayrollRunResultsItems",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.EmployeePayrollRunResultsItems"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to EmployeePayrollRunResultsItems",
				"tags": ["EmployeePayrollRunResultsItems"],
				"parameters": [{
					"name": "EmployeePayrollRunResultsItems",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.EmployeePayrollRunResultsItems"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created EmployeePayrollRunResultsItems",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EmployeePayrollRunResultsItems"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EmployeePayrollRunResultsItems(EmployeePayrollRunResults_externalCode='{EmployeePayrollRunResults_externalCode}',EmployeePayrollRunResults_mdfSystemEffectiveStartDate={EmployeePayrollRunResults_mdfSystemEffectiveStartDate},externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from EmployeePayrollRunResultsItems by key",
				"tags": ["EmployeePayrollRunResultsItems"],
				"parameters": [{
					"name": "EmployeePayrollRunResults_externalCode",
					"in": "path",
					"required": true,
					"description": "key: EmployeePayrollRunResults_externalCode",
					"type": "string"
				},
				{
					"name": "EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["EmployeePayrollRunResults_externalCode",
						"EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
						"amount",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"endDateWhenEarned",
						"externalCode",
						"externalName",
						"groupingReason",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"payrollProviderGroupingReason",
						"payrollProviderGroupingValue",
						"payrollProviderUnitOfMeasurement",
						"payrollProviderWageType",
						"quantity",
						"startDateWhenEarned",
						"unitOfMeasurement",
						"wageType"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "EmployeePayrollRunResultsItems",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EmployeePayrollRunResultsItems"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in EmployeePayrollRunResultsItems",
				"tags": ["EmployeePayrollRunResultsItems"],
				"parameters": [{
					"name": "EmployeePayrollRunResults_externalCode",
					"in": "path",
					"required": true,
					"description": "key: EmployeePayrollRunResults_externalCode",
					"type": "string"
				},
				{
					"name": "EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "EmployeePayrollRunResultsItems",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified EmployeePayrollRunResultsItems",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.EmployeePayrollRunResultsItems"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from EmployeePayrollRunResultsItems",
				"tags": ["EmployeePayrollRunResultsItems"],
				"parameters": [{
					"name": "EmployeePayrollRunResults_externalCode",
					"in": "path",
					"required": true,
					"description": "key: EmployeePayrollRunResults_externalCode",
					"type": "string"
				},
				{
					"name": "EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: EmployeePayrollRunResults_mdfSystemEffectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EmployeePayrollRunResults": {
			"get": {
				"summary": "Get entities from EmployeePayrollRunResults",
				"tags": ["EmployeePayrollRunResults"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["clientId",
						"clientId desc",
						"companyId",
						"companyId desc",
						"createdBy",
						"createdBy desc",
						"createdDate",
						"createdDate desc",
						"createdDateTime",
						"createdDateTime desc",
						"currency",
						"currency desc",
						"employmentId",
						"employmentId desc",
						"endDateWhenPaid",
						"endDateWhenPaid desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"isVoid",
						"isVoid desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"lastModifiedDateWithTZ",
						"lastModifiedDateWithTZ desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEffectiveStartDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemStatus",
						"mdfSystemStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc",
						"payDate",
						"payDate desc",
						"payrollId",
						"payrollId desc",
						"payrollProviderId",
						"payrollProviderId desc",
						"payrollProviderPayrollRunType",
						"payrollProviderPayrollRunType desc",
						"payrollRunType",
						"payrollRunType desc",
						"personId",
						"personId desc",
						"sequenceNumber",
						"sequenceNumber desc",
						"startDateWhenPaid",
						"startDateWhenPaid desc",
						"systemId",
						"systemId desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["clientId",
						"companyId",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"currency",
						"employmentId",
						"endDateWhenPaid",
						"externalCode",
						"externalName",
						"isVoid",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"payDate",
						"payrollId",
						"payrollProviderId",
						"payrollProviderPayrollRunType",
						"payrollRunType",
						"personId",
						"sequenceNumber",
						"startDateWhenPaid",
						"systemId",
						"userId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"employeePayrollRunResultsItems"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of EmployeePayrollRunResults",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.EmployeePayrollRunResults"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to EmployeePayrollRunResults",
				"tags": ["EmployeePayrollRunResults"],
				"parameters": [{
					"name": "EmployeePayrollRunResults",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.EmployeePayrollRunResults"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created EmployeePayrollRunResults",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EmployeePayrollRunResults"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EmployeePayrollRunResults(externalCode='{externalCode}',mdfSystemEffectiveStartDate={mdfSystemEffectiveStartDate})": {
			"get": {
				"summary": "Get entity from EmployeePayrollRunResults by key",
				"tags": ["EmployeePayrollRunResults"],
				"parameters": [{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "mdfSystemEffectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: mdfSystemEffectiveStartDate",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["clientId",
						"companyId",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"currency",
						"employmentId",
						"endDateWhenPaid",
						"externalCode",
						"externalName",
						"isVoid",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"payDate",
						"payrollId",
						"payrollProviderId",
						"payrollProviderPayrollRunType",
						"payrollRunType",
						"personId",
						"sequenceNumber",
						"startDateWhenPaid",
						"systemId",
						"userId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"employeePayrollRunResultsItems"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "EmployeePayrollRunResults",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EmployeePayrollRunResults"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in EmployeePayrollRunResults",
				"tags": ["EmployeePayrollRunResults"],
				"parameters": [{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "mdfSystemEffectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: mdfSystemEffectiveStartDate",
					"type": "string"
				},
				{
					"name": "EmployeePayrollRunResults",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified EmployeePayrollRunResults",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.EmployeePayrollRunResults"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from EmployeePayrollRunResults",
				"tags": ["EmployeePayrollRunResults"],
				"parameters": [{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "mdfSystemEffectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: mdfSystemEffectiveStartDate",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		}
	},
	"parameters": {
		"top": {
			"name": "$top",
			"in": "query",
			"description": "Show only the first n items, see [OData Paging - Top](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "integer",
			"default":20
		},
		"skip": {
			"name": "$skip",
			"in": "query",
			"description": "Skip the first n items, see [OData Paging - Skip](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "integer"
		},
		"count": {
			"name": "$count",
			"in": "query",
			"description": "Include count of items, see [OData Count](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "boolean"
		},
		"filter": {
			"name": "$filter",
			"in": "query",
			"description": "Filter items by property values, see [OData Filtering](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "string"
		},
		"search": {
			"name": "$search",
			"in": "query",
			"description": "Search items by search phrases, see [OData Searching](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
			"type": "string"
		}
	},
	"responses": {
		"error": {
			"description": "Error",
			"schema": {
				"$ref": "#/definitions/odata.error"
			}
		}
	}
}