{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"API to access the information about employee global benefits",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	},
		{
			"url":"https://sandbox.api.sap.com/successfactorsfoundation/odata/v2",
			"description":"Sandbox URL"
		}
	],
	"info": {
		"title": "Global Benefits",
		"version": "1.0",
		"description": "You can use these APIs to maintain the global and local benefits beyond regular compensation for employees.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Global Benefits on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/c16959d69ff0443087bb5ae3a9176318.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "BenefitEmployeeClaim"
	},
	{
		"name": "BenefitSavingsPlanSubType"
	},
	{
		"name": "BenefitInsurancePlan"
	},
	{
		"name": "BenefitBalanceCarryForwardDetail"
	},
	{
		"name": "BenefitProgramEnrollment"
	},
	{
		"name": "BenefitInsuranceCoverage"
	},
	{
      "name": "BenefitsIntegrationOneTimeInfo"
    },
	{
		"name": "BenefitProgram"
	},
	{
		"name": "BenefitCompanyCarLeaseServiceProvider"
	},
	{
		"name": "BenefitInsuranceRateChart"
	},
	{
		"name": "BenefitInsuranceProvider"
	},
	{
		"name": "BenefitInsurancePlanEnrollmentDetails"
	},
	{
		"name": "BenefitEffectiveDateConfiguration"
	},
	{
              "name": "ACAReportingInformation"
       },
	{
		"name": "BenefitEvent"
	},
	{
		"name": "BenefitSchedules"
	},
	{
		"name": "BenefitProgramExceptionDetails"
	},
	{
		"name": "BenefitPaymentOptions"
	},
	{
		"name": "BenefitSavingsPlanSubTypeCountryLookup"
	},
	{
      "name": "Employee with Employer Match Contributions"
    },
	{
		"name": "BenefitInsurancePlanUSA"
	},
	{
		"name": "BenefitSchedulePeriod"
	},
	{
		"name": "BenefitOpenEnrollmentCycleConfiguration"
	},
	{
		"name": "BenefitInsuranceDependentDetail"
	},
	{
      "name": "ACAReportingDependentDetails"
    },
	{
		"name": "BenefitProgramEnrollmentDetail"
	},
	{
      "name": "InsuranceEnrollmentFieldsConfiguration"
    },
	{
		"name": "BenefitEmployeeClaimDetail"
	},
	{
		"name": "BenefitFuelReimbursement"
	},
	{
      "name": "InsuranceBenefitDetails"
    },
	{
		"name": "BenefitCompanyCar"
	},
	{
        "name": "IRS Premium Table"
    },
    {
      "name": "SavingsAccountBenefitDetails"
    },
    {
      "name": "Imputed Cost for Age Ranges"
    },
	{
		"name": "BenefitCompanyHousing"
	},
	{
		"name": "BenefitPensionNonDependentNominees"
	},
	{
		"name": "BenefitExceptionDetails"
	},
	{
		"name": "Benefit"
	},
	{
      "name": "Benefit Pension Additional Employee Contribution Detail"
    },
	{
		"name": "BenefitInsuranceCoverageDetails"
	},
	{
		"name": "BenefitInsuranceEnrolleeOptions"
	},
	{
		"name": "BenefitPensionFundEnrollmentContributionDetail"
	},
	{
		"name": "BenefitPensionEnrollmentContributionDetail"
	},
	{
		"name": "BenefitDependentDetail"
	},
	{
		"name": "BenefitCompanyCarEnrollment"
	},
	{
      "name": "SavingsAccountUSA"
    },
	{
		"name": "BenefitPensionEmployerContributionDetail"
	},
	{
		"name": "BenefitsConfigUIScreenLookup"
	},
	{
		"name": "BenefitDocuments"
	},
	{
		"name": "BenefitPensionFund"
	},
	{
		"name": "BenefitsException"
	},
	{
		"name": "BenefitInsuranceRateChartFixedAmount"
	},
	{
		"name": "BenefitLegalEntity"
	},
	{
		"name": "BenefitSavingsPlanEnrollmentContributionDetail"
	},
	{
		"name": "BenefitCompanyCarRecommendedVendors"
	},
	{
		"name": "BenefitInsuranceEnrolleeType"
	},
	{
		"name": "BenefitClaimAccumulation"
	},
	{
		"name": "BenefitCompanyCarClaim"
	},
	{
		"name": "BenefitLifeEventConfiguration"
	},
	{
		"name": "BenefitEnrollment"
	},
	{
		"name": "BenefitPensionDependentNominees"
	},
	{
		"name": "BenefitContact"
	},
	{
		"name": "BenefitFuelReimbursementClaimDetail"
	},
	{
      "name": "SavingsAccountTierConfiguration"
    },
	{
		"name": "BenefitPensionStatutoryMinimumLookup"
	},
	{
		"name": "BenefitInsuranceCoverageOptions"
	},
	{
		"name": "BenefitLeaveTravelReimbursementClaim"
	},
	{
		"name": "BenefitBalanceCarryForward"
	},
	{
		"name": "BenefitCompanyCarAllowedModels"
	},
	{
		"name": "BenefitsConfirmationStatementConfiguration"
	},
	{
		"name": "BenefitEnrollmentGroup"
	},
	{
		"name": "BenefitCompanyHousingEnrollment"
	},
	{
		"name": "BenefitPensionEmployeeContributionDetail"
	},
	{
		"name": "BenefitInsuranceRateChartEnrollee"
	},
	{
      "name": "Benefit Pension Additional Contribution Limits"
    },
    {
      "name": "Pension Banding Configuration"
    },
    {
       "name": "Pension Banding Configuration Details"
     },
     	{
           "name": "Benefit Pension Min Max Contribution Limits"
        },
        {
             "name": "Life Event for Benefit"
        },
        {
            "name": "Benefit Employee Life Event Declaration Form"
         },
         {
           "name": "Employee with Employer Match Contribution Entries"
         },
		{
			"name": "BenefitDeductibleAllowanceEnrollment"
		},
		{
			"name": "BenefitSavingsPlanTierConfiguration"
		},
		{
			"name": "BenefitSavingsPlanERContributionConfig"
		},
		{
			"name": "BenefitSavingsPlanERContributionConfigDetail"
		},
		{
			"name": "BenefitSavingsPlanCatchUpDetail"
		},
		{
			"name": "BenefitEnrollmentDependencyConfiguration"
		},
		{
			"name": "BenefitEnrollmentDependencyDetails"
		},
		{
			"name": "BenefitSavingsPlanPrimaryBeneficiary"
		},
		{
			"name": "BenefitSavingsPlanContingentBeneficiary"
		},
		{
			"name": "BenefitHyperlinkConfiguration"
		},
		{
			"name": "BenefitOverviewHyperlinkConfiguration"
		},
		{
			"name": "BenefitOverviewHyperlinkDetails"
		},
		{
			"name": "BenefitEmployeeOptoutRequests"
		},
		{
			"name": "BenefitEnrollmentOptoutDetails"
		},
		{
            "name": "SavingsAccountDeductionDetails"
        },
		{
			"name": "BenefitHSAEmployerContribution"
		},
		{
			"name": "BenefitHSAEmployerContributionDetail"
		},
		{
			"name": "BenefitHSAEmployerContributionTierDetail"
		},
		{
			"name": "BenefitAutomaticActionConfiguration"
		},
		{
			"name": "BenefitsIntegrationRecurringInfo"
		},
		{
			"name": "BenefitSavingsPlanEnrollmentDetails"
		},
		{
			"name": "BenefitDeductionDetails"
		}],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		  "SFOData.BenefitsIntegrationOneTimeInfo": {
      "type": "object",
      "properties": {
        "benefit": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "benefitEnrollment": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "benefitSchedulePeriod": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "category": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "currency": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "effectiveStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "externalName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "id": {
          "type": "string",
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "payCompDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "payComponent": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32
        },
        "recordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "reference": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "unitOfMeasure": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "value": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "workerId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "benefitEnrollmentNav": {
          "title": "Related Collection(SFOData.BenefitEnrollment)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.BenefitEnrollment"
              }
            }
          }
        },
        "benefitNav": {
          "title": "Related Collection(SFOData.Benefit)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.Benefit"
              }
            }
          }
        },
        "benefitSchedulePeriodNav": {
          "$ref": "#/definitions/SFOData.BenefitSchedulePeriod"
        }
      },
      "title": "BenefitsIntegrationOneTimeInfo"
    },
		"SFOData.PensionBandingConfigurationDetails": {
      "type": "object",
      "properties": {
        "PensionBandingConfiguration_bandingConfigurationId": {
          "type": "string",
          "maxLength": 128
        },
        "PensionBandingConfiguration_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "bandingDetailsId": {
          "type": "string",
          "maxLength": 128
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "employeePercentage": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "employerPercentage": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lowerBandValue": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "upperBandValue": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        }
      },
      "title": "PensionBandingConfigurationDetails"
    },
     "SFOData.InsuranceBenefitDetails": {
      "type": "object",
      "properties": {
        "Benefit_benefitId": {
          "type": "string",
          "maxLength": 128
        },
        "Benefit_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "decimalPrecisionSettingForContributionAmount": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "defaultCoverage": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "defaultEnrolleeOptions": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "defaultPlan": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "enrollmentApplicableFor": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "externalCode": {
          "type": "string",
          "format": "int64"
        },
        "insuranceType": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "nomineeRelevant": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "defaultCoverageNav": {
          "$ref": "#/definitions/SFOData.BenefitInsuranceCoverage"
        },
        "defaultEnrolleeOptionsNav": {
          "$ref": "#/definitions/SFOData.BenefitInsuranceEnrolleeOptions"
        },
        "defaultPlanNav": {
          "title": "Related Collection(SFOData.BenefitInsurancePlan)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.BenefitInsurancePlan"
              }
            }
          }
        },
        "insuranceFieldConfiguration": {
          "title": "Related Collection(SFOData.InsuranceEnrollmentFieldsConfiguration)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.InsuranceEnrollmentFieldsConfiguration"
              }
            }
          }
        },
        "insurancePlans": {
          "title": "Related Collection(SFOData.BenefitInsurancePlan)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.BenefitInsurancePlan"
              }
            }
          }
        }
      },
      "title": "InsuranceBenefitDetails"
    },
     "SFOData.InsuranceEnrollmentFieldsConfiguration": {
      "type": "object",
      "properties": {
        "Benefit_benefitId": {
          "type": "string",
          "maxLength": 128
        },
        "Benefit_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "InsuranceBenefitDetails_externalCode": {
          "type": "string",
          "format": "int64"
        },
        "configurationId": {
          "type": "string",
          "format": "int64"
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "insuranceFieldName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "visibilitySettingsEnum": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        }
      },
      "title": "InsuranceEnrollmentFieldsConfiguration"
    },
      "SFOData.SavingsAccountDeductionDetails": {
      "type": "object",
      "properties": {
        "Benefit_benefitId": {
          "type": "string",
          "maxLength": 128
        },
        "Benefit_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "SavingsAccountBenefitDetails_externalCode": {
          "type": "string",
          "format": "int64"
        },
        "SavingsAccountUSA_externalCode": {
          "type": "string",
          "format": "int64"
        },
        "basePayComponent": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "deductionDetailId": {
          "type": "string",
          "format": "int64"
        },
        "deductionPayComponent": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "payFrequency": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32
        }
      },
      "title": "SavingsAccountDeductionDetails"
    },
    "SFOData.SavingsAccountTierConfiguration": {
      "type": "object",
      "properties": {
        "Benefit_benefitId": {
          "type": "string",
          "maxLength": 128
        },
        "Benefit_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "SavingsAccountBenefitDetails_externalCode": {
          "type": "string",
          "format": "int64"
        },
        "SavingsAccountUSA_externalCode": {
          "type": "string",
          "format": "int64"
        },
        "annualMaxContributionAmount": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "annualMinContributionAmount": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "coverageTier": {
          "type": "string",
          "maxLength": 128
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "coverageTierNav": {
          "$ref": "#/definitions/SFOData.BenefitInsuranceEnrolleeOptions"
        }
      },
      "title": "SavingsAccountTierConfiguration"
    },
     "SFOData.SavingsAccountUSA": {
      "type": "object",
      "properties": {
        "Benefit_benefitId": {
          "type": "string",
          "maxLength": 128
        },
        "Benefit_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "SavingsAccountBenefitDetails_externalCode": {
          "type": "string",
          "format": "int64"
        },
        "annualMaxContributionAmount": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "annualMaxPayComponent": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32
        },
        "annualMinContributionAmount": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "beneficiaryRelevant": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "empAnnualLimitPayComponent": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32
        },
        "employerContributionHSA": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "employerPayComponent": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32
        },
        "externalCode": {
          "type": "string",
          "format": "int64"
        },
        "isEmployerContributionRequired": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "savingsPlanCatchUpDetail": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "savingsPlanSubType": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "employerContributionHSANav": {
          "title": "Related Collection(SFOData.BenefitHSAEmployerContribution)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.BenefitHSAEmployerContribution"
              }
            }
          }
        },
        "savingsAccountDeductionDetails": {
          "title": "Related Collection(SFOData.SavingsAccountDeductionDetails)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.SavingsAccountDeductionDetails"
              }
            }
          }
        },
        "savingsAccountTierConfiguration": {
          "title": "Related Collection(SFOData.SavingsAccountTierConfiguration)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.SavingsAccountTierConfiguration"
              }
            }
          }
        },
        "savingsPlanCatchUpDetailNav": {
          "title": "Related Collection(SFOData.BenefitSavingsPlanCatchUpDetail)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.BenefitSavingsPlanCatchUpDetail"
              }
            }
          }
        }
      },
      "title": "SavingsAccountUSA"
    },
    "SFOData.EmployeeWithEmployerMatchContributions": {
      "type": "object",
      "properties": {
        "configurationId": {
          "type": "string",
          "maxLength": 128
        },
        "configurationName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "effectiveEndDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "employeeWithEmployerMatchContributionEntries": {
          "title": "Related Collection(SFOData.EmployeeWithEmployerMatchContributionEntries)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.EmployeeWithEmployerMatchContributionEntries"
              }
            }
          }
        }
      },
      "title": "EmployeeWithEmployerMatchContributions"
    },
     "SFOData.SavingsAccountBenefitDetails": {
      "type": "object",
      "properties": {
        "Benefit_benefitId": {
          "type": "string",
          "maxLength": 128
        },
        "Benefit_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "externalCode": {
          "type": "string",
          "format": "int64"
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "savingsAccountCountry": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "savingsAccountUSA": {
          "$ref": "#/definitions/SFOData.SavingsAccountUSA"
        }
      },
      "title": "SavingsAccountBenefitDetails"
    },
    "SFOData.EmployeeWithEmployerMatchContributionEntries": {
      "type": "object",
      "properties": {
        "EmployeeWithEmployerMatchContributions_configurationId": {
          "type": "string",
          "maxLength": 128
        },
        "EmployeeWithEmployerMatchContributions_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "eeContributionPercentage": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "eeERMatchValuesID": {
          "type": "string",
          "maxLength": 128
        },
        "erContributionPercentage": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "isDefault": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        }
      },
      "title": "EmployeeWithEmployerMatchContributionEntries"
    },
    "SFOData.LifeEventForBenefit": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "daysLimitToReport": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "dependentInfoLinkApplicable": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lifeEventId": {
          "type": "string",
          "maxLength": 128
        },
        "lifeEventName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "personalInfoLinkApplicable": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "legalEntities": {
          "title": "Related Collection(SFOData.BenefitLegalEntity)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.BenefitLegalEntity"
              }
            }
          }
        }
      },
      "title": "LifeEventForBenefit"
    },
    "SFOData.BenefitEmployeeLifeEventDeclarationForm": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "employeeLifeEventId": {
          "type": "string",
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lifeEventDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lifeEventId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "workerId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lifeEventIdNav": {
          "$ref": "#/definitions/SFOData.LifeEventForBenefit"
        }
      },
      "title": "BenefitEmployeeLifeEventDeclarationForm"
    },
     "SFOData.ACAReportingDependentDetails": {
      "type": "object",
      "properties": {
        "ACAReportingInformation_externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "benEligibilityEndDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "benEligibilityStartDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "depDateOfBirth": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "dependentId": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "dependentName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "externalCode": {
          "type": "string",
          "format": "int64"
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        }
      },
      "title": "ACAReportingDependentDetails"
    },
     "SFOData.ACAReportingInformation": {
      "type": "object",
      "properties": {
        "benefit": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "benefitEligibilityEndDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "enrollmentEffectiveFrom": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "enrollmentRequestDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "exceptionId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mecPlan": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "minimumCostValue": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "offerDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "offerStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "optOutDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "schedulePeriod": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "workerId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "benefitNav": {
          "title": "Related Collection(SFOData.Benefit)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.Benefit"
              }
            }
          }
        },
        "dependentDetails": {
          "title": "Related Collection(SFOData.ACAReportingDependentDetails)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.ACAReportingDependentDetails"
              }
            }
          }
        },
        "exceptionIdNav": {
          "$ref": "#/definitions/SFOData.BenefitsException"
        },
        "mecPlanNav": {
          "title": "Related Collection(SFOData.BenefitInsurancePlan)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.BenefitInsurancePlan"
              }
            }
          }
        },
        "schedulePeriodNav": {
          "$ref": "#/definitions/SFOData.BenefitSchedulePeriod"
        }
      },
      "title": "ACAReportingInformation"
    },
		"SFOData.BenefitSavingsPlanEnrollmentDetails":{
			"type":"object",
			"properties":{
				"BenefitEnrollment_effectiveStartDate":{
					"type":"string",
					"example":"/Date(1492098664000)/"
				},
				"BenefitEnrollment_id":{
					"type":"string",
					"maxLength":38
				},
				"annualContributionAmount":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"annualMaxContributionAmount":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"annualMinContributionAmount":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"calculatedAnnualLimit":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"createdBy":{
					"type":[
						"string",
						"null"
					],
					"maxLength":100
				},
				"createdDateTime":{
					"type":[
						"string",
						"null"
					],
					"example":"/Date(1492098664000)/"
				},
				"empBenefitPayComponent":{
					"type":[
						"string",
						"null"
					],
					"maxLength":32
				},
				"estimatedAnnualContribution":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"estimatedEmployerContributionAmount":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"hsaAnnualContributionAmount":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"hsaPayPeriodContributionAmount":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"id":{
					"type":"string",
					"format":"int64"
				},
				"lastModifiedBy":{
					"type":[
						"string",
						"null"
					],
					"maxLength":100
				},
				"lastModifiedDateTime":{
					"type":[
						"string",
						"null"
					],
					"example":"/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":{
					"type":[
						"string",
						"null"
					],
					"maxLength":255
				},
				"payPeriodContributionAmount":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"payPeriodsRemaining":{
					"type":[
						"string",
						"null"
					],
					"format":"int64"
				},
				"savingsPlanSubType":{
					"type":[
						"string",
						"null"
					],
					"maxLength":128
				},
				"ytdContribution":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				}
			},
			"title":"BenefitSavingsPlanEnrollmentDetails"
		},
		"SFOData.PensionBandingConfiguration": {
      "type": "object",
      "properties": {
        "bandingConfigurationId": {
          "type": "string",
          "maxLength": 128
        },
        "bandingConfigurationName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "currency": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEffectiveEndDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "pensionBandingConfigurationDetails": {
          "title": "Related Collection(SFOData.PensionBandingConfigurationDetails)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.PensionBandingConfigurationDetails"
              }
            }
          }
        }
      },
      "title": "PensionBandingConfiguration"
    },
		"SFOData.BenefitDeductionDetails":{
			"type":"object",
			"properties":{
				"Benefit_benefitId":{
					"type":"string",
					"maxLength":128
				},
				"Benefit_effectiveStartDate":{
					"type":"string",
					"example":"/Date(1492098664000)/"
				},
				"basePayComponent":{
					"type":[
						"string",
						"null"
					],
					"maxLength":32
				},
				"createdBy":{
					"type":[
						"string",
						"null"
					],
					"maxLength":100
				},
				"createdDateTime":{
					"type":[
						"string",
						"null"
					],
					"example":"/Date(1492098664000)/"
				},
				"dedcutionDetailId":{
					"type":"string",
					"format":"int64"
				},
				"deductionPayComponent":{
					"type":[
						"string",
						"null"
					],
					"maxLength":32
				},
				"lastModifiedBy":{
					"type":[
						"string",
						"null"
					],
					"maxLength":100
				},
				"lastModifiedDateTime":{
					"type":[
						"string",
						"null"
					],
					"example":"/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":{
					"type":[
						"string",
						"null"
					],
					"maxLength":255
				},
				"payFrequency":{
					"type":[
						"string",
						"null"
					],
					"maxLength":32
				}
			},
			"title":"BenefitDeductionDetails"
		},
		"SFOData.BenefitEmployeeClaim": {
			"type": "object",
			"properties": {
				"benefit": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"benefitDataSource": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"benefitDataSourceWithExternalCode": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"benefitProgram": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"byPassWorkflow": {
					"type": ["boolean",
					"null"]
				},
				"claimDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"entitlementAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"exception": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"isTotalAmountReadOnly": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"nrpId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"recordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"remarks": {
					"type": ["string",
					"null"],
					"maxLength": 1024
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"totalAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"workerId": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"benFuelReimbursement": {
					"$ref": "#/definitions/SFOData.BenefitFuelReimbursement"
				},
				"benTravelReimbursementClaim": {
					"$ref": "#/definitions/SFOData.BenefitLeaveTravelReimbursementClaim"
				},
				"benefitContacts": {
					"title": "Related Collection(SFOData.BenefitContact)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitContact"
							}
						}
					}
				},
				"benefitDependentDetail": {
					"title": "Related Collection(SFOData.BenefitDependentDetail)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDependentDetail"
							}
						}
					}
				},
				"benefitEmployeeCarClaim": {
					"$ref": "#/definitions/SFOData.BenefitCompanyCarClaim"
				},
				"benefitEmployeeClaimDetail": {
					"title": "Related Collection(SFOData.BenefitEmployeeClaimDetail)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitEmployeeClaimDetail"
							}
						}
					}
				},
				"benefitFuelReimbursementClaimDetail": {
					"title": "Related Collection(SFOData.BenefitFuelReimbursementClaimDetail)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitFuelReimbursementClaimDetail"
							}
						}
					}
				},
				"benefitNav": {
					"title": "Related Collection(SFOData.Benefit)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.Benefit"
							}
						}
					}
				},
				"benefitProgramNav": {
					"title": "Related Collection(SFOData.BenefitProgram)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitProgram"
							}
						}
					}
				},
				"exceptionNav": {
					"$ref": "#/definitions/SFOData.BenefitsException"
				},
				"forms": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				},
				"policyDocuments": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				},
				"usefulLinks": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				}
			},
			"title": "BenefitEmployeeClaim"
		},
		"SFOData.BenefitDeductibleAllowanceEnrollment":{
			"type":"object",
			"properties":{
				"BenefitEnrollment_effectiveStartDate":{
					"type":"string",
					"example":"/Date(1492098664000)/"
				},
				"BenefitEnrollment_id":{
					"type":"string",
					"maxLength":38
				},
				"createdBy":{
					"type":[
						"string",
						"null"
					],
					"maxLength":100
				},
				"createdDateTime":{
					"type":[
						"string",
						"null"
					],
					"example":"/Date(1492098664000)/"
				},
				"employeeContribution":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"employeeContributionPayComponent":{
					"type":[
						"string",
						"null"
					],
					"maxLength":32
				},
				"employerContribution":{
					"type":[
						"string",
						"null"
					],
					"format":"decimal",
					"multipleOf":1
				},
				"employerContributionPayComponent":{
					"type":[
						"string",
						"null"
					],
					"maxLength":32
				},
				"id":{
					"type":"string",
					"format":"int64"
				},
				"lastModifiedBy":{
					"type":[
						"string",
						"null"
					],
					"maxLength":100
				},
				"lastModifiedDateTime":{
					"type":[
						"string",
						"null"
					],
					"example":"/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":{
					"type":[
						"string",
						"null"
					],
					"maxLength":255
				}
			},
			"title":"BenefitDeductibleAllowanceEnrollment"
		},
		"SFOData.BenefitSavingsPlanSubType": {
			"type": "object",
			"properties": {
				"benefitSavingsPlanID": {
					"type": "string",
					"maxLength": 128
				},
				"country": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				}
			},
			"title": "BenefitSavingsPlanSubType"
		},
		"SFOData.BenefitInsurancePlan": {
			"type": "object",
			"properties": {
				"country": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"eligibilityRuleForCoverage": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"employeeContribution": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"employerContribution": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"frequency": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"id": {
					"type": "string",
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"planName_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"planName_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"premiumType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"provider": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"coverageOptions": {
					"title": "Related Collection(SFOData.BenefitInsuranceCoverageOptions)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitInsuranceCoverageOptions"
							}
						}
					}
				},
				"insurancePlanUSA": {
					"$ref": "#/definitions/SFOData.BenefitInsurancePlanUSA"
				},
				"providerNav": {
					"$ref": "#/definitions/SFOData.BenefitInsuranceProvider"
				}
			},
			"title": "BenefitInsurancePlan"
		},
		"SFOData.BenefitBalanceCarryForwardDetail": {
			"type": "object",
			"properties": {
				"BenefitClaimAccumulation_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"balanceCarryForwardAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"schedulePeriod": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"schedulePeriodNav": {
					"$ref": "#/definitions/SFOData.BenefitSchedulePeriod"
				}
			},
			"title": "BenefitBalanceCarryForwardDetail"
		},
		"SFOData.BenefitProgramEnrollment": {
			"type": "object",
			"properties": {
				"benefitProgram": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"benefitProgramDataSource": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"benefitProgramDataSourceWithExternalCode": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"effectiveStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"enrollmentDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"exception": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"programAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"programCurrency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"programEntitlementAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"recordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"workerId": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"benefitProgramEnrollmentDetail": {
					"title": "Related Collection(SFOData.BenefitProgramEnrollmentDetail)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitProgramEnrollmentDetail"
							}
						}
					}
				},
				"benefitProgramNav": {
					"$ref": "#/definitions/SFOData.BenefitProgram"
				},
				"exceptionNav": {
					"$ref": "#/definitions/SFOData.BenefitsException"
				},
				"forms": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				},
				"policyDocuments": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				},
				"usefulLinks": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				}
			},
			"title": "BenefitProgramEnrollment"
		},
		"SFOData.BenefitInsuranceCoverage": {
			"type": "object",
			"properties": {
				"amount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"basePayComponentGroup": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"benefitSalaryAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"benefitSalaryCalculationRule": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"coverageId": {
					"type": "string",
					"maxLength": 128
				},
				"coverageLevel": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"coverageName_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageName_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverageRoundingRule": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"coverageType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"factor": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"maximumCoverageAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"minimumCoverageAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"paycomponent": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"percentage": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"roundedCoverageAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"toCoverageDetails": {
					"title": "Related Collection(SFOData.BenefitInsuranceCoverageDetails)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitInsuranceCoverageDetails"
							}
						}
					}
				}
			},
			"title": "BenefitInsuranceCoverage"
		},
		"SFOData.BenefitProgram": {
			"type": "object",
			"properties": {
				"amount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"eligibilityRuleId": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"exceptionWorkflowId": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"multipleSelectionAllowed": {
					"type": ["boolean",
					"null"]
				},
				"programEnrollmentWorkflowId": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"programId": {
					"type": "string",
					"maxLength": 128
				},
				"programName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"programSchedule": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"supressClientDateValidation": {
					"type": ["boolean",
					"null"]
				},
				"benefits": {
					"title": "Related Collection(SFOData.Benefit)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.Benefit"
							}
						}
					}
				},
				"forms": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				},
				"policyDocuments": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				},
				"programScheduleNav": {
					"$ref": "#/definitions/SFOData.BenefitSchedules"
				},
				"usefulLinks": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				}
			},
			"title": "BenefitProgram"
		},
		"SFOData.BenefitCompanyCarLeaseServiceProvider": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"emiInterestRate": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"serviceProviderName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				}
			},
			"title": "BenefitCompanyCarLeaseServiceProvider"
		},
		"SFOData.BenefitInsuranceRateChart": {
			"type": "object",
			"properties": {
				"ageAsOfDay": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"ageAsOfMonth": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"ageAsOfYear": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"coverage": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"factor": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"genderRelevant": {
					"type": ["boolean",
					"null"]
				},
				"insurancePlan": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"provider": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"rateChartId": {
					"type": "string",
					"maxLength": 128
				},
				"coverageNav": {
					"$ref": "#/definitions/SFOData.BenefitInsuranceCoverage"
				},
				"insurancePlanNav": {
					"$ref": "#/definitions/SFOData.BenefitInsurancePlan"
				},
				"providerNav": {
					"$ref": "#/definitions/SFOData.BenefitInsuranceProvider"
				},
				"rateChartEnrollee": {
					"title": "Related Collection(SFOData.BenefitInsuranceRateChartEnrollee)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitInsuranceRateChartEnrollee"
							}
						}
					}
				},
				"rateChartFixedAmount": {
					"title": "Related Collection(SFOData.BenefitInsuranceRateChartFixedAmount)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitInsuranceRateChartFixedAmount"
							}
						}
					}
				}
			},
			"title": "BenefitInsuranceRateChart"
		},
		 "SFOData.ImputedCostForAgeRanges": {
      "type": "object",
      "properties": {
        "IRSPremiumTable_configurationId": {
          "type": "string",
          "maxLength": 128
        },
        "IRSPremiumTable_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "ageFrom": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "ageTo": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "costPerAge": {
          "type": [
            "string",
            "null"
          ],
          "format": "decimal",
          "multipleOf": 1
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        }
      },
      "title": "ImputedCostForAgeRanges"
    },
		"SFOData.BenefitInsuranceProvider": {
			"type": "object",
			"properties": {
				"contactEmail": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"contactPerson": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"contactPhone": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"providerId": {
					"type": "string",
					"maxLength": 128
				},
				"providerName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"policyDocuments": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				},
				"usefulLinks": {
					"title": "Related Collection(SFOData.BenefitDocuments)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitDocuments"
							}
						}
					}
				}
			},
			"title": "BenefitInsuranceProvider"
		},
		"SFOData.BenefitInsurancePlanEnrollmentDetails": {
			"type": "object",
			"properties": {
				"BenefitEnrollment_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"BenefitEnrollment_id": {
					"type": "string",
					"format": "int64"
				},
				"benefitSalaryAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"coverage": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"employeeContribution": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"employerContribution": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"enrolleeOptions": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"plan": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"provider": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"roundedCoverageAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"smoking": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"benefitInsuranceDependentDetails": {
					"title": "Related Collection(SFOData.BenefitInsuranceDependentDetail)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitInsuranceDependentDetail"
							}
						}
					}
				},
				"coverageNav": {
					"$ref": "#/definitions/SFOData.BenefitInsuranceCoverage"
				},
				"enrolleeOptionsNav": {
					"$ref": "#/definitions/SFOData.BenefitInsuranceEnrolleeOptions"
				},
				"planNav": {
					"title": "Related Collection(SFOData.BenefitInsurancePlan)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitInsurancePlan"
							}
						}
					}
				},
				"providerNav": {
					"$ref": "#/definitions/SFOData.BenefitInsuranceProvider"
				}
			},
			"title": "BenefitInsurancePlanEnrollmentDetails"
		},
		"SFOData.BenefitEffectiveDateConfiguration": {
			"type": "object",
			"properties": {
				"BenefitLifeEventConfiguration_configurationId": {
					"type": "string",
					"maxLength": 128
				},
				"BenefitLifeEventConfiguration_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"benefit": {
					"type": "string",
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"deductionRule": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"exceptionFor": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"rule": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"benefitNav": {
					"title": "Related Collection(SFOData.Benefit)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.Benefit"
							}
						}
					}
				}
			},
			"title": "BenefitEffectiveDateConfiguration"
		},
		"SFOData.BenefitEvent": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"eventCode": {
					"type": "string",
					"maxLength": 128
				},
				"eventId": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"eventName_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"eventName_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				}
			},
			"title": "BenefitEvent"
		},
		"SFOData.BenefitSchedules": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"id": {
					"type": "string",
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"scheduleName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"periods": {
					"title": "Related Collection(SFOData.BenefitSchedulePeriod)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.BenefitSchedulePeriod"
							}
						}
					}
				}
			},
			"title": "BenefitSchedules"
		},
		"SFOData.BenefitProgramExceptionDetails": {
			"type": "object",
			"properties": {
				"BenefitsException_exceptionId": {
					"type": "string",
					"format": "int64"
				},
				"adjustmentAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"benefitProgram": {
					"type": "string",
					"maxLength": 128
				},
				"benefitSchedulePeriodDataSourceWithExternalCode": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
[...]
