{
	"swagger": "2.0",
	"security": [
		{
			"basicAuthentication": []
		}
	],
	"securityDefinitions": {
		"basicAuthentication": {
			"type": "basic"
		}
	},
	"x-sap-shortText":"API to access and store the country-dependent fields of payment information",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	},
		{
			"url":"https://sandbox.api.sap.com/successfactorsfoundation/odata/v2",
			"description":"Sandbox URL"
		}
	],
	"info": {
		"title": "Payment Information",
		"version": "1.0",
		"description": "You can use these APIs to maintain the country-dependent fields of payment information details for specific countries.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Payment Information on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/fb3d8aff79934730a8cd6934aec07392.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "PaymentInformationDetailV3KEN"
	},
		{
			"name": "PaymentInformationDetailV3ISR"
		},
		{
			"name": "Payment Information Detail V3(Paraguay)"
		},
		{
			"name": "Payment Information Detail V3(Bolivia)"
		},
		{
			"name": "PaymentInformationDetailV3"
		},
		{
			"name": "PaymentInformationDetailV3ARG"
		},
		{
			"name": "PaymentMethodV3"
		},
		{
			"name": "CustomPayType"
		},
		{
			"name": "CustomPayTypeAssignment"
		},
		{
			"name": "Bank"
		},
		{
			"name": "PaymentInformationDetailV3NGA"
		},
		{
			"name": "PaymentInformationV3"
		},
		{
			"name": "PaymentInformationDetailV3COL"
		},
		{
			"name": "Payment Information Detail V3(Czech Republic)"
		},
		{
			"name": "PaymentInformationDetailV3VEN"
		},
		{
			"name": "PaymentInformationDetailV3NZL"
		},
		{
			"name": "PaymentInformationDetailV3USA"
		},
		{
			"name": "PaymentInformationDetailV3ECU"
		},
		{
			"name": "PaymentInformationDetailV3GBR"
		},
		{
			"name": "PaymentInformationDetailV3FRA"
		},
		{
			"name": "PaymentMethodAssignmentV3"
		},
		{
			"name": "PaymentInformationDetailV3JPN"
		},
		{
			"name": "PaymentInformationDetailV3ZAF"
		},
		{
			"name": "PaymentInformationDetailV3ITA"
		},
		{
			"name": "PaymentInformationDetailV3MEX"
		},
		{
			"name": "PaymentInformationDetailV3ESP"
		},
		{
			"name": "PaymentInformationDetailV3BRA"
		},
		{
			"name": "PaymentInformationDetailV3CHL"
		},
		{
			"name": "PaymentInformationDetailV3BLR"
		},
		{
			"name": "PaymentInformationDetailV3IRQ"
		},
		{
			"name": "PaymentInformationDetailV3MMR"
		},
		{
			"name": "PaymentInformationDetailV3MWI"
		},
		{
			"name": "PaymentInformationDetailV3NAM"
		},
		{
			"name": "PaymentInformationDetailV3PER"
		},
		{
			"name": "PaymentInformationDetailV3ZWE"
		},
		{
			"name": "PaymentInformationDetailV3SVN"
		},
		{
			"name": "Payment Information Detail V3(Slovakia)"
		},
		{
			"name": "Payment Information Detail V3(Tunisia)"
		},
		{
			"name": "PaymentInformationDetailV3MKD"
		},
		{
			"name": "PaymentInformationDetailV3MOZ"
		},
		{
			"name": "PaymentInformationDetailV3GHA"
		},
		{
			"name": "PaymentInformationDetailV3SUR"
		}
	],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
				"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
				"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.PaymentInformationDetailV3KEN": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3KEN"
		},
		"SFOData.PaymentInformationDetailV3ISR": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"branchName": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"branchNumberCode": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3ISR"
		},
		"SFOData.PaymentInformationDetailV3": {
			"type": "object",
			"properties": {
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountNumber": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"accountOwner": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"amount": {
					"type": ["string",
						"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"bank": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"bankCountry": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"businessIdentifierCode": {
					"type": ["string",
						"null"],
					"maxLength": 11
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"customPayType": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"iban": {
					"type": ["string",
						"null"],
					"maxLength": 35
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"paySequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"payType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"paymentMethod": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"percent": {
					"type": ["string",
						"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"purpose": {
					"type": ["string",
						"null"],
					"maxLength": 40
				},
				"routingNumber": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"bankNav": {
					"$ref": "#/definitions/SFOData.Bank"
				},
				"customPayTypeNav": {
					"$ref": "#/definitions/SFOData.CustomPayType"
				},
				"paymentMethodNav": {
					"$ref": "#/definitions/SFOData.PaymentMethodV3"
				},
				"toPaymentInformationDetailV3ARG": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ARG"
				},
				"toPaymentInformationDetailV3BOL":
				{
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3BOL"
				},
				"toPaymentInformationDetailV3PRY":
				{
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3PRY"
				},
				"toPaymentInformationDetailV3BRA": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3BRA"
				},
				"toPaymentInformationDetailV3CHL": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3CHL"
				},
				"toPaymentInformationDetailV3COL": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3COL"
				},
				"toPaymentInformationDetailV3CZE":
				{
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3CZE"
				},
				"toPaymentInformationDetailV3ECU": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ECU"
				},
				"toPaymentInformationDetailV3ESP": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ESP"
				},
				"toPaymentInformationDetailV3FRA": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3FRA"
				},
				"toPaymentInformationDetailV3GBR": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3GBR"
				},
				"toPaymentInformationDetailV3ISR": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ISR"
				},
				"toPaymentInformationDetailV3ITA": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ITA"
				},
				"toPaymentInformationDetailV3JPN": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3JPN"
				},
				"toPaymentInformationDetailV3KEN": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3KEN"
				},
				"toPaymentInformationDetailV3MEX": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3MEX"
				},
				"toPaymentInformationDetailV3NGA": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3NGA"
				},
				"toPaymentInformationDetailV3NZL": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3NZL"
				},
				"toPaymentInformationDetailV3USA": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3USA"
				},
				"toPaymentInformationDetailV3VEN": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3VEN"
				},
				"toPaymentInformationDetailV3SVK": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3SVK"
				},
				"toPaymentInformationDetailV3TUN": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3TUN"
				},
				"toPaymentInformationDetailV3ZAF": {
					"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ZAF"
				}
			},
			"title": "PaymentInformationDetailV3"
		},
		"SFOData.PaymentInformationDetailV3ARG": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3ARG"
		},
		"SFOData.PaymentMethodV3": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"externalName_de_DE": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_defaultValue": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_en_GB": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_en_US": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_es_ES": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_fr_FR": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_ja_JP": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_ko_KR": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_localized": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_nl_NL": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_pt_BR": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_pt_PT": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_ru_RU": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_zh_CN": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalName_zh_TW": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"toPaymentMethodAssignmentV3": {
					"title": "Related Collection(SFOData.PaymentMethodAssignmentV3)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.PaymentMethodAssignmentV3"
							}
						}
					}
				}
			},
			"title": "PaymentMethodV3"
		},
		"SFOData.CustomPayType": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 100
				},
				"createdDateTime": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"externalName_de_DE": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_defaultValue": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_en_DEBUG": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_en_GB": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_en_US": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_es_ES": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_fr_FR": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_ja_JP": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_ko_KR": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_localized": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_nl_NL": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_pt_BR": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_pt_PT": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_ru_RU": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_zh_CN": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"externalName_zh_TW": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 100
				},
				"lastModifiedDateTime": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"standardPayType": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				},
				"toCustomPayTypeAssignment": {
					"title": "Related Collection(SFOData.CustomPayTypeAssignment)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.CustomPayTypeAssignment"
							}
						}
					}
				}
			},
			"title": "CustomPayType"
		},
		"SFOData.CustomPayTypeAssignment": {
			"type": "object",
			"properties": {
				"CustomPayType_externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"country": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 128
				},
				"createdBy": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 100
				},
				"createdDateTime": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 100
				},
				"lastModifiedDateTime": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": [
						"string",
						"null"
					],
					"maxLength": 255
				}
			},
			"title": "CustomPayTypeAssignment"
		},
		"SFOData.Bank": {
			"type": "object",
			"properties": {
				"bankBranch": {
					"type": ["string",
						"null"],
					"maxLength": 60
				},
				"bankCountry": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"bankName": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"businessIdentifierCode": {
					"type": ["string",
						"null"],
					"maxLength": 20
				},
				"city": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"postalCode": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"routingNumber": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"street": {
					"type": ["string",
						"null"],
					"maxLength": 255
				}
			},
			"title": "Bank"
		},
		"SFOData.PaymentInformationDetailV3NGA": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3NGA"
		},
		"SFOData.PaymentInformationV3": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"jobCountry": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"worker": {
					"type": "string",
					"maxLength": 100
				},
				"toPaymentInformationDetailV3": {
					"title": "Related Collection(SFOData.PaymentInformationDetailV3)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.PaymentInformationDetailV3"
							}
						}
					}
				}
			},
			"title": "PaymentInformationV3"
		},
		"SFOData.PaymentInformationDetailV3COL": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"newAccountIdType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3COL"
		},
		"SFOData.PaymentInformationDetailV3CZE": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				},
				"specificSymbol":
				{
					"type": ["string", "null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3CZE"
		},
		"SFOData.PaymentInformationDetailV3VEN": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"paymentReference": {
					"type": ["string",
						"null"],
					"maxLength": 38
				}
			},
			"title": "PaymentInformationDetailV3VEN"
		},
		"SFOData.PaymentInformationDetailV3NZL": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"paymentReference": {
					"type": ["string",
						"null"],
					"maxLength": 38
				}
			},
			"title": "PaymentInformationDetailV3NZL"
		},
		"SFOData.PaymentInformationDetailV3USA": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3USA"
		},
		"SFOData.PaymentInformationDetailV3ECU": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3ECU"
		},
		"SFOData.PaymentInformationDetailV3GBR": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"buildingSocietyRollNumber": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3GBR"
		},
		"SFOData.PaymentInformationDetailV3FRA": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"checkDigit": {
					"type": ["string",
						"null"],
					"maxLength": 2
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3FRA"
		},
		"SFOData.PaymentMethodAssignmentV3": {
			"type": "object",
			"properties": {
				"PaymentMethodV3_externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"country": {
					"type": ["string",
						"null"],
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentMethodAssignmentV3"
		},
		"SFOData.PaymentInformationDetailV3JPN": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3JPN"
		},
		"SFOData.PaymentInformationDetailV3ZAF": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"accountHolderRelationship": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"accountType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3ZAF"
		},
		"SFOData.PaymentInformationDetailV3ITA": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"checkDigit": {
					"type": ["string",
						"null"],
					"maxLength": 1
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3ITA"
		},
		"SFOData.PaymentInformationDetailV3MEX": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"checkDigit": {
					"type": ["string",
						"null"],
					"maxLength": 2
				},
				"clabe": {
					"type": ["string",
						"null"],
					"maxLength": 18
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3MEX"
		},
		"SFOData.PaymentInformationDetailV3ESP": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"checkDigit": {
					"type": ["string",
						"null"],
					"maxLength": 2
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3ESP"
		},
		"SFOData.PaymentInformationDetailV3BRA": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"checkDigit": {
					"type": ["string",
						"null"],
					"maxLength": 2
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3BRA"
		},
		"SFOData.PaymentInformationDetailV3CHL": {
			"type": "object",
			"properties": {
				"PaymentInformationDetailV3_externalCode": {
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker": {
					"type": "string",
					"maxLength": 100
				},
				"checkDigit": {
					"type": ["string",
						"null"],
					"maxLength": 2
				},
				"createdBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
						"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
						"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
						"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
						"null"],
					"format": "int64"
				}
			},
			"title": "PaymentInformationDetailV3CHL"
		},
		"SFOData.PaymentInformationDetailV3BLR": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3BLR"
		},
		"SFOData.PaymentInformationDetailV3IRQ": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"checkDigit":
				{
					"type": ["string", "null"],
					"maxLength": 2
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3IRQ"
		},
		"SFOData.PaymentInformationDetailV3MMR": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3MMR"
		},
		"SFOData.PaymentInformationDetailV3MWI": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3MWI"
		},
		"SFOData.PaymentInformationDetailV3NAM": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"checkDigit":
				{
					"type": ["string", "null"],
					"maxLength": 2
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3NAM"
		},
		"SFOData.PaymentInformationDetailV3PER": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 255
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				},
				"paymentReference":
				{
					"type": ["string", "null"],
					"maxLength": 38
				}
			},
			"title": "PaymentInformationDetailV3PER"
		},
		"SFOData.PaymentInformationDetailV3ZWE": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3ZWE"
		},
		"SFOData.PaymentInformationDetailV3SVN": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3SVN"
		},
		"SFOData.PaymentInformationDetailV3SVK": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"constantSymbol":
				{
					"type": ["string", "null"],
					"maxLength": 4
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				},
				"specificSymbol":
				{
					"type": ["string", "null"],
					"maxLength": 10
				},
				"variableSymbol":
				{
					"type": ["string", "null"],
					"maxLength": 10
				}
			},
			"title": "PaymentInformationDetailV3SVK"
		},
		"SFOData.PaymentInformationDetailV3TUN": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3TUN"
		},
		"SFOData.PaymentInformationDetailV3MKD": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3MKD"
		},
		"SFOData.PaymentInformationDetailV3MOZ": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3MOZ"
		},
		"SFOData.PaymentInformationDetailV3GHA": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3GHA"
		},
		"SFOData.PaymentInformationDetailV3SUR": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type": ["string", "null"],
					"maxLength": 128
				},
				"createdBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type": ["string", "null"],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type": ["string", "null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type": ["string", "null"],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3SUR"
		},
		"SFOData.PaymentInformationDetailV3PRY": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type":
					[
						"string",
						"null"
					],
					"maxLength": 128
				},
				"createdBy":
				{
					"type":
					[
						"string",
						"null"
					],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type":
					[
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type":
					[
						"string",
						"null"
					],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type":
					[
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type":
					[
						"string",
						"null"
					],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3PRY"
		},
		"SFOData.PaymentInformationDetailV3BOL": {
			"type": "object",
			"properties":
			{
				"PaymentInformationDetailV3_externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"PaymentInformationV3_effectiveStartDate":
				{
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PaymentInformationV3_worker":
				{
					"type": "string",
					"maxLength": 100
				},
				"accountType":
				{
					"type":
					[
						"string",
						"null"
					],
					"maxLength": 128
				},
				"createdBy":
				{
					"type":
					[
						"string",
						"null"
					],
					"maxLength": 100
				},
				"createdDateTime":
				{
					"type":
					[
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"externalCode":
				{
					"type": "string",
					"format": "int64"
				},
				"lastModifiedBy":
				{
					"type":
					[
						"string",
						"null"
					],
					"maxLength": 100
				},
				"lastModifiedDateTime":
				{
					"type":
					[
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus":
				{
					"type":
					[
						"string",
						"null"
					],
					"maxLength": 255
				}
			},
			"title": "PaymentInformationDetailV3BOL"
		}
	},
	"paths": {
		"/PaymentInformationDetailV3KEN": {
			"get": {
				"summary": "Get entities from PaymentInformationDetailV3KEN",
				"tags": ["PaymentInformationDetailV3KEN"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
					{
						"$ref": "#/parameters/skip"
					},
					{
						"$ref": "#/parameters/search"
					},
					{
						"$ref": "#/parameters/filter"
					},
					{
						"$ref": "#/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": ["PaymentInformationDetailV3_externalCode",
								"PaymentInformationDetailV3_externalCode desc",
								"PaymentInformationV3_effectiveStartDate",
								"PaymentInformationV3_effectiveStartDate desc",
								"PaymentInformationV3_worker",
								"PaymentInformationV3_worker desc",
								"accountType",
								"accountType desc",
								"createdBy",
								"createdBy desc",
								"createdDate",
								"createdDate desc",
								"createdDateTime",
								"createdDateTime desc",
								"externalCode",
								"externalCode desc",
								"lastModifiedBy",
								"lastModifiedBy desc",
								"lastModifiedDate",
								"lastModifiedDate desc",
								"lastModifiedDateTime",
								"lastModifiedDateTime desc",
								"lastModifiedDateWithTZ",
								"lastModifiedDateWithTZ desc",
								"mdfSystemEffectiveEndDate",
								"mdfSystemEffectiveEndDate desc",
								"mdfSystemEffectiveStartDate",
								"mdfSystemEffectiveStartDate desc",
								"mdfSystemEntityId",
								"mdfSystemEntityId desc",
								"mdfSystemObjectType",
								"mdfSystemObjectType desc",
								"mdfSystemRecordId",
								"mdfSystemRecordId desc",
								"mdfSystemRecordStatus",
								"mdfSystemRecordStatus desc",
								"mdfSystemStatus",
								"mdfSystemStatus desc",
								"mdfSystemTransactionSequence",
								"mdfSystemTransactionSequence desc",
								"mdfSystemVersionId",
								"mdfSystemVersionId desc"]
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": ["PaymentInformationDetailV3_externalCode",
								"PaymentInformationV3_effectiveStartDate",
								"PaymentInformationV3_worker",
								"accountType",
								"createdBy",
								"createdDate",
								"createdDateTime",
								"externalCode",
								"lastModifiedBy",
								"lastModifiedDate",
								"lastModifiedDateTime",
								"lastModifiedDateWithTZ",
								"mdfSystemEffectiveEndDate",
								"mdfSystemEffectiveStartDate",
								"mdfSystemEntityId",
								"mdfSystemObjectType",
								"mdfSystemRecordId",
								"mdfSystemRecordStatus",
								"mdfSystemStatus",
								"mdfSystemTransactionSequence",
								"mdfSystemVersionId"]
						}
					}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of PaymentInformationDetailV3KEN",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.PaymentInformationDetailV3KEN"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to PaymentInformationDetailV3KEN",
				"tags": ["PaymentInformationDetailV3KEN"],
				"parameters": [{
					"name": "PaymentInformationDetailV3KEN",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.PaymentInformationDetailV3KEN"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created PaymentInformationDetailV3KEN",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.PaymentInformationDetailV3KEN"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/PaymentInformationDetailV3KEN(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})": {
			"get": {
				"summary": "Get entity from PaymentInformationDetailV3KEN by key",
				"tags": ["PaymentInformationDetailV3KEN"],
				"parameters": [{
					"name": "PaymentInformationDetailV3_externalCode",
					"in": "path",
					"required": true,
					"description": "key: PaymentInformationDetailV3_externalCode",
					"type": "integer",
					"format": "int64"
				},
					{
						"name": "PaymentInformationV3_effectiveStartDate",
						"in": "path",
						"required": true,
						"description": "key: PaymentInformationV3_effectiveStartDate",
						"type": "string"
					},
					{
						"name": "PaymentInformationV3_worker",
						"in": "path",
						"required": true,
						"description": "key: PaymentInformationV3_worker",
						"type": "string"
					},
					{
						"name": "externalCode",
						"in": "path",
						"required": true,
						"description": "key: externalCode",
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": ["PaymentInformationDetailV3_externalCode",
								"PaymentInformationV3_effectiveStartDate",
								"PaymentInformationV3_worker",
								"accountType",
								"createdBy",
								"createdDate",
								"createdDateTime",
								"externalCode",
								"lastModifiedBy",
								"lastModifiedDate",
								"lastModifiedDateTime",
								"lastModifiedDateWithTZ",
								"mdfSystemEffectiveEndDate",
								"mdfSystemEffectiveStartDate",
								"mdfSystemEntityId",
								"mdfSystemObjectType",
								"mdfSystemRecordId",
								"mdfSystemRecordStatus",
								"mdfSystemStatus",
								"mdfSystemTransactionSequence",
								"mdfSystemVersionId"]
						}
					}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "PaymentInformationDetailV3KEN",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.PaymentInformationDetailV3KEN"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in PaymentInformationDetailV3KEN",
				"tags": ["PaymentInformationDetailV3KEN"],
				"parameters": [{
					"name": "PaymentInformationDetailV3_externalCode",
					"in": "path",
					"required": true,
					"description": "key: PaymentInformationDetailV3_externalCode",
					"type": "integer",
					"format": "int64"
				},
					{
						"name": "PaymentInformationV3_effectiveStartDate",
						"in": "path",
						"required": true,
						"description": "key: PaymentInformationV3_effectiveStartDate",
						"type": "string"
					},
					{
						"name": "PaymentInformationV3_worker",
						"in": "path",
						"required": true,
						"description": "key: PaymentInformationV3_worker",
						"type": "string"
					},
					{
						"name": "externalCode",
						"in": "path",
						"required": true,
						"description": "key: externalCode",
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "PaymentInformationDetailV3KEN",
						"in": "body",
						"description": "New property values",
						"schema": {
							"title": "Modified PaymentInformationDetailV3KEN",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.PaymentInformationDetailV3KEN"
								}
							}
						}
					}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from PaymentInformationDetailV3KEN",
				"tags": ["PaymentInformationDetailV3KEN"],
				"parameters": [{
					"name": "PaymentInformationDetailV3_externalCode",
					"in": "path",
					"required": true,
					"description": "key: PaymentInformationDetailV3_externalCode",
					"type": "integer",
					"format": "int64"
				},
					{
						"name": "PaymentInformationV3_effectiveStartDate",
						"in": "path",
						"required": true,
						"description": "key: PaymentInformationV3_effectiveStartDate",
						"type": "string"
					},
					{
						"name": "PaymentInformationV3_worker",
						"in": "path",
						"required": true,
						"description": "key: PaymentInformationV3_worker",
						"type": "string"
					},
					{
						"name": "externalCode",
						"in": "path",
						"required": true,
						"description": "key: externalCode",
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"type": "string"
					}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/PaymentInformationDetailV3ISR": {
			"get": {
				"summary": "Get entities from PaymentInformationDetailV3ISR",
				"tags": ["PaymentInformationDetailV3ISR"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
					{
						"$ref": "#/parameters/skip"
					},
					{
						"$ref": "#/parameters/search"
					},
					{
						"$ref": "#/parameters/filter"
					},
					{
						"$ref": "#/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": ["PaymentInformationDetailV3_externalCode",
								"PaymentInformationDetailV3_externalCode desc",
								"PaymentInformationV3_effectiveStartDate",
								"PaymentInformationV3_effectiveStartDate desc",
								"PaymentInformationV3_worker",
								"PaymentInformationV3_worker desc",
								"branchName",
								"branchName desc",
								"branchNumberCode",
								"branchNumberCode desc",
								"createdBy",
								"createdBy desc",
								"createdDate",
								"createdDate desc",
								"createdDateTime",
								"createdDateTime desc",
								"externalCode",
								"externalCode desc",
								"lastModifiedBy",
								"lastModifiedBy desc",
								"lastModifiedDate",
								"lastModifiedDate desc",
								"lastModifiedDateTime",
								"lastModifiedDateTime desc",
								"lastModifiedDateWithTZ",
								"lastModifiedDateWithTZ desc",
								"mdfSystemEffectiveEndDate",
								"mdfSystemEffectiveEndDate desc",
								"mdfSystemEffectiveStartDate",
								"mdfSystemEffectiveStartDate desc",
								"mdfSystemEntityId",
								"mdfSystemEntityId desc",
								"mdfSystemObjectType",
								"mdfSystemObjectType desc",
								"mdfSystemRecordId",
								"mdfSystemRecordId desc",
								"mdfSystemRecordStatus",
								"mdfSystemRecordStatus desc",
								"mdfSystemStatus",
								"mdfSystemStatus desc",
								"mdfSystemTransactionSequence",
								"mdfSystemTransactionSequence desc",
								"mdfSystemVersionId",
								"mdfSystemVersionId desc"]
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": ["PaymentInformationDetailV3_externalCode",
								"PaymentInformationV3_effectiveStartDate",
								"PaymentInformationV3_worker",
								"branchName",
								"branchNumberCode",
								"createdBy",
								"createdDate",
								"createdDateTime",
								"externalCode",
								"lastModifiedBy",
								"lastModifiedDate",
								"lastModifiedDateTime",
								"lastModifiedDateWithTZ",
								"mdfSystemEffectiveEndDate",
								"mdfSystemEffectiveStartDate",
								"mdfSystemEntityId",
								"mdfSystemObjectType",
								"mdfSystemRecordId",
								"mdfSystemRecordStatus",
								"mdfSystemStatus",
								"mdfSystemTransactionSequence",
								"mdfSystemVersionId"]
						}
					}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of PaymentInformationDetailV3ISR",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ISR"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to PaymentInformationDetailV3ISR",
				"tags": ["PaymentInformationDetailV3ISR"],
				"parameters": [{
					"name": "PaymentInformationDetailV3ISR",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ISR"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created PaymentInformationDetailV3ISR",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.PaymentInformationDetailV3ISR"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
[...]
