{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"Common APIs under SAP SuccessFactors platform.",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	}],
	"info": {
		"title": "Common Platform APIs",
		"version": "1.0",
		"description": "A list of common APIs under SAP SuccessFactors platform.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Common Platform APIs on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/bf3876ea9fc641848e85677d27995ed3.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "Onboarding Users"
	},
	{
		"name": "Legacy Picklist Options"
	},
	{
		"name": "Attachments"
	},
	{
		"name": "MDF PickList Value"
	},
	{
		"name": "Personal Info for Learning Users"
	},
	{
		"name": "MDF PickList"
	},
	{
		"name": "Company Provisioner"
	},
	{
		"name": "Address Info for Onboarding Users"
	},
	{
		"name": "Currency Conversion"
	},
	{
		"name": "Initiative Alignment"
	},
	{
		"name": "Legacy Picklist Labels"
	},
	{
		"name": "Countries"
	},
	{
		"name": "Photos"
	},
	{
		"name": "Work Orders"
	},
	{
		"name": "Competency Rating"
	},
	{
		"name": "Email Info for Onboarding Users"
	},
	{
		"name": "Vendor Info"
	},
	{
		"name": "Legacy Picklist"
	},
	{
		"name": "Personal Info for Onboarding Users"
	},
	{
		"name": "Email Info for Learning Users"
	},
	{
		"name": "Address Info for Learning Users"
	},
	{
		"name": "Phone Info for Learning Users"
	},
	{
		"name": "Time Zone"
	},
	{
		"name": "External Learners"
	},
	{
		"name": "Currencies"
	},
	{
		"name": "Team Goal Owner"
	},
	{
		"name": "Phone Info for Onboarding Users"
	}],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.ExternalUser": {
			"type": "object",
			"properties": {
				"defaultLocale": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"is_deleted": {
					"type": ["boolean",
					"null"]
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"loginMethod": {
					"type": ["string",
					"null"],
					"maxLength": 8
				},
				"password": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"personGUID": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"personId": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"personIdExternal": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"productName": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 2
				},
				"timeZone": {
					"type": ["string",
					"null"],
					"maxLength": 64
				},
				"userId": {
					"type": "string",
					"maxLength": 100
				},
				"userName": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"extAddressInfo": {
					"title": "Related Collection(SFOData.ExtAddressInfo)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.ExtAddressInfo"
							}
						}
					}
				},
				"extEmailInfo": {
					"title": "Related Collection(SFOData.ExtEmailInfo)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.ExtEmailInfo"
							}
						}
					}
				},
				"extPersonalInfo": {
					"$ref": "#/definitions/SFOData.ExtPersonalInfo"
				},
				"extPhoneInfo": {
					"title": "Related Collection(SFOData.ExtPhoneInfo)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.ExtPhoneInfo"
							}
						}
					}
				}
			},
			"title": "ExternalUser"
		},
		"SFOData.PicklistOption": {
			"type": "object",
			"properties": {
				"externalCode": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"maxValue": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"minValue": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"optionValue": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"sortOrder": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 9
				},
				"childPicklistOptions": {
					"title": "Related Collection(SFOData.PicklistOption)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.PicklistOption"
							}
						}
					}
				},
				"parentPicklistOption": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				},
				"picklist": {
					"$ref": "#/definitions/SFOData.Picklist"
				},
				"picklistLabels": {
					"title": "Related Collection(SFOData.PicklistLabel)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.PicklistLabel"
							}
						}
					}
				}
			},
			"title": "PicklistOption"
		},
		"SFOData.Attachment": {
			"type": "object",
			"properties": {
				"attachmentId": {
					"type": "string",
					"format": "int64"
				},
				"createdDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"deletable": {
					"type": "boolean"
				},
				"deprecable": {
					"type": "boolean"
				},
				"description": {
					"type": ["string",
					"null"],
					"maxLength": 4000
				},
				"documentCategory": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"documentEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"documentEntityType": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"documentType": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"externalId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"fileContent": {
					"type": "string",
					"format": "base64url"
				},
				"fileExtension": {
					"type": "string",
					"maxLength": 5
				},
				"fileName": {
					"type": "string",
					"maxLength": 256
				},
				"fileSize": {
					"type": "integer",
					"format": "int32"
				},
				"imageConvertInProgress": {
					"type": "boolean"
				},
				"lastAccessed": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"mimeType": {
					"type": "string",
					"maxLength": 256
				},
				"module": {
					"type": "string",
					"maxLength": 100
				},
				"moduleCategory": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"ownerId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"ownerIdType": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"piiFlag": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"searchable": {
					"type": "boolean"
				},
				"softDelete": {
					"type": "boolean"
				},
				"userId": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"viewable": {
					"type": "boolean"
				}
			},
			"title": "Attachment"
		},
		"SFOData.PickListValueV2": {
			"type": "object",
			"properties": {
				"PickListV2_effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"PickListV2_id": {
					"type": "string",
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"lValue": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"label_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"label_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"legacyStatus": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"maxVal": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"minVal": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"nonUniqueExternalCode": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"optValue": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"optionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"parentPickListValue": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"rValue": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"parentPickListValueNav": {
					"title": "Related Collection(SFOData.PickListValueV2)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.PickListValueV2"
							}
						}
					}
				}
			},
			"title": "PickListValueV2"
		},
		"SFOData.ExternalLearnerPersonalInfo": {
			"type": "object",
			"properties": {
				"attachmentId": {
					"type": ["string",
					"null"]
				},
				"birthName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"businessFirstName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"businessLastName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"certificateEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"certificateStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"challengeStatus": {
					"type": ["boolean",
					"null"]
				},
				"countryOfBirth": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"dateOfBirth": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"dateOfDeath": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"displayName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"displayNameAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"displayNameAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"firstName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"firstNameAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"firstNameAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"formalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"formalNameAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"formalNameAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"gender": {
					"type": ["string",
					"null"],
					"maxLength": 2
				},
				"initials": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"isOverridden": {
					"type": ["boolean",
					"null"]
				},
				"is_deleted": {
					"type": ["boolean",
					"null"]
				},
				"itemId": {
					"type": "string",
					"format": "decimal",
					"multipleOf": 1
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastNameAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastNameAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"maritalStatus": {
					"type": ["string",
					"null"],
					"maxLength": 50
				},
				"middleName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"middleNameAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"middleNameAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"namePrefix": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"nationality": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"nativePreferredLang": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"preferredName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"salutation": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"script": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"secondLastName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"secondNationality": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"secondTitle": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"since": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"suffix": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"thirdNationality": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"title": {
					"type": ["string",
					"null"],
					"maxLength": 128
				}
			},
			"title": "ExternalLearnerPersonalInfo"
		},
		"SFOData.PickListV2": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"displayOrder": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"effectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"id": {
					"type": "string",
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"legacyPickListId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"name": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"parentPickList": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"picklistCreationSource": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"parentPickListNav": {
					"$ref": "#/definitions/SFOData.PickListV2"
				},
				"values": {
					"title": "Related Collection(SFOData.PickListValueV2)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.PickListValueV2"
							}
						}
					}
				}
			},
			"title": "PickListV2"
		},
		"SFOData.CompanyProvisioner": {
			"type": "object",
			"properties": {
				"createdAdminAccountNumber": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"email": {
					"type": ["string",
					"null"]
				},
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"status": {
					"type": ["string",
					"null"]
				}
			},
			"title": "CompanyProvisioner"
		},
		"SFOData.ExtAddressInfo": {
			"type": "object",
			"properties": {
				"address1": {
					"type": ["string",
					"null"],
					"maxLength": 1536
				},
				"address2": {
					"type": ["string",
					"null"],
					"maxLength": 1536
				},
				"addressId": {
					"type": "string",
					"format": "int64"
				},
				"addressType": {
					"type": ["string",
					"null"],
					"maxLength": 30
				},
				"city": {
					"type": ["string",
					"null"],
					"maxLength": 1536
				},
				"country": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"province": {
					"type": ["string",
					"null"],
					"maxLength": 1536
				},
				"state": {
					"type": ["string",
					"null"],
					"maxLength": 1536
				},
				"zipCode": {
					"type": ["string",
					"null"],
					"maxLength": 1536
				},
				"addressTypeNav": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				}
			},
			"title": "ExtAddressInfo"
		},
		"SFOData.CurrencyConversion": {
			"type": "object",
			"properties": {
				"baseCurrency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"code": {
					"type": "string",
					"maxLength": 128
				},
				"conversionRate": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"effectiveStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"exchangeRateType": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"externalName_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"toCurrency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"baseCurrencyNav": {
					"$ref": "#/definitions/SFOData.Currency"
				},
				"exchangeRateTypeNav": {
					"$ref": "#/definitions/SFOData.PickListValueV2"
				},
				"toCurrencyNav": {
					"$ref": "#/definitions/SFOData.Currency"
				}
			},
			"title": "CurrencyConversion"
		},
		"SFOData.InitiativeAlignmentBean": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"goalId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"goalName": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"goalType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"initiativeGroupBeanRowId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"initiativeId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"initiativeName": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				}
			},
			"title": "InitiativeAlignmentBean"
		},
		"SFOData.PicklistLabel": {
			"type": "object",
			"properties": {
				"id": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"label": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"locale": {
					"type": "string",
					"maxLength": 32
				},
				"optionId": {
					"type": "string",
					"format": "int64"
				},
				"picklistOption": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				}
			},
			"title": "PicklistLabel"
		},
		"SFOData.Country": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string",
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"effectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"externalName_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"isDRMEnabled": {
					"type": ["boolean",
					"null"]
				},
				"isSetByMigrate": {
					"type": ["boolean",
					"null"]
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"numericCountryCode": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"territoryId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"twoCharCountryCode": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"currencyNav": {
					"$ref": "#/definitions/SFOData.Currency"
				}
			},
			"title": "Country"
		},
		"SFOData.Photo": {
			"type": "object",
			"properties": {
				"height": {
					"type": "integer",
					"format": "int32"
				},
				"lastModified": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mimeType": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"photo": {
					"type": ["string",
					"null"],
					"format": "base64url"
				},
				"photoId": {
					"type": "string",
					"format": "int64"
				},
				"photoName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"photoType": {
					"type": "integer",
					"format": "int32"
				},
				"userId": {
					"type": "string",
					"maxLength": 100
				},
				"width": {
					"type": "integer",
					"format": "int32"
				}
			},
			"title": "Photo"
		},
		"SFOData.WorkOrder": {
			"type": "object",
			"properties": {
				"billingAmount": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"billingRate": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"currency": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"effectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"effectiveStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"endDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"userSysId": {
					"type": "string",
					"maxLength": 100
				},
				"vendor": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"workOrderId": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"workOrderName": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"workOrderOwnerId": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"workerType": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"currencyNav": {
					"$ref": "#/definitions/SFOData.Currency"
				},
				"vendorNav": {
					"$ref": "#/definitions/SFOData.VendorInfo"
				},
				"workerTypeNav": {
					"$ref": "#/definitions/SFOData.PickListValueV2"
				}
			},
			"title": "WorkOrder"
		},
		"SFOData.CompetencyRating": {
			"type": "object",
			"properties": {
				"formContentId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"formDataId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"guid": {
					"type": "string",
					"maxLength": 128
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"lastModified": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"module": {
					"type": "integer",
					"format": "int32"
				},
				"rater": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"raterCategory": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"rating": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"scaleMax": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"scaleMin": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"source": {
					"type": "integer",
					"format": "int32"
				},
				"status": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"type": {
					"type": "integer",
					"format": "int32"
				},
				"userId": {
					"type": "string",
					"maxLength": 100
				},
				"validFrom": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"validTo": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				}
			},
			"title": "CompetencyRating"
		},
		"SFOData.ExtEmailInfo": {
			"type": "object",
			"properties": {
				"emailAddress": {
					"type": "string",
					"maxLength": 100
				},
				"emailInfoId": {
					"type": "string",
					"format": "int64"
				},
				"emailType": {
					"type": "string",
					"maxLength": 38
				},
				"isPrimary": {
					"type": ["string",
					"null"],
					"maxLength": 4
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"emailTypeNav": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				}
			},
			"title": "ExtEmailInfo"
		},
		"SFOData.VendorInfo": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"description_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_localized": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"description_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"effectiveStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"vendorCode": {
					"type": "string",
					"maxLength": 128
				},
				"vendorName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				}
			},
			"title": "VendorInfo"
		},
		"SFOData.Picklist": {
			"type": "object",
			"properties": {
				"picklistId": {
					"type": "string",
					"maxLength": 64
				},
				"picklistOptions": {
					"title": "Related Collection(SFOData.PicklistOption)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.PicklistOption"
							}
						}
					}
				}
			},
			"title": "Picklist"
		},
		"SFOData.ExtPersonalInfo": {
			"type": "object",
			"properties": {
				"firstName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"middleName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"personalInfoId": {
					"type": "string",
					"format": "int64"
				}
			},
			"title": "ExtPersonalInfo"
		},
		"SFOData.ExternalLearnerEmailInfo": {
			"type": "object",
			"properties": {
				"emailAddress": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"emailType": {
					"type": ["string",
					"null"],
					"maxLength": 38
				},
				"isPrimary": {
					"type": ["boolean",
					"null"]
				},
				"is_deleted": {
					"type": ["boolean",
					"null"]
				},
				"itemId": {
					"type": "string",
					"format": "decimal",
					"multipleOf": 1
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"emailTypeNav": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				}
			},
			"title": "ExternalLearnerEmailInfo"
		},
		"SFOData.ExternalLearnerAddressInfo": {
			"type": "object",
			"properties": {
				"address10Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address10Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address11Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address11Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address12Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address12Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address13Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address13Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address14Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address14Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address15Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address15Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address16Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address16Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address17Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address17Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address18Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address18Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address19Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address19Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address1Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address1Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address20Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address20Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address2Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address2Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address3Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address3Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address4Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address4Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address5Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address5Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address6Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address6Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address7Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address7Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address8Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address8Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address9Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"address9Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"addressType": {
					"type": ["string",
					"null"],
					"maxLength": 30
				},
				"cityAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"cityAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"countyAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"countyAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"customDate1Alt1": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"customDate1Alt2": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"customDouble1Alt1": {
					"type": ["string",
					"null"]
				},
				"customDouble1Alt2": {
					"type": ["string",
					"null"]
				},
				"customLong1Alt1": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"customLong1Alt2": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"customString1Alt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"customString1Alt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"empUsersSysId": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"is_deleted": {
					"type": ["boolean",
					"null"]
				},
				"itemId": {
					"type": "string",
					"format": "decimal",
					"multipleOf": 1
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"provinceAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"provinceAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"script": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"scriptAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"scriptAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"stateAlt1": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"stateAlt2": {
					"type": ["string",
					"null"],
					"maxLength": 256
				},
				"addressTypeNav": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				}
			},
			"title": "ExternalLearnerAddressInfo"
		},
		"SFOData.ExternalLearnerPhoneInfo": {
			"type": "object",
			"properties": {
				"areaCode": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"countryCode": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"extension": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"isPrimary": {
					"type": ["boolean",
					"null"]
				},
				"is_deleted": {
					"type": ["boolean",
					"null"]
				},
				"itemId": {
					"type": "string",
					"format": "decimal",
					"multipleOf": 1
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"phoneNumber": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"phoneType": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"phoneTypeNav": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				}
			},
			"title": "ExternalLearnerPhoneInfo"
		},
		"SFOData.TimeZone": {
			"type": "object",
			"properties": {
				"comment": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"country": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"effectiveStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"name_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"name_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"supported": {
					"type": ["boolean",
					"null"]
				},
				"utcDstOffset": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"utcOffset": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"countryNav": {
					"$ref": "#/definitions/SFOData.Country"
				}
			},
			"title": "TimeZone"
		},
		"SFOData.ExternalLearner": {
			"type": "object",
			"properties": {
				"defaultLocale": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"is_deleted": {
					"type": ["boolean",
					"null"]
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"loginMethod": {
					"type": ["string",
					"null"],
					"maxLength": 8
				},
				"password": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"personGUID": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"personId": {
					"type": ["string",
					"null"],
					"format": "decimal",
					"multipleOf": 1
				},
				"personIdExternal": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"productName": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"sourceChannel": {
					"type": ["string",
					"null"],
					"maxLength": 90
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 2
				},
				"timeZone": {
					"type": ["string",
					"null"],
					"maxLength": 64
				},
				"userId": {
					"type": "string",
					"maxLength": 100
				},
				"userName": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"emailInfo": {
					"title": "Related Collection(SFOData.ExternalLearnerEmailInfo)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.ExternalLearnerEmailInfo"
							}
						}
					}
				},
				"homeAddress": {
					"title": "Related Collection(SFOData.ExternalLearnerAddressInfo)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.ExternalLearnerAddressInfo"
							}
						}
					}
				},
				"personalInfo": {
					"$ref": "#/definitions/SFOData.ExternalLearnerPersonalInfo"
				},
				"phoneInfo": {
					"title": "Related Collection(SFOData.ExternalLearnerPhoneInfo)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.ExternalLearnerPhoneInfo"
							}
						}
					}
				},
				"sourceChannelNav": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				}
			},
			"title": "ExternalLearner"
		},
		"SFOData.Currency": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string",
					"maxLength": 128
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"defaultDecimals": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"description_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"description_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"effectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"externalName_de_DE": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_defaultValue": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_en_GB": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_en_US": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_es_ES": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_fr_FR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ja_JP": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ko_KR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_localized": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_nl_NL": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_pt_BR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_pt_PT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_ru_RU": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_zh_CN": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalName_zh_TW": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"status": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"symbol": {
					"type": ["string",
					"null"],
					"maxLength": 255
				}
			},
			"title": "Currency"
		},
		"SFOData.TeamGoalOwner": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"objId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"ownerType": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"userId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				}
			},
			"title": "TeamGoalOwner"
		},
		"SFOData.ExtPhoneInfo": {
			"type": "object",
			"properties": {
				"areaCode": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"countryCode": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"extension": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"isPrimary": {
					"type": ["string",
					"null"],
					"maxLength": 4
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"phoneInfoId": {
					"type": "string",
					"format": "int64"
				},
				"phoneNumber": {
					"type": ["string",
					"null"],
					"maxLength": 600
				},
				"phoneType": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"phoneTypeNav": {
					"$ref": "#/definitions/SFOData.PicklistOption"
				}
			},
			"title": "ExtPhoneInfo"
		},
		"SFOData.SEFEventEntityKey": {
			"type": "object",
			"properties": {
				"description": {
					"type": "string"
				},
				"descriptionMessageKey": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"type": {
					"type": "string"
				}
			},
			"title": "SEFEventEntityKey"
		},
		"SFOData.SEFEventEntityParam": {
			"type": "object",
			"properties": {
				"description": {
					"type": "string"
				},
				"descriptionMessageKey": {
					"type": "string"
				},
				"hasValueAlways": {
					"type": ["boolean",
					"null"]
				},
				"name": {
					"type": "string"
				},
				"type": {
					"type": "string"
				}
			},
			"title": "SEFEventEntityParam"
		},
		"SFOData.SEFExtEventMetaData": {
			"type": "object",
			"properties": {
				"description": {
					"type": ["string",
					"null"]
				},
				"effectiveDated": {
					"type": ["boolean",
					"null"]
				},
				"entity": {
					"type": ["string",
					"null"]
				},
				"entityKeys": {
					"$ref": "#/definitions/SFOData.SEFEventEntityKey"
				},
				"name": {
					"type": ["string",
					"null"]
				},
				"params": {
					"$ref": "#/definitions/SFOData.SEFEventEntityParam"
				},
				"publisher": {
					"type": ["string",
					"null"]
				},
				"topic": {
					"type": ["string",
					"null"]
				},
				"type": {
					"type": ["string",
					"null"]
				}
			},
			"title": "SEFExtEventMetaData"
		},
		"SFOData.SEFExtEventMetaDataList": {
			"type": "object",
			"properties": {
				"data": {
					"$ref": "#/definitions/SFOData.SEFExtEventMetaData"
				},
				"status": {
					"type": ["string",
					"null"]
				},
				"statusMsg": {
					"type": ["string",
					"null"]
				}
			},
			"title": "SEFExtEventMetaDataList"
		},
		"SFOData.AccessibilityPreferences": {
			"type": "object",
			"properties": {
				"blindnessSupport": {
					"type": ["boolean",
					"null"]
				},
				"colorVisionType": {
					"type": ["string",
					"null"]
				},
				"keyboardOnlyNavigation": {
					"type": ["boolean",
					"null"]
				},
				"lowVisionType": {
					"type": ["string",
					"null"]
				}
			},
			"title": "AccessibilityPreferences"
		},
		"SFOData.COUserInfoElementBean": {
			"type": "object",
			"properties": {
				"id": {
					"type": ["string",
					"null"]
				},
				"label": {
					"type": ["string",
					"null"]
				},
				"type": {
					"type": ["string",
					"null"]
				},
				"value": {
					"type": ["string",
					"null"]
				}
			},
			"title": "COUserInfoElementBean"
		},
		"SFOData.ToDoEntry": {
			"type": "object",
			"properties": {
				"completedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"formDataId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"status": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"statusLabel": {
					"type": ["string",
					"null"]
				},
				"subjectFullName": {
					"type": ["string",
					"null"]
				},
				"subjectId": {
					"type": ["string",
					"null"]
				},
				"url": {
					"type": ["string",
					"null"]
				}
			},
			"title": "ToDoEntry",
			"description": "Complex type that contains password validation result, password salt and password hash."
		},
		"SFOData.ToDoBean": {
			"type": "object",
			"properties": {
				"categoryId": {
					"type": ["string",
					"null"]
				},
				"completedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"dueDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"dueDateOffSet": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"entries": {
					"$ref": "#/definitions/SFOData.ToDoEntry"
				},
				"entryId": {
					"type": "integer",
					"format": "int32"
				},
				"name": {
					"type": ["string",
					"null"]
				},
				"status": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"statusLabel": {
					"type": ["string",
					"null"]
				},
				"stepDescAlt": {
					"type": ["string",
					"null"]
				},
				"todoItemId": {
					"type": ["string",
					"null"]
				},
				"url": {
					"type": ["string",
					"null"]
				}
			},
			"title": "ToDoBean",
			"description": "Complex type that contains password validation result, password salt and password hash."
		}
	},
	"paths": {
		"/ExternalUser": {
			"get": {
				"summary": "Get entities from ExternalUser",
				"tags": ["Onboarding Users"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["defaultLocale",
						"defaultLocale desc",
						"is_deleted",
						"is_deleted desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"loginMethod",
						"loginMethod desc",
						"password",
						"password desc",
						"personGUID",
						"personGUID desc",
						"personId",
						"personId desc",
						"personIdExternal",
						"personIdExternal desc",
						"productName",
						"productName desc",
						"status",
						"status desc",
						"timeZone",
						"timeZone desc",
						"userId",
						"userId desc",
						"userName",
						"userName desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["defaultLocale",
						"is_deleted",
						"lastModifiedDateTime",
						"loginMethod",
						"password",
						"personGUID",
						"personId",
						"personIdExternal",
						"productName",
						"status",
						"timeZone",
						"userId",
						"userName"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"extAddressInfo",
						"extEmailInfo",
						"extPersonalInfo",
						"extPhoneInfo"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of ExternalUser",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.ExternalUser"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to ExternalUser",
				"tags": ["Onboarding Users"],
				"parameters": [{
					"name": "ExternalUser",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.ExternalUser"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created ExternalUser",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.ExternalUser"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/ExternalUser('{userId}')": {
			"get": {
				"summary": "Get entity from ExternalUser by key",
				"tags": ["Onboarding Users"],
				"parameters": [{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["defaultLocale",
						"is_deleted",
						"lastModifiedDateTime",
						"loginMethod",
						"password",
						"personGUID",
						"personId",
						"personIdExternal",
						"productName",
						"status",
						"timeZone",
						"userId",
						"userName"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"extAddressInfo",
						"extEmailInfo",
						"extPersonalInfo",
						"extPhoneInfo"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "ExternalUser",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.ExternalUser"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/PicklistOption": {
			"get": {
				"summary": "Get entities from PicklistOption",
				"tags": ["Picklist Options"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["externalCode",
						"externalCode desc",
						"id",
						"id desc",
						"maxValue",
						"maxValue desc",
						"minValue",
						"minValue desc",
						"optionValue",
						"optionValue desc",
						"sortOrder",
						"sortOrder desc",
						"status",
						"status desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["externalCode",
						"id",
						"maxValue",
						"minValue",
						"optionValue",
						"sortOrder",
						"status"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"childPicklistOptions",
						"parentPicklistOption",
						"picklist",
						"picklistLabels"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of PicklistOption",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.PicklistOption"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to PicklistOption",
				"tags": ["Picklist Options"],
				"parameters": [{
					"name": "PicklistOption",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.PicklistOption"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created PicklistOption",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.PicklistOption"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/PicklistOption({id})": {
			"get": {
				"summary": "Get entity from PicklistOption by key",
				"tags": ["Picklist Options"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"description": "key: id",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["externalCode",
						"id",
						"maxValue",
						"minValue",
						"optionValue",
						"sortOrder",
						"status"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"childPicklistOptions",
						"parentPicklistOption",
						"picklist",
						"picklistLabels"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "PicklistOption",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.PicklistOption"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in PicklistOption",
				"tags": ["Picklist Options"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"description": "key: id",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "PicklistOption",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified PicklistOption",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.PicklistOption"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Attachment": {
			"get": {
				"summary": "Get entities from Attachment",
				"tags": ["Attachments"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["attachmentId",
						"attachmentId desc",
						"createdDate",
						"createdDate desc",
						"deletable",
						"deletable desc",
						"deprecable",
						"deprecable desc",
						"description",
						"description desc",
						"documentCategory",
						"documentCategory desc",
						"documentEntityId",
						"documentEntityId desc",
						"documentEntityType",
						"documentEntityType desc",
						"documentType",
						"documentType desc",
						"externalId",
						"externalId desc",
						"fileContent",
						"fileContent desc",
						"fileExtension",
						"fileExtension desc",
						"fileName",
						"fileName desc",
						"fileSize",
						"fileSize desc",
						"imageConvertInProgress",
						"imageConvertInProgress desc",
						"lastAccessed",
						"lastAccessed desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mimeType",
						"mimeType desc",
						"module",
						"module desc",
						"moduleCategory",
						"moduleCategory desc",
						"ownerId",
						"ownerId desc",
						"ownerIdType",
						"ownerIdType desc",
						"piiFlag",
						"piiFlag desc",
						"searchable",
						"searchable desc",
						"softDelete",
						"softDelete desc",
						"userId",
						"userId desc",
						"viewable",
						"viewable desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["attachmentId",
						"createdDate",
						"deletable",
						"deprecable",
						"description",
						"documentCategory",
						"documentEntityId",
						"documentEntityType",
						"documentType",
						"externalId",
						"fileContent",
						"fileExtension",
						"fileName",
						"fileSize",
						"imageConvertInProgress",
						"lastAccessed",
						"lastModifiedDateTime",
						"mimeType",
						"module",
						"moduleCategory",
						"ownerId",
						"ownerIdType",
						"piiFlag",
						"searchable",
						"softDelete",
						"userId",
						"viewable"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Attachment",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Attachment"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Attachment",
				"tags": ["Attachments"],
				"parameters": [{
					"name": "Attachment",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Attachment"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Attachment",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Attachment"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Attachment({attachmentId})": {
			"get": {
				"summary": "Get entity from Attachment by key",
				"tags": ["Attachments"],
				"parameters": [{
					"name": "attachmentId",
					"in": "path",
					"required": true,
					"description": "key: attachmentId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["attachmentId",
						"createdDate",
						"deletable",
						"deprecable",
						"description",
						"documentCategory",
						"documentEntityId",
						"documentEntityType",
						"documentType",
						"externalId",
						"fileContent",
						"fileExtension",
						"fileName",
						"fileSize",
						"imageConvertInProgress",
						"lastAccessed",
						"lastModifiedDateTime",
						"mimeType",
						"module",
						"moduleCategory",
						"ownerId",
						"ownerIdType",
						"piiFlag",
						"searchable",
						"softDelete",
						"userId",
						"viewable"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Attachment",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Attachment"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Attachment",
				"tags": ["Attachments"],
				"parameters": [{
					"name": "attachmentId",
					"in": "path",
					"required": true,
					"description": "key: attachmentId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/PickListValueV2": {
			"get": {
				"summary": "Get entities from PickListValueV2",
				"tags": ["MDF PickList Values"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["PickListV2_effectiveStartDate",
						"PickListV2_effectiveStartDate desc",
						"PickListV2_id",
						"PickListV2_id desc",
						"createdBy",
						"createdBy desc",
						"createdDate",
						"createdDate desc",
						"createdDateTime",
						"createdDateTime desc",
						"externalCode",
						"externalCode desc",
						"lValue",
						"lValue desc",
						"label_de_DE",
						"label_de_DE desc",
						"label_defaultValue",
						"label_defaultValue desc",
						"label_en_GB",
						"label_en_GB desc",
						"label_en_US",
						"label_en_US desc",
						"label_es_ES",
						"label_es_ES desc",
						"label_fr_FR",
						"label_fr_FR desc",
						"label_ja_JP",
						"label_ja_JP desc",
						"label_ko_KR",
						"label_ko_KR desc",
						"label_localized",
						"label_localized desc",
						"label_nl_NL",
						"label_nl_NL desc",
						"label_pt_BR",
						"label_pt_BR desc",
						"label_pt_PT",
						"label_pt_PT desc",
						"label_ru_RU",
						"label_ru_RU desc",
						"label_zh_CN",
						"label_zh_CN desc",
						"label_zh_TW",
						"label_zh_TW desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"lastModifiedDateWithTZ",
						"lastModifiedDateWithTZ desc",
						"legacyStatus",
						"legacyStatus desc",
						"maxVal",
						"maxVal desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEffectiveStartDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc",
						"minVal",
						"minVal desc",
						"nonUniqueExternalCode",
						"nonUniqueExternalCode desc",
						"optValue",
						"optValue desc",
						"optionId",
						"optionId desc",
						"parentPickListValue",
						"parentPickListValue desc",
						"rValue",
						"rValue desc",
						"status",
						"status desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["PickListV2_effectiveStartDate",
						"PickListV2_id",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"externalCode",
						"lValue",
						"label_de_DE",
						"label_defaultValue",
						"label_en_GB",
						"label_en_US",
						"label_es_ES",
						"label_fr_FR",
						"label_ja_JP",
						"label_ko_KR",
						"label_localized",
						"label_nl_NL",
						"label_pt_BR",
						"label_pt_PT",
						"label_ru_RU",
						"label_zh_CN",
						"label_zh_TW",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"legacyStatus",
						"maxVal",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"minVal",
						"nonUniqueExternalCode",
						"optValue",
						"optionId",
						"parentPickListValue",
						"rValue",
						"status"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"parentPickListValueNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of PickListValueV2",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.PickListValueV2"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to PickListValueV2",
				"tags": ["MDF Picklist Values"],
				"parameters": [{
					"name": "PickListValueV2",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.PickListValueV2"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created PickListValueV2",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.PickListValueV2"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/PickListValueV2(PickListV2_effectiveStartDate={PickListV2_effectiveStartDate},PickListV2_id='{PickListV2_id}',externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from PickListValueV2 by key",
				"tags": ["MDF Picklist Values"],
				"parameters": [{
					"name": "PickListV2_effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: PickListV2_effectiveStartDate",
					"type": "string"
				},
				{
					"name": "PickListV2_id",
					"in": "path",
					"required": true,
					"description": "key: PickListV2_id",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["PickListV2_effectiveStartDate",
						"PickListV2_id",
						"createdBy",
						"createdDate",
						"createdDateTime",
						"externalCode",
						"lValue",
						"label_de_DE",
						"label_defaultValue",
						"label_en_GB",
						"label_en_US",
						"label_es_ES",
						"label_fr_FR",
						"label_ja_JP",
						"label_ko_KR",
						"label_localized",
						"label_nl_NL",
						"label_pt_BR",
						"label_pt_PT",
						"label_ru_RU",
						"label_zh_CN",
						"label_zh_TW",
						"lastModifiedBy",
						"lastModifiedDate",
						"lastModifiedDateTime",
						"lastModifiedDateWithTZ",
						"legacyStatus",
						"maxVal",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveStartDate",
						"mdfSystemEntityId",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId",
						"minVal",
						"nonUniqueExternalCode",
						"optValue",
						"optionId",
						"parentPickListValue",
						"rValue",
						"status"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"parentPickListValueNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "PickListValueV2",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.PickListValueV2"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in PickListValueV2",
				"tags": ["MDF Picklist Values"],
				"parameters": [{
					"name": "PickListV2_effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: PickListV2_effectiveStartDate",
					"type": "string"
				},
				{
					"name": "PickListV2_id",
					"in": "path",
					"required": true,
					"description": "key: PickListV2_id",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "PickListValueV2",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified PickListValueV2",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.PickListValueV2"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from PickListValueV2",
				"tags": ["MDF Picklist Values"],
				"parameters": [{
					"name": "PickListV2_effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: PickListV2_effectiveStartDate",
					"type": "string"
				},
				{
					"name": "PickListV2_id",
					"in": "path",
					"required": true,
					"description": "key: PickListV2_id",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/ExternalLearnerPersonalInfo": {
			"get": {
				"summary": "Get entities from ExternalLearnerPersonalInfo",
				"tags": ["Personal Info for Learning Users"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["attachmentId",
						"attachmentId desc",
						"birthName",
						"birthName desc",
						"businessFirstName",
						"businessFirstName desc",
						"businessLastName",
						"businessLastName desc",
						"certificateEndDate",
						"certificateEndDate desc",
						"certificateStartDate",
						"certificateStartDate desc",
						"challengeStatus",
						"challengeStatus desc",
						"countryOfBirth",
						"countryOfBirth desc",
						"dateOfBirth",
						"dateOfBirth desc",
						"dateOfDeath",
						"dateOfDeath desc",
						"displayName",
						"displayName desc",
						"displayNameAlt1",
						"displayNameAlt1 desc",
						"displayNameAlt2",
						"displayNameAlt2 desc",
						"firstName",
						"firstName desc",
						"firstNameAlt1",
						"firstNameAlt1 desc",
						"firstNameAlt2",
						"firstNameAlt2 desc",
						"formalName",
						"formalName desc",
						"formalNameAlt1",
						"formalNameAlt1 desc",
						"formalNameAlt2",
						"formalNameAlt2 desc",
						"gender",
						"gender desc",
						"initials",
						"initials desc",
						"isOverridden",
						"isOverridden desc",
						"is_deleted",
						"is_deleted desc",
						"itemId",
						"itemId desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"lastName",
						"lastName desc",
						"lastNameAlt1",
						"lastNameAlt1 desc",
						"lastNameAlt2",
						"lastNameAlt2 desc",
						"maritalStatus",
						"maritalStatus desc",
						"middleName",
						"middleName desc",
						"middleNameAlt1",
						"middleNameAlt1 desc",
						"middleNameAlt2",
						"middleNameAlt2 desc",
						"namePrefix",
						"namePrefix desc",
						"nationality",
						"nationality desc",
						"nativePreferredLang",
[...]
