{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"APIs to access Execution Manager",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	}],
	"info": {
		"title": "Execution Manager",
		"version": "1.0",
		"description": "Use these APIs to access events in Execution Manager, such as viewing event details, create and edit events, etc.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Execution Manager on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/65a0dc3b8a4942ba8de38fcfd064559c.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "Execution Manager Event Payloads"
	},
	{
		"name": "Execution Manager Monitored Processes"
	},
	{
		"name": "Execution Manager Event Attributes"
	},
	{
		"name": "Execution Manager Events"
	}],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.EMEventPayload": {
			"type": "object",
			"properties": {
				"fileName": {
					"type": ["string",
					"null"]
				},
				"fileType": {
					"type": ["string",
					"null"]
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"mimeType": {
					"type": ["string",
					"null"]
				},
				"payload": {
					"type": "string",
					"format": "base64url"
				},
				"type": {
					"type": "string"
				}
			},
			"title": "EMEventPayload"
		},
		"SFOData.EMMonitoredProcess": {
			"type": "object",
			"properties": {
				"coRelatorId": {
					"type": ["string",
					"null"]
				},
				"firstEventTime": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"hasErrors": {
					"type": ["string",
					"null"]
				},
				"hasWarnings": {
					"type": ["string",
					"null"]
				},
				"lastEventTime": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"moduleName": {
					"type": ["string",
					"null"]
				},
				"monitoredProcessId": {
					"type": "string",
					"format": "int64"
				},
				"processDefinitionId": {
					"type": "string"
				},
				"processDefinitionName": {
					"type": ["string",
					"null"]
				},
				"processInstanceId": {
					"type": "string"
				},
				"processInstanceName": {
					"type": ["string",
					"null"]
				},
				"processState": {
					"type": "string"
				},
				"processType": {
					"type": "string"
				}
			},
			"title": "EMMonitoredProcess"
		},
		"SFOData.EMEventAttribute": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string",
					"format": "int64"
				},
				"name": {
					"type": "string"
				},
				"value": {
					"type": ["string",
					"null"]
				}
			},
			"title": "EMEventAttribute"
		},
		"SFOData.EMEvent": {
			"type": "object",
			"properties": {
				"eventDescription": {
					"type": ["string",
					"null"]
				},
				"eventDescriptionMsgKey": {
					"type": ["string",
					"null"]
				},
				"eventName": {
					"type": "string"
				},
				"eventTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"eventType": {
					"type": ["string",
					"null"]
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"eventAttributes": {
					"title": "Related Collection(SFOData.EMEventAttribute)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.EMEventAttribute"
							}
						}
					}
				},
				"eventPayload": {
					"$ref": "#/definitions/SFOData.EMEventPayload"
				},
				"process": {
					"$ref": "#/definitions/SFOData.EMMonitoredProcess"
				}
			},
			"title": "EMEvent"
		}
	},
	"paths": {
		"/EMEventPayload": {
			"get": {
				"summary": "Get entities from EMEventPayload",
				"tags": ["Execution Manager Event Payloads"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["fileName",
						"fileName desc",
						"fileType",
						"fileType desc",
						"id",
						"id desc",
						"mimeType",
						"mimeType desc",
						"payload",
						"payload desc",
						"type",
						"type desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["fileName",
						"fileType",
						"id",
						"mimeType",
						"payload",
						"type"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of EMEventPayload",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.EMEventPayload"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to EMEventPayload",
				"tags": ["Execution Manager Event Payloads"],
				"parameters": [{
					"name": "EMEventPayload",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.EMEventPayload"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created EMEventPayload",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EMEventPayload"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EMEventPayload({id})": {
			"get": {
				"summary": "Get entity from EMEventPayload by key",
				"tags": ["Execution Manager Event Payloads"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"description": "key: id",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["fileName",
						"fileType",
						"id",
						"mimeType",
						"payload",
						"type"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "EMEventPayload",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EMEventPayload"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EMMonitoredProcess": {
			"get": {
				"summary": "Get entities from EMMonitoredProcess",
				"tags": ["Execution Manager Monitored Processes"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["coRelatorId",
						"coRelatorId desc",
						"firstEventTime",
						"firstEventTime desc",
						"hasErrors",
						"hasErrors desc",
						"hasWarnings",
						"hasWarnings desc",
						"lastEventTime",
						"lastEventTime desc",
						"moduleName",
						"moduleName desc",
						"monitoredProcessId",
						"monitoredProcessId desc",
						"processDefinitionId",
						"processDefinitionId desc",
						"processDefinitionName",
						"processDefinitionName desc",
						"processInstanceId",
						"processInstanceId desc",
						"processInstanceName",
						"processInstanceName desc",
						"processState",
						"processState desc",
						"processType",
						"processType desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["coRelatorId",
						"firstEventTime",
						"hasErrors",
						"hasWarnings",
						"lastEventTime",
						"moduleName",
						"monitoredProcessId",
						"processDefinitionId",
						"processDefinitionName",
						"processInstanceId",
						"processInstanceName",
						"processState",
						"processType"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of EMMonitoredProcess",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.EMMonitoredProcess"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to EMMonitoredProcess",
				"tags": ["Execution Manager Monitored Processes"],
				"parameters": [{
					"name": "EMMonitoredProcess",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.EMMonitoredProcess"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created EMMonitoredProcess",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EMMonitoredProcess"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EMMonitoredProcess(processDefinitionId='{processDefinitionId}',processInstanceId='{processInstanceId}',processType='{processType}')": {
			"get": {
				"summary": "Get entity from EMMonitoredProcess by key",
				"tags": ["Execution Manager Monitored Processes"],
				"parameters": [{
					"name": "processDefinitionId",
					"in": "path",
					"required": true,
					"description": "key: processDefinitionId",
					"type": "string"
				},
				{
					"name": "processInstanceId",
					"in": "path",
					"required": true,
					"description": "key: processInstanceId",
					"type": "string"
				},
				{
					"name": "processType",
					"in": "path",
					"required": true,
					"description": "key: processType",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["coRelatorId",
						"firstEventTime",
						"hasErrors",
						"hasWarnings",
						"lastEventTime",
						"moduleName",
						"monitoredProcessId",
						"processDefinitionId",
						"processDefinitionName",
						"processInstanceId",
						"processInstanceName",
						"processState",
						"processType"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "EMMonitoredProcess",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EMMonitoredProcess"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EMEventAttribute": {
			"get": {
				"summary": "Get entities from EMEventAttribute",
				"tags": ["Execution Manager Event Attributes"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["id",
						"id desc",
						"name",
						"name desc",
						"value",
						"value desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["id",
						"name",
						"value"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of EMEventAttribute",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.EMEventAttribute"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to EMEventAttribute",
				"tags": ["Execution Manager Event Attributes"],
				"parameters": [{
					"name": "EMEventAttribute",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.EMEventAttribute"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created EMEventAttribute",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EMEventAttribute"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EMEventAttribute({id})": {
			"get": {
				"summary": "Get entity from EMEventAttribute by key",
				"tags": ["Execution Manager Event Attributes"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"description": "key: id",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["id",
						"name",
						"value"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "EMEventAttribute",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EMEventAttribute"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EMEvent": {
			"get": {
				"summary": "Get entities from EMEvent",
				"tags": ["Execution Manager Events"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["eventDescription",
						"eventDescription desc",
						"eventDescriptionMsgKey",
						"eventDescriptionMsgKey desc",
						"eventName",
						"eventName desc",
						"eventTime",
						"eventTime desc",
						"eventType",
						"eventType desc",
						"id",
						"id desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["eventDescription",
						"eventDescriptionMsgKey",
						"eventName",
						"eventTime",
						"eventType",
						"id"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"eventAttributes",
						"eventPayload",
						"process"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of EMEvent",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.EMEvent"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to EMEvent",
				"tags": ["Execution Manager Events"],
				"parameters": [{
					"name": "EMEvent",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.EMEvent"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created EMEvent",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EMEvent"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/EMEvent({id})": {
			"get": {
				"summary": "Get entity from EMEvent by key",
				"tags": ["Execution Manager Events"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"description": "key: id",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["eventDescription",
						"eventDescriptionMsgKey",
						"eventName",
						"eventTime",
						"eventType",
						"id"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"eventAttributes",
						"eventPayload",
						"process"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "EMEvent",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.EMEvent"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		}
	},
	"parameters": {
		"top": {
			"name": "$top",
			"in": "query",
			"description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
			"type": "integer",
			"default":20
		},
		"skip": {
			"name": "$skip",
			"in": "query",
			"description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
			"type": "integer"
		},
		"count": {
			"name": "$count",
			"in": "query",
			"description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
			"type": "boolean"
		},
		"filter": {
			"name": "$filter",
			"in": "query",
			"description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
			"type": "string"
		},
		"search": {
			"name": "$search",
			"in": "query",
			"description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
			"type": "string"
		}
	},
	"responses": {
		"error": {
			"description": "Error",
			"schema": {
				"$ref": "#/definitions/odata.error"
			}
		}
	}
}
