{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"API to access Generic Objects.",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	}],
	"info": {
		"title": "Generic Objects",
		"version": "1.0",
		"description": "Use these APIs to access Generic Objects in the Metadata Framework. Note: The APIs exposed through the Generic Objects framework are based on custom configurations within the specific SuccessFactors instance.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "More information available on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/03e1fc3791684367a6a76a614a2916de.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "Voluntary Separation Requests"
	},
	{
		"name": "Commuting Allowance"
	},
	{
		"name": "Progressive Disciplinary Actions"
	},
	{
		"name": "Recruit Interview JP"
	},
	{
		"name": "MDF Enum Values"
	},
	{
		"name": "Group Medical Insurance IND"
	},
	{
		"name": "Grievances"
	},
	{
		"name": "Auth Sign"
	},
	{
		"name": "MDF Localized Values"
	},
	{
		"name": "Group Insurance Details IND"
	}],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.cust_voluntarySeparationRequest": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_eecomments": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_hrcomments": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_lastday": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_lastdayppolicy": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_mgrcomments": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_noticePeriodMonths": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_noticerecovery": {
					"type": ["boolean",
					"null"]
				},
				"cust_reason": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_requestAsOfDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_shortfallinnperiod": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 100
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				}
			},
			"title": "cust_voluntarySeparationRequest"
		},
		"SFOData.cust_CommutingAllowance": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_Amount": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"cust_ConnectionPoint": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_DestinationStation": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_OriginStation": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_PaymentInterval": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"cust_TrainLinename1": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_TrainLinename2": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 100
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				}
			},
			"title": "cust_CommutingAllowance"
		},
		"SFOData.cust_ProgressiveDisciplinaryAction": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_EEAcknowledgement": {
					"type": ["boolean",
					"null"]
				},
				"cust_FacetoFaceMtg": {
					"type": ["boolean",
					"null"]
				},
				"cust_IncidentDetails": {
					"type": ["string",
					"null"],
					"maxLength": 500
				},
				"cust_IncidentStatus": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_InitiateVerbal": {
					"type": ["boolean",
					"null"]
				},
				"cust_Reason": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_Severity": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_VerbalComments": {
					"type": ["string",
					"null"],
					"maxLength": 500
				},
				"cust_dateofincident": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_step": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_unionRep": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 100
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemRecordStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				},
				"mdfSystemStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				}
			},
			"title": "cust_ProgressiveDisciplinaryAction"
		},
		"SFOData.cust_RecruitInterviewJP": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_RCInt_1Commu": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_RCInt_1CommuGR": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_RCInt_2Mind": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_RCInt_2MindGR": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_RCInt_3Lead": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_RCInt_3LeadGR": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_RCInt_4Credit": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_RCInt_4CreditGR": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_RCInt_FinalGR": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_RCInt_FinalTXT": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_RCinterviewer": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 100
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": "string",
					"format": "int64"
				},
				"mdfSystemRecordStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				}
			},
			"title": "cust_RecruitInterviewJP"
		},
		"SFOData.MDFEnumValue": {
			"type": "object",
			"properties": {
				"de_DE": {
					"type": ["string",
					"null"]
				},
				"en_GB": {
					"type": ["string",
					"null"]
				},
				"en_US": {
					"type": ["string",
					"null"]
				},
				"es_ES": {
					"type": ["string",
					"null"]
				},
				"fr_FR": {
					"type": ["string",
					"null"]
				},
				"ja_JP": {
					"type": ["string",
					"null"]
				},
				"key": {
					"type": "string"
				},
				"ko_KR": {
					"type": ["string",
					"null"]
				},
				"nl_NL": {
					"type": ["string",
					"null"]
				},
				"pt_BR": {
					"type": ["string",
					"null"]
				},
				"pt_PT": {
					"type": ["string",
					"null"]
				},
				"ru_RU": {
					"type": ["string",
					"null"]
				},
				"value": {
					"type": "string"
				},
				"zh_CN": {
					"type": ["string",
					"null"]
				},
				"zh_TW": {
					"type": ["string",
					"null"]
				}
			},
			"title": "MDFEnumValue"
		},
		"SFOData.cust_groupMedicalInsuranceIND": {
			"type": "object",
			"properties": {
				"BenefitEmployeeClaim_id": {
					"type": "string",
					"format": "int64"
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_endDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_hospitalName": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"cust_illnessDesc": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_patientName": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"cust_relationship": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"format": "int64"
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				}
			},
			"title": "cust_groupMedicalInsuranceIND"
		},
		"SFOData.cust_grievances": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_attendGrievanceComm": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"cust_coResponse": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_coResponseDue": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_comments": {
					"type": ["string",
					"null"],
					"maxLength": 4000
				},
				"cust_dateSubmitted": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_description": {
					"type": ["string",
					"null"],
					"maxLength": 4000
				},
				"cust_grievanceNumber": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"cust_grievanceStatus": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_heardGrievance": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"cust_mngrRep1": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"cust_mngrRep2": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"cust_outcome": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"cust_union": {
					"type": ["string",
					"null"],
					"maxLength": 225
				},
				"cust_unionAppeal": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_unionAppealDue": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_unionRep1": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"cust_unionRep2": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"effectiveStartDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"externalCode": {
					"type": "string",
					"maxLength": 100
				},
				"externalName": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemCreatedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEffectiveEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemEntityId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemLastModifiedDateWithTZ": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemObjectType": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordId": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemTransactionSequence": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemVersionId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"mdfSystemRecordStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				},
				"mdfSystemStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				}
			},
			"title": "cust_grievances"
		},
		"SFOData.cust_auth_sign": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_asofdate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_signature": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"externalCode": {
					"type": "string",
					"maxLength": 100
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				}
			},
			"title": "cust_auth_sign"
		},
		"SFOData.MDFLocalizedValue": {
			"type": "object",
			"properties": {
				"locale": {
					"type": "string"
				},
				"value": {
					"type": ["string",
					"null"]
				}
			},
			"title": "MDFLocalizedValue"
		},
		"SFOData.cust_groupInsuranceDetailsIND": {
			"type": "object",
			"properties": {
				"BenefitEmployeeClaim_id": {
					"type": "string",
					"format": "int64"
				},
				"createdBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"createdDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"cust_endDate": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_sicknessDetails": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"cust_startDate": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"externalCode": {
					"type": "string",
					"maxLength": 128
				},
				"externalName": {
					"type": ["string",
					"null"],
					"maxLength": 128
				},
				"lastModifiedBy": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"lastModifiedDateTime": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"mdfSystemRecordStatus": {
					"type": ["string",
					"null"],
					"maxLength": 255
				},
				"mdfSystemRecordStatusNav": {
					"$ref": "#/definitions/SFOData.MDFEnumValue"
				}
			},
			"title": "cust_groupInsuranceDetailsIND"
		}
	},
	"paths": {
		"/cust_voluntarySeparationRequest": {
			"get": {
				"summary": "Get entities from cust_voluntarySeparationRequest",
				"tags": ["Voluntary Separation Requests"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"cust_eecomments",
						"cust_eecomments desc",
						"cust_hrcomments",
						"cust_hrcomments desc",
						"cust_lastday",
						"cust_lastday desc",
						"cust_lastdayppolicy",
						"cust_lastdayppolicy desc",
						"cust_mgrcomments",
						"cust_mgrcomments desc",
						"cust_noticePeriodMonths",
						"cust_noticePeriodMonths desc",
						"cust_noticerecovery",
						"cust_noticerecovery desc",
						"cust_reason",
						"cust_reason desc",
						"cust_requestAsOfDate",
						"cust_requestAsOfDate desc",
						"cust_shortfallinnperiod",
						"cust_shortfallinnperiod desc",
						"effectiveStartDate",
						"effectiveStartDate desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_eecomments",
						"cust_hrcomments",
						"cust_lastday",
						"cust_lastdayppolicy",
						"cust_mgrcomments",
						"cust_noticePeriodMonths",
						"cust_noticerecovery",
						"cust_reason",
						"cust_requestAsOfDate",
						"cust_shortfallinnperiod",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemEffectiveEndDate",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of cust_voluntarySeparationRequest",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.cust_voluntarySeparationRequest"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_voluntarySeparationRequest(effectiveStartDate={effectiveStartDate},externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from cust_voluntarySeparationRequest by key",
				"tags": ["Voluntary Separation Requests"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_eecomments",
						"cust_hrcomments",
						"cust_lastday",
						"cust_lastdayppolicy",
						"cust_mgrcomments",
						"cust_noticePeriodMonths",
						"cust_noticerecovery",
						"cust_reason",
						"cust_requestAsOfDate",
						"cust_shortfallinnperiod",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemEffectiveEndDate",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "cust_voluntarySeparationRequest",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_voluntarySeparationRequest"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_CommutingAllowance": {
			"get": {
				"summary": "Get entities from cust_CommutingAllowance",
				"tags": ["Commuting Allowance"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"cust_Amount",
						"cust_Amount desc",
						"cust_ConnectionPoint",
						"cust_ConnectionPoint desc",
						"cust_DestinationStation",
						"cust_DestinationStation desc",
						"cust_OriginStation",
						"cust_OriginStation desc",
						"cust_PaymentInterval",
						"cust_PaymentInterval desc",
						"cust_TrainLinename1",
						"cust_TrainLinename1 desc",
						"cust_TrainLinename2",
						"cust_TrainLinename2 desc",
						"effectiveStartDate",
						"effectiveStartDate desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_Amount",
						"cust_ConnectionPoint",
						"cust_DestinationStation",
						"cust_OriginStation",
						"cust_PaymentInterval",
						"cust_TrainLinename1",
						"cust_TrainLinename2",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemEffectiveEndDate",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of cust_CommutingAllowance",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.cust_CommutingAllowance"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to cust_CommutingAllowance",
				"tags": ["Commuting Allowance"],
				"parameters": [{
					"name": "cust_CommutingAllowance",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.cust_CommutingAllowance"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created cust_CommutingAllowance",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_CommutingAllowance"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_CommutingAllowance(effectiveStartDate={effectiveStartDate},externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from cust_CommutingAllowance by key",
				"tags": ["Commuting Allowance"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_Amount",
						"cust_ConnectionPoint",
						"cust_DestinationStation",
						"cust_OriginStation",
						"cust_PaymentInterval",
						"cust_TrainLinename1",
						"cust_TrainLinename2",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemEffectiveEndDate",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "cust_CommutingAllowance",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_CommutingAllowance"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in cust_CommutingAllowance",
				"tags": ["Commuting Allowance"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "cust_CommutingAllowance",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified cust_CommutingAllowance",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.cust_CommutingAllowance"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from cust_CommutingAllowance",
				"tags": ["Commuting Allowance"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_ProgressiveDisciplinaryAction": {
			"get": {
				"summary": "Get entities from cust_ProgressiveDisciplinaryAction",
				"tags": ["Progressive Disciplinary Actions"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"cust_EEAcknowledgement",
						"cust_EEAcknowledgement desc",
						"cust_FacetoFaceMtg",
						"cust_FacetoFaceMtg desc",
						"cust_IncidentDetails",
						"cust_IncidentDetails desc",
						"cust_IncidentStatus",
						"cust_IncidentStatus desc",
						"cust_InitiateVerbal",
						"cust_InitiateVerbal desc",
						"cust_Reason",
						"cust_Reason desc",
						"cust_Severity",
						"cust_Severity desc",
						"cust_VerbalComments",
						"cust_VerbalComments desc",
						"cust_dateofincident",
						"cust_dateofincident desc",
						"cust_step",
						"cust_step desc",
						"cust_unionRep",
						"cust_unionRep desc",
						"effectiveStartDate",
						"effectiveStartDate desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedBy desc",
						"mdfSystemCreatedDate",
						"mdfSystemCreatedDate desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedBy desc",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDate desc",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemLastModifiedDateWithTZ desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemStatus",
						"mdfSystemStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_EEAcknowledgement",
						"cust_FacetoFaceMtg",
						"cust_IncidentDetails",
						"cust_IncidentStatus",
						"cust_InitiateVerbal",
						"cust_Reason",
						"cust_Severity",
						"cust_VerbalComments",
						"cust_dateofincident",
						"cust_step",
						"cust_unionRep",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedDate",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEntityId",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav",
						"mdfSystemStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of cust_ProgressiveDisciplinaryAction",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.cust_ProgressiveDisciplinaryAction"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to cust_ProgressiveDisciplinaryAction",
				"tags": ["Progressive Disciplinary Actions"],
				"parameters": [{
					"name": "cust_ProgressiveDisciplinaryAction",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.cust_ProgressiveDisciplinaryAction"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created cust_ProgressiveDisciplinaryAction",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_ProgressiveDisciplinaryAction"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_ProgressiveDisciplinaryAction(effectiveStartDate={effectiveStartDate},externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from cust_ProgressiveDisciplinaryAction by key",
				"tags": ["Progressive Disciplinary Actions"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_EEAcknowledgement",
						"cust_FacetoFaceMtg",
						"cust_IncidentDetails",
						"cust_IncidentStatus",
						"cust_InitiateVerbal",
						"cust_Reason",
						"cust_Severity",
						"cust_VerbalComments",
						"cust_dateofincident",
						"cust_step",
						"cust_unionRep",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedDate",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEntityId",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav",
						"mdfSystemStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "cust_ProgressiveDisciplinaryAction",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_ProgressiveDisciplinaryAction"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in cust_ProgressiveDisciplinaryAction",
				"tags": ["Progressive Disciplinary Actions"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "cust_ProgressiveDisciplinaryAction",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified cust_ProgressiveDisciplinaryAction",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.cust_ProgressiveDisciplinaryAction"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from cust_ProgressiveDisciplinaryAction",
				"tags": ["Progressive Disciplinary Actions"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_RecruitInterviewJP": {
			"get": {
				"summary": "Get entities from cust_RecruitInterviewJP",
				"tags": ["Recruit Interview JP"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"cust_RCInt_1Commu",
						"cust_RCInt_1Commu desc",
						"cust_RCInt_1CommuGR",
						"cust_RCInt_1CommuGR desc",
						"cust_RCInt_2Mind",
						"cust_RCInt_2Mind desc",
						"cust_RCInt_2MindGR",
						"cust_RCInt_2MindGR desc",
						"cust_RCInt_3Lead",
						"cust_RCInt_3Lead desc",
						"cust_RCInt_3LeadGR",
						"cust_RCInt_3LeadGR desc",
						"cust_RCInt_4Credit",
						"cust_RCInt_4Credit desc",
						"cust_RCInt_4CreditGR",
						"cust_RCInt_4CreditGR desc",
						"cust_RCInt_FinalGR",
						"cust_RCInt_FinalGR desc",
						"cust_RCInt_FinalTXT",
						"cust_RCInt_FinalTXT desc",
						"cust_RCinterviewer",
						"cust_RCinterviewer desc",
						"effectiveStartDate",
						"effectiveStartDate desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_RCInt_1Commu",
						"cust_RCInt_1CommuGR",
						"cust_RCInt_2Mind",
						"cust_RCInt_2MindGR",
						"cust_RCInt_3Lead",
						"cust_RCInt_3LeadGR",
						"cust_RCInt_4Credit",
						"cust_RCInt_4CreditGR",
						"cust_RCInt_FinalGR",
						"cust_RCInt_FinalTXT",
						"cust_RCinterviewer",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemEffectiveEndDate",
						"mdfSystemRecordStatus",
						"mdfSystemTransactionSequence"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of cust_RecruitInterviewJP",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.cust_RecruitInterviewJP"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_RecruitInterviewJP(effectiveStartDate={effectiveStartDate},externalCode='{externalCode}',mdfSystemTransactionSequence={mdfSystemTransactionSequence})": {
			"get": {
				"summary": "Get entity from cust_RecruitInterviewJP by key",
				"tags": ["Recruit Interview JP"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "mdfSystemTransactionSequence",
					"in": "path",
					"required": true,
					"description": "key: mdfSystemTransactionSequence",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_RCInt_1Commu",
						"cust_RCInt_1CommuGR",
						"cust_RCInt_2Mind",
						"cust_RCInt_2MindGR",
						"cust_RCInt_3Lead",
						"cust_RCInt_3LeadGR",
						"cust_RCInt_4Credit",
						"cust_RCInt_4CreditGR",
						"cust_RCInt_FinalGR",
						"cust_RCInt_FinalTXT",
						"cust_RCinterviewer",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemEffectiveEndDate",
						"mdfSystemRecordStatus",
						"mdfSystemTransactionSequence"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "cust_RecruitInterviewJP",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_RecruitInterviewJP"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/MDFEnumValue": {
			"get": {
				"summary": "Get entities from MDFEnumValue",
				"tags": ["MDF Enum Value"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["de_DE",
						"de_DE desc",
						"en_GB",
						"en_GB desc",
						"en_US",
						"en_US desc",
						"es_ES",
						"es_ES desc",
						"fr_FR",
						"fr_FR desc",
						"ja_JP",
						"ja_JP desc",
						"key",
						"key desc",
						"ko_KR",
						"ko_KR desc",
						"nl_NL",
						"nl_NL desc",
						"pt_BR",
						"pt_BR desc",
						"pt_PT",
						"pt_PT desc",
						"ru_RU",
						"ru_RU desc",
						"value",
						"value desc",
						"zh_CN",
						"zh_CN desc",
						"zh_TW",
						"zh_TW desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["de_DE",
						"en_GB",
						"en_US",
						"es_ES",
						"fr_FR",
						"ja_JP",
						"key",
						"ko_KR",
						"nl_NL",
						"pt_BR",
						"pt_PT",
						"ru_RU",
						"value",
						"zh_CN",
						"zh_TW"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of MDFEnumValue",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.MDFEnumValue"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/MDFEnumValue(key='{key}',value='{value}')": {
			"get": {
				"summary": "Get entity from MDFEnumValue by key",
				"tags": ["MDF Enum Value"],
				"parameters": [{
					"name": "key",
					"in": "path",
					"required": true,
					"description": "key: key",
					"type": "string"
				},
				{
					"name": "value",
					"in": "path",
					"required": true,
					"description": "key: value",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["de_DE",
						"en_GB",
						"en_US",
						"es_ES",
						"fr_FR",
						"ja_JP",
						"key",
						"ko_KR",
						"nl_NL",
						"pt_BR",
						"pt_PT",
						"ru_RU",
						"value",
						"zh_CN",
						"zh_TW"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "MDFEnumValue",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.MDFEnumValue"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_groupMedicalInsuranceIND": {
			"get": {
				"summary": "Get entities from cust_groupMedicalInsuranceIND",
				"tags": ["Group Medical Insurance IND"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["BenefitEmployeeClaim_id",
						"BenefitEmployeeClaim_id desc",
						"createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"cust_endDate",
						"cust_endDate desc",
						"cust_hospitalName",
						"cust_hospitalName desc",
						"cust_illnessDesc",
						"cust_illnessDesc desc",
						"cust_patientName",
						"cust_patientName desc",
						"cust_relationship",
						"cust_relationship desc",
						"cust_startDate",
						"cust_startDate desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["BenefitEmployeeClaim_id",
						"createdBy",
						"createdDateTime",
						"cust_endDate",
						"cust_hospitalName",
						"cust_illnessDesc",
						"cust_patientName",
						"cust_relationship",
						"cust_startDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of cust_groupMedicalInsuranceIND",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.cust_groupMedicalInsuranceIND"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_groupMedicalInsuranceIND(BenefitEmployeeClaim_id={BenefitEmployeeClaim_id},externalCode={externalCode})": {
			"get": {
				"summary": "Get entity from cust_groupMedicalInsuranceIND by key",
				"tags": ["Group Medical Insurance IND"],
				"parameters": [{
					"name": "BenefitEmployeeClaim_id",
					"in": "path",
					"required": true,
					"description": "key: BenefitEmployeeClaim_id",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["BenefitEmployeeClaim_id",
						"createdBy",
						"createdDateTime",
						"cust_endDate",
						"cust_hospitalName",
						"cust_illnessDesc",
						"cust_patientName",
						"cust_relationship",
						"cust_startDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "cust_groupMedicalInsuranceIND",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_groupMedicalInsuranceIND"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_grievances": {
			"get": {
				"summary": "Get entities from cust_grievances",
				"tags": ["Grievances"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"cust_attendGrievanceComm",
						"cust_attendGrievanceComm desc",
						"cust_coResponse",
						"cust_coResponse desc",
						"cust_coResponseDue",
						"cust_coResponseDue desc",
						"cust_comments",
						"cust_comments desc",
						"cust_dateSubmitted",
						"cust_dateSubmitted desc",
						"cust_description",
						"cust_description desc",
						"cust_grievanceNumber",
						"cust_grievanceNumber desc",
						"cust_grievanceStatus",
						"cust_grievanceStatus desc",
						"cust_heardGrievance",
						"cust_heardGrievance desc",
						"cust_mngrRep1",
						"cust_mngrRep1 desc",
						"cust_mngrRep2",
						"cust_mngrRep2 desc",
						"cust_outcome",
						"cust_outcome desc",
						"cust_union",
						"cust_union desc",
						"cust_unionAppeal",
						"cust_unionAppeal desc",
						"cust_unionAppealDue",
						"cust_unionAppealDue desc",
						"cust_unionRep1",
						"cust_unionRep1 desc",
						"cust_unionRep2",
						"cust_unionRep2 desc",
						"effectiveStartDate",
						"effectiveStartDate desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedBy desc",
						"mdfSystemCreatedDate",
						"mdfSystemCreatedDate desc",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEffectiveEndDate desc",
						"mdfSystemEntityId",
						"mdfSystemEntityId desc",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedBy desc",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDate desc",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemLastModifiedDateWithTZ desc",
						"mdfSystemObjectType",
						"mdfSystemObjectType desc",
						"mdfSystemRecordId",
						"mdfSystemRecordId desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc",
						"mdfSystemStatus",
						"mdfSystemStatus desc",
						"mdfSystemTransactionSequence",
						"mdfSystemTransactionSequence desc",
						"mdfSystemVersionId",
						"mdfSystemVersionId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_attendGrievanceComm",
						"cust_coResponse",
						"cust_coResponseDue",
						"cust_comments",
						"cust_dateSubmitted",
						"cust_description",
						"cust_grievanceNumber",
						"cust_grievanceStatus",
						"cust_heardGrievance",
						"cust_mngrRep1",
						"cust_mngrRep2",
						"cust_outcome",
						"cust_union",
						"cust_unionAppeal",
						"cust_unionAppealDue",
						"cust_unionRep1",
						"cust_unionRep2",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedDate",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEntityId",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav",
						"mdfSystemStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of cust_grievances",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.cust_grievances"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to cust_grievances",
				"tags": ["Grievances"],
				"parameters": [{
					"name": "cust_grievances",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.cust_grievances"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created cust_grievances",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_grievances"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_grievances(effectiveStartDate={effectiveStartDate},externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from cust_grievances by key",
				"tags": ["Grievances"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_attendGrievanceComm",
						"cust_coResponse",
						"cust_coResponseDue",
						"cust_comments",
						"cust_dateSubmitted",
						"cust_description",
						"cust_grievanceNumber",
						"cust_grievanceStatus",
						"cust_heardGrievance",
						"cust_mngrRep1",
						"cust_mngrRep2",
						"cust_outcome",
						"cust_union",
						"cust_unionAppeal",
						"cust_unionAppealDue",
						"cust_unionRep1",
						"cust_unionRep2",
						"effectiveStartDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemCreatedBy",
						"mdfSystemCreatedDate",
						"mdfSystemEffectiveEndDate",
						"mdfSystemEntityId",
						"mdfSystemLastModifiedBy",
						"mdfSystemLastModifiedDate",
						"mdfSystemLastModifiedDateWithTZ",
						"mdfSystemObjectType",
						"mdfSystemRecordId",
						"mdfSystemRecordStatus",
						"mdfSystemStatus",
						"mdfSystemTransactionSequence",
						"mdfSystemVersionId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav",
						"mdfSystemStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "cust_grievances",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_grievances"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in cust_grievances",
				"tags": ["Grievances"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "cust_grievances",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified cust_grievances",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.cust_grievances"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from cust_grievances",
				"tags": ["Grievances"],
				"parameters": [{
					"name": "effectiveStartDate",
					"in": "path",
					"required": true,
					"description": "key: effectiveStartDate",
					"type": "string"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_auth_sign": {
			"get": {
				"summary": "Get entities from cust_auth_sign",
				"tags": ["Auth Sign"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"cust_asofdate",
						"cust_asofdate desc",
						"cust_signature",
						"cust_signature desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_asofdate",
						"cust_signature",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of cust_auth_sign",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.cust_auth_sign"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to cust_auth_sign",
				"tags": ["Auth Sign"],
				"parameters": [{
					"name": "cust_auth_sign",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.cust_auth_sign"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created cust_auth_sign",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_auth_sign"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_auth_sign('{externalCode}')": {
			"get": {
				"summary": "Get entity from cust_auth_sign by key",
				"tags": ["Auth Sign"],
				"parameters": [{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["createdBy",
						"createdDateTime",
						"cust_asofdate",
						"cust_signature",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "cust_auth_sign",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_auth_sign"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in cust_auth_sign",
				"tags": ["Auth Sign"],
				"parameters": [{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "cust_auth_sign",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified cust_auth_sign",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.cust_auth_sign"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from cust_auth_sign",
				"tags": ["Auth Sign"],
				"parameters": [{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/MDFLocalizedValue": {
			"get": {
				"summary": "Get entities from MDFLocalizedValue",
				"tags": ["MDF Localized Values"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["locale",
						"locale desc",
						"value",
						"value desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["locale",
						"value"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of MDFLocalizedValue",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.MDFLocalizedValue"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/MDFLocalizedValue('{locale}')": {
			"get": {
				"summary": "Get entity from MDFLocalizedValue by key",
				"tags": ["MDF Localized Values"],
				"parameters": [{
					"name": "locale",
					"in": "path",
					"required": true,
					"description": "key: locale",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["locale",
						"value"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "MDFLocalizedValue",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.MDFLocalizedValue"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_groupInsuranceDetailsIND": {
			"get": {
				"summary": "Get entities from cust_groupInsuranceDetailsIND",
				"tags": ["Group Insurance Details IND"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["BenefitEmployeeClaim_id",
						"BenefitEmployeeClaim_id desc",
						"createdBy",
						"createdBy desc",
						"createdDateTime",
						"createdDateTime desc",
						"cust_endDate",
						"cust_endDate desc",
						"cust_sicknessDetails",
						"cust_sicknessDetails desc",
						"cust_startDate",
						"cust_startDate desc",
						"externalCode",
						"externalCode desc",
						"externalName",
						"externalName desc",
						"lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDateTime",
						"lastModifiedDateTime desc",
						"mdfSystemRecordStatus",
						"mdfSystemRecordStatus desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["BenefitEmployeeClaim_id",
						"createdBy",
						"createdDateTime",
						"cust_endDate",
						"cust_sicknessDetails",
						"cust_startDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of cust_groupInsuranceDetailsIND",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.cust_groupInsuranceDetailsIND"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/cust_groupInsuranceDetailsIND(BenefitEmployeeClaim_id={BenefitEmployeeClaim_id},externalCode='{externalCode}')": {
			"get": {
				"summary": "Get entity from cust_groupInsuranceDetailsIND by key",
				"tags": ["Group Insurance Details IND"],
				"parameters": [{
					"name": "BenefitEmployeeClaim_id",
					"in": "path",
					"required": true,
					"description": "key: BenefitEmployeeClaim_id",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "externalCode",
					"in": "path",
					"required": true,
					"description": "key: externalCode",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["BenefitEmployeeClaim_id",
						"createdBy",
						"createdDateTime",
						"cust_endDate",
						"cust_sicknessDetails",
						"cust_startDate",
						"externalCode",
						"externalName",
						"lastModifiedBy",
						"lastModifiedDateTime",
						"mdfSystemRecordStatus"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"mdfSystemRecordStatusNav"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "cust_groupInsuranceDetailsIND",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.cust_groupInsuranceDetailsIND"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		}
	},
	"parameters": {
		"top": {
			"name": "$top",
			"in": "query",
			"description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
			"type": "integer",
			"default":20
		},
		"skip": {
			"name": "$skip",
			"in": "query",
			"description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
			"type": "integer"
		},
		"count": {
			"name": "$count",
			"in": "query",
			"description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
			"type": "boolean"
		},
		"filter": {
			"name": "$filter",
			"in": "query",
			"description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
			"type": "string"
		},
		"search": {
			"name": "$search",
			"in": "query",
			"description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
			"type": "string"
		}
	},
	"responses": {
		"error": {
			"description": "Error",
			"schema": {
				"$ref": "#/definitions/odata.error"
			}
		}
	}
}
