{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"API for role based permission, such as access list of available roles.",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	}],
	"info": {
		"title": "Role Based Permissions",
		"version": "1.0",
		"description": "API for role based permission, such as access list of available roles, list of rules for a given role or list of rules across all roles and grant a role to a user.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Role Based Permissions on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/1411316651974a7dae4b09a104172dc2.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "Dynamic Group Expressions"
	},
	{
		"name": "Dynamic Group"
	},
	{
		"name": "RBP Rules"
	},
	{
		"name": "Dynamic Group Fields"
	},
	{
		"name": "Dynamic Group Field Values"
	},
	{
		"name": "Dynamic Group Filters"
	},
	{
		"name": "RBP Roles"
	},
	{
		"name": "Dynamic Group People Pools"
	},
	{
		"name": "RBP Basic Permissions"
	},
	{
		"name": "Dynamic Group Field Operators"
	},
	{
		"name": "Dynamic Group Definition"
    }],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.DGExpression": {
			"type": "object",
			"properties": {
				"expressionID": {
					"type": "string",
					"maxLength": 200
				},
				"operator": {
					"$ref": "#/definitions/SFOData.DGFieldOperator"
				},
				"values": {
					"title": "Related Collection(SFOData.DGFieldValue)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DGFieldValue"
							}
						}
					}
				}
			},
			"title": "DGExpression"
		},
		"SFOData.DynamicGroup": {
			"type": "object",
			"properties": {
				"activeMembershipCount": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"groupID": {
					"type": "string",
					"format": "int64"
				},
				"groupName": {
					"type": "string",
					"maxLength": 100
				},
				"groupType": {
					"type": "string",
					"maxLength": 32
				},
				"lastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"staticGroup": {
					"type": "boolean"
				},
				"userType": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"dgExcludePools": {
					"title": "Related Collection(SFOData.DGPeoplePool)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DGPeoplePool"
							}
						}
					}
				},
				"dgIncludePools": {
					"title": "Related Collection(SFOData.DGPeoplePool)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DGPeoplePool"
							}
						}
					}
				}
			},
			"title": "DynamicGroup"
		},
		"SFOData.RBPRule": {
			"type": "object",
			"properties": {
				"accessGroupLevel": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"accessUserType": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"excludeSelf": {
					"type": "boolean"
				},
				"includeSelf": {
					"type": ["boolean",
					"null"]
				},
				"myFilter": {
					"type": ["string",
					"null"],
					"maxLength": 100
				},
				"relationRole": {
					"type": ["string",
					"null"],
					"maxLength": 20
				},
				"ruleId": {
					"type": "string",
					"format": "int64"
				},
				"status": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"targetGroupLevel": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"targetUserType": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"accessGroups": {
					"title": "Related Collection(SFOData.DynamicGroup)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DynamicGroup"
							}
						}
					}
				},
				"roles": {
					"$ref": "#/definitions/SFOData.RBPRole"
				},
				"targetGroups": {
					"title": "Related Collection(SFOData.DynamicGroup)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DynamicGroup"
							}
						}
					}
				}
			},
			"title": "RBPRule"
		},
		"SFOData.DGField": {
			"type": "object",
			"properties": {
				"dataType": {
					"type": "string",
					"maxLength": 200
				},
				"label": {
					"type": "string",
					"maxLength": 200
				},
				"name": {
					"type": "string",
					"maxLength": 200
				},
				"picklistId": {
					"type": "string",
					"maxLength": 200
				},
				"allowedOperators": {
					"title": "Related Collection(SFOData.DGFieldOperator)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DGFieldOperator"
							}
						}
					}
				}
			},
			"title": "DGField"
		},
		"SFOData.DGFieldValue": {
			"type": "object",
			"properties": {
				"fieldValue": {
					"type": "string",
					"maxLength": 200
				}
			},
			"title": "DGFieldValue"
		},
		"SFOData.DGFilter": {
			"type": "object",
			"properties": {
				"filterId": {
					"type": "string",
					"maxLength": 200
				},
				"expressions": {
					"title": "Related Collection(SFOData.DGExpression)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DGExpression"
							}
						}
					}
				},
				"field": {
					"$ref": "#/definitions/SFOData.DGField"
				}
			},
			"title": "DGFilter"
		},
		"SFOData.RBPRole": {
			"type": "object",
			"properties": {
				"lastModifiedBy": {
					"type": "string",
					"maxLength": 100
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"roleDesc": {
					"type": ["string",
					"null"],
					"maxLength": 4000
				},
				"roleId": {
					"type": "string",
					"format": "int64"
				},
				"roleName": {
					"type": "string",
					"maxLength": 256
				},
				"userType": {
					"type": ["string",
					"null"],
					"maxLength": 32
				},
				"permissions": {
					"title": "Related Collection(SFOData.RBPBasicPermission)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.RBPBasicPermission"
							}
						}
					}
				},
				"rules": {
					"title": "Related Collection(SFOData.RBPRule)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.RBPRule"
							}
						}
					}
				}
			},
			"title": "RBPRole"
		},
		"SFOData.DGPeoplePool": {
			"type": "object",
			"properties": {
				"peoplePoolId": {
					"type": "string",
					"maxLength": 200
				},
				"filters": {
					"title": "Related Collection(SFOData.DGFilter)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DGFilter"
							}
						}
					}
				}
			},
			"title": "DGPeoplePool"
		},
		"SFOData.RBPBasicPermission": {
			"type": "object",
			"properties": {
				"permissionId": {
					"type": "string",
					"format": "int64"
				},
				"permissionLongValue": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"permissionStringValue": {
					"type": "string",
					"maxLength": 256
				},
				"permissionType": {
					"type": "string",
					"maxLength": 100
				}
			},
			"title": "RBPBasicPermission"
		},
		"SFOData.DGFieldOperator": {
			"type": "object",
			"properties": {
				"label": {
					"type": "string",
					"maxLength": 200
				},
				"token": {
					"type": "string",
					"maxLength": 200
				}
			},
			"title": "DGFieldOperator"
		},
		"SFOData.DynamicGroupBean": {
			"type": "object",
			"properties": {
				"groupId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"groupName": {
					"type": ["string",
					"null"]
				}
			},
			"title": "DynamicGroupBean"
		},
		"SFOData.DynamicGroupUserBean": {
			"type": "object",
			"properties": {
				"firstName": {
					"type": ["string",
					"null"]
				},
				"lastName": {
					"type": ["string",
					"null"]
				},
				"middleName": {
					"type": ["string",
					"null"]
				},
				"userId": {
					"type": ["string",
					"null"]
				},
				"userName": {
					"type": ["string",
					"null"]
				}
			},
			"title": "DynamicGroupUserBean"
		},
		"SFOData.DynamicGroupDefinition": {
			"type": "object",
			"properties": {
				"excludedPeoplePool1": {
					"type": [
						"string",
						"null"
					]
				},
				"excludedPeoplePool2": {
				"type": [
					"string",
					"null"
					]
				},
                "excludedPeoplePool3": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "groupID": {
                    "type": "string",
                    "format": "int64"
                },
                "includedPeoplePool1": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "includedPeoplePool2": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "includedPeoplePool3": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "group": {
                    "$ref": "#/definitions/SFOData.DynamicGroup"
                }
            },
			"title": "DynamicGroupDefinition"
		},
		"API_RBP.CheckUserPermissions": {
			"title": "CheckUserPermissions",
			"type": "object",
			"properties": {
				"userid": {
					"type": "string"
				},
				"username": {
					"type": "string"
				},
				"email": {
					"type": "string"
				},
				"permissions": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/API_RBP.Permissions"
					}
				}
			}
		},
		"API_RBP.Permissions": {
      		"title": "Permissions",
      		"type": "object",
      		"properties": {
      			"type": {
					"type": "string",
					"maxLength": 100
				},
				"string_value": {
					"type": "string",
					"maxLength": 256
				},
				"long_value": {
					"type": "integer",
					"format": "int64",
					"default": -1
				}
			}
		}
    },
	"paths": {
		"/DGExpression": {
			"get": {
				"summary": "Get entities from DGExpression",
				"tags": ["Dynamic Group Expressions"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["expressionID",
						"expressionID desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["expressionID"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"operator",
						"values"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DGExpression",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DGExpression"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGExpression('{expressionID}')": {
			"get": {
				"summary": "Get entity from DGExpression by key",
				"tags": ["Dynamic Group Expressions"],
				"parameters": [{
					"name": "expressionID",
					"in": "path",
					"required": true,
					"description": "key: expressionID",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["expressionID"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"operator",
						"values"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DGExpression",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DGExpression"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DynamicGroup": {
			"get": {
				"summary": "Get entities from DynamicGroup",
				"tags": ["Dynamic Groups"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["activeMembershipCount",
						"activeMembershipCount desc",
						"groupID",
						"groupID desc",
						"groupName",
						"groupName desc",
						"groupType",
						"groupType desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"staticGroup",
						"staticGroup desc",
						"userType",
						"userType desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["activeMembershipCount",
						"groupID",
						"groupName",
						"groupType",
						"lastModifiedDate",
						"staticGroup",
						"userType"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"dgExcludePools",
						"dgIncludePools"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DynamicGroup",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DynamicGroup"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DynamicGroup({groupID})": {
			"get": {
				"summary": "Get entity from DynamicGroup by key",
				"tags": ["Dynamic Groups"],
				"parameters": [{
					"name": "groupID",
					"in": "path",
					"required": true,
					"description": "key: groupID",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["activeMembershipCount",
						"groupID",
						"groupName",
						"groupType",
						"lastModifiedDate",
						"staticGroup",
						"userType"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"dgExcludePools",
						"dgIncludePools"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DynamicGroup",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DynamicGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/RBPRule": {
			"get": {
				"summary": "Get entities from RBPRule",
				"tags": ["RBP Rules"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["accessGroupLevel",
						"accessGroupLevel desc",
						"accessUserType",
						"accessUserType desc",
						"excludeSelf",
						"excludeSelf desc",
						"includeSelf",
						"includeSelf desc",
						"myFilter",
						"myFilter desc",
						"relationRole",
						"relationRole desc",
						"ruleId",
						"ruleId desc",
						"status",
						"status desc",
						"targetGroupLevel",
						"targetGroupLevel desc",
						"targetUserType",
						"targetUserType desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["accessGroupLevel",
						"accessUserType",
						"excludeSelf",
						"includeSelf",
						"myFilter",
						"relationRole",
						"ruleId",
						"status",
						"targetGroupLevel",
						"targetUserType"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"accessGroups",
						"roles",
						"targetGroups"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of RBPRule",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.RBPRule"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/RBPRule({ruleId})": {
			"get": {
				"summary": "Get entity from RBPRule by key",
				"tags": ["RBP Rules"],
				"parameters": [{
					"name": "ruleId",
					"in": "path",
					"required": true,
					"description": "key: ruleId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["accessGroupLevel",
						"accessUserType",
						"excludeSelf",
						"includeSelf",
						"myFilter",
						"relationRole",
						"ruleId",
						"status",
						"targetGroupLevel",
						"targetUserType"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"accessGroups",
						"roles",
						"targetGroups"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "RBPRule",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.RBPRule"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from RBPRule",
				"tags": ["RBP Rules"],
				"parameters": [{
					"name": "ruleId",
					"in": "path",
					"required": true,
					"description": "key: ruleId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGField": {
			"get": {
				"summary": "Get entities from DGField",
				"tags": ["Dynamic Group Fields"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["dataType",
						"dataType desc",
						"label",
						"label desc",
						"name",
						"name desc",
						"picklistId",
						"picklistId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["dataType",
						"label",
						"name",
						"picklistId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"allowedOperators"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DGField",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DGField"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGField('{name}')": {
			"get": {
				"summary": "Get entity from DGField by key",
				"tags": ["Dynamic Group Fields"],
				"parameters": [{
					"name": "name",
					"in": "path",
					"required": true,
					"description": "key: name",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["dataType",
						"label",
						"name",
						"picklistId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"allowedOperators"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DGField",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DGField"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGFieldValue": {
			"get": {
				"summary": "Get entities from DGFieldValue",
				"tags": ["Dynamic Group Field Values"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["fieldValue",
						"fieldValue desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["fieldValue"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DGFieldValue",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DGFieldValue"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGFieldValue('{fieldValue}')": {
			"get": {
				"summary": "Get entity from DGFieldValue by key",
				"tags": ["Dynamic Group Field Values"],
				"parameters": [{
					"name": "fieldValue",
					"in": "path",
					"required": true,
					"description": "key: fieldValue",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["fieldValue"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DGFieldValue",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DGFieldValue"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGFilter": {
			"get": {
				"summary": "Get entities from DGFilter",
				"tags": ["Dynamic Group Filters"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["filterId",
						"filterId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["filterId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"expressions",
						"field"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DGFilter",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DGFilter"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGFilter('{filterId}')": {
			"get": {
				"summary": "Get entity from DGFilter by key",
				"tags": ["Dynamic Group Filters"],
				"parameters": [{
					"name": "filterId",
					"in": "path",
					"required": true,
					"description": "key: filterId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["filterId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"expressions",
						"field"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DGFilter",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DGFilter"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/RBPRole": {
			"get": {
				"summary": "Get entities from RBPRole",
				"tags": ["RBP Roles"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["lastModifiedBy",
						"lastModifiedBy desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"roleDesc",
						"roleDesc desc",
						"roleId",
						"roleId desc",
						"roleName",
						"roleName desc",
						"userType",
						"userType desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["lastModifiedBy",
						"lastModifiedDate",
						"roleDesc",
						"roleId",
						"roleName",
						"userType"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"permissions",
						"rules"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of RBPRole",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.RBPRole"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/RBPRole({roleId})": {
			"get": {
				"summary": "Get entity from RBPRole by key",
				"tags": ["RBP Roles"],
				"parameters": [{
					"name": "roleId",
					"in": "path",
					"required": true,
					"description": "key: roleId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["lastModifiedBy",
						"lastModifiedDate",
						"roleDesc",
						"roleId",
						"roleName",
						"userType"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"permissions",
						"rules"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "RBPRole",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.RBPRole"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from RBPRole",
				"tags": ["RBP Roles"],
				"parameters": [{
					"name": "roleId",
					"in": "path",
					"required": true,
					"description": "key: roleId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGPeoplePool": {
			"get": {
				"summary": "Get entities from DGPeoplePool",
				"tags": ["Dynamic Group People Pools"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["peoplePoolId",
						"peoplePoolId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["peoplePoolId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"filters"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DGPeoplePool",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DGPeoplePool"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGPeoplePool('{peoplePoolId}')": {
			"get": {
				"summary": "Get entity from DGPeoplePool by key",
				"tags": ["Dynamic Group People Pools"],
				"parameters": [{
					"name": "peoplePoolId",
					"in": "path",
					"required": true,
					"description": "key: peoplePoolId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["peoplePoolId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"filters"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DGPeoplePool",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DGPeoplePool"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/RBPBasicPermission": {
			"get": {
				"summary": "Get entities from RBPBasicPermission",
				"tags": ["RBP Basic Permissions"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["permissionId",
						"permissionId desc",
						"permissionLongValue",
						"permissionLongValue desc",
						"permissionStringValue",
						"permissionStringValue desc",
						"permissionType",
						"permissionType desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["permissionId",
						"permissionLongValue",
						"permissionStringValue",
						"permissionType"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of RBPBasicPermission",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.RBPBasicPermission"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/RBPBasicPermission({permissionId})": {
			"get": {
				"summary": "Get entity from RBPBasicPermission by key",
				"tags": ["RBP Basic Permissions"],
				"parameters": [{
					"name": "permissionId",
					"in": "path",
					"required": true,
					"description": "key: permissionId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["permissionId",
						"permissionLongValue",
						"permissionStringValue",
						"permissionType"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "RBPBasicPermission",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.RBPBasicPermission"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGFieldOperator": {
			"get": {
				"summary": "Get entities from DGFieldOperator",
				"tags": ["Dynamic Group Field Operators"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["label",
						"label desc",
						"token",
						"token desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["label",
						"token"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DGFieldOperator",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DGFieldOperator"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DGFieldOperator('{token}')": {
			"get": {
				"summary": "Get entity from DGFieldOperator by key",
				"tags": ["Dynamic Group Field Operators"],
				"parameters": [{
					"name": "token",
					"in": "path",
					"required": true,
					"description": "key: token",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["label",
						"token"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DGFieldOperator",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DGFieldOperator"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DynamicGroupDefinition": {
			"get": {
				"summary": "Get entities from DynamicGroupDefinition",
				"tags": ["Dynamic Group Definition"],
				"parameters": [
					{
						"$ref": "#/parameters/top"
					},
					{
						"$ref": "#/parameters/skip"
					},
					{
						"$ref": "#/parameters/search"
					},
					{
						"$ref": "#/parameters/filter"
					},
					{
						"$ref": "#/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": [
								"excludedPeoplePool1",
								"excludedPeoplePool1 desc",
								"excludedPeoplePool2",
								"excludedPeoplePool2 desc",
								"excludedPeoplePool3",
								"excludedPeoplePool3 desc",
								"groupID",
								"groupID desc",
								"includedPeoplePool1",
								"includedPeoplePool1 desc",
								"includedPeoplePool2",
								"includedPeoplePool2 desc",
								"includedPeoplePool3",
								"includedPeoplePool3 desc"
							]
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": [
								"excludedPeoplePool1",
								"excludedPeoplePool2",
								"excludedPeoplePool3",
								"groupID",
								"includedPeoplePool1",
								"includedPeoplePool2",
								"includedPeoplePool3"
							]
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": [
								"*",
								"group"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DynamicGroupDefinition",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DynamicGroupDefinition"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DynamicGroupDefinition({groupID})": {
			"get": {
				"summary": "Get entity from DynamicGroupDefinition by key",
				"tags": ["Dynamic Group Definition"],
				"parameters": [
					{
						"name": "groupID",
						"in": "path",
						"required": true,
						"description": "key: groupID",
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": [
								"excludedPeoplePool1",
								"excludedPeoplePool2",
								"excludedPeoplePool3",
								"groupID",
								"includedPeoplePool1",
								"includedPeoplePool2",
								"includedPeoplePool3"
							]
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string",
							"enum": [
								"*",
								"group"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DynamicGroupDefinition",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DynamicGroupDefinition"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/checkUserPermission": {
			"get": {
				"summary": "Invoke function checkUserPermission",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "accessUserId",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "permType",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "permStringValue",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "permLongValue",
					"in": "query",
					"required": true,
					"type": "string",
					"format": "int64"
				},
				{
					"name": "targetUserId",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "includeInactiveUser",
					"in": "query",
					"required": true,
					"type": "boolean"
				},
				{
					"name": "includeTBHUser",
					"in": "query",
					"required": true,
					"type": "boolean"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"type": "boolean"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/updateStaticGroup": {
			"get": {
				"summary": "Invoke function updateStaticGroup",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "groupId",
					"in": "query",
					"required": true,
					"type": "string",
					"format": "int64"
				},
				{
					"name": "action",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "userIds",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"type": "integer",
									"format": "int32"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getDynamicGroupsByUser": {
			"get": {
				"summary": "Invoke function getDynamicGroupsByUser",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "userId",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "groupSubType",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"title": "Related Collection(SFOData.DynamicGroupBean)",
									"type": "object",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DynamicGroupBean"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getUsersByDynamicGroup": {
			"get": {
				"summary": "Invoke function getUsersByDynamicGroup",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "groupId",
					"in": "query",
					"required": true,
					"type": "string",
					"format": "int64"
				},
				{
					"name": "activeOnly",
					"in": "query",
					"required": true,
					"type": "boolean"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"title": "Related Collection(SFOData.DynamicGroupUserBean)",
									"type": "object",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DynamicGroupUserBean"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getUserRolesReport": {
			"get": {
				"summary": "Invoke function getUserRolesReport",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "userIds",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"type": "string"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getPermissionMetadata": {
			"get": {
				"summary": "Invoke function getPermissionMetadata",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "locale",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"type": "string"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getUsersPermissions": {
			"get": {
				"summary": "Invoke function getUsersPermissions",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "userIds",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "locale",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"type": "string"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getRolesPermissions": {
			"get": {
				"summary": "Invoke function getRolesPermissions",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "roleIds",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "locale",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"type": "string"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getExpandedDynamicGroupByName": {
			"get": {
				"summary": "Invoke function getExpandedDynamicGroupByName",
				"tags": ["Dynamic Groups"],
				"parameters": [{
					"name": "groupName",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DynamicGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getExpandedDynamicGroupByNameAndSubType": {
			"get": {
				"summary": "Invoke function getExpandedDynamicGroupByNameAndSubType",
				"tags": ["Dynamic Groups"],
				"parameters": [{
					"name": "groupName",
					"in": "query",
					"required": true,
					"type": "string"
				},
				{
					"name": "groupType",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DynamicGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getExpandedDynamicGroupById": {
			"get": {
				"summary": "Invoke function getExpandedDynamicGroupById",
				"tags": ["Dynamic Groups"],
				"parameters": [{
					"name": "groupId",
					"in": "query",
					"required": true,
					"type": "string",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DynamicGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/getUserRolesByUserId": {
			"get": {
				"summary": "Invoke function getUserRolesByUserId",
				"tags": ["RBP Roles"],
				"parameters": [{
					"name": "userId",
					"in": "query",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"title": "Result",
							"type": "object",
							"properties": {
								"d": {
									"title": "Related Collection(SFOData.RBPRole)",
									"type": "object",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.RBPRole"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/checkUserPermissions": {
			"parameters": [],
			"post": {
				"summary": "Invoke action checkUserPermissions",
				"tags": ["Service Operations"],
				"parameters": [{
					"name": "Body",
					"in": "body",
					"required": true,
 					"description": "Check User Permissions.",
					"schema": {
						"$ref": "#/definitions/API_RBP.CheckUserPermissions"
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"properties": {
								"d": {
									"type": "string"
								}
							},
							"title": "Result",
							"type": "object"
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		}
	},
	"parameters": {
		"top": {
			"name": "$top",
			"in": "query",
			"description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
			"type": "integer",
			"default":20
		},
		"skip": {
			"name": "$skip",
			"in": "query",
			"description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
			"type": "integer"
		},
		"count": {
			"name": "$count",
			"in": "query",
			"description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
			"type": "boolean"
		},
		"filter": {
			"name": "$filter",
			"in": "query",
			"description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
			"type": "string"
		},
		"search": {
			"name": "$search",
			"in": "query",
			"description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
			"type": "string"
		}
	},
	"responses": {
		"error": {
			"description": "Error",
			"schema": {
				"$ref": "#/definitions/odata.error"
			}
		}
	}
}