{
    "swagger": "2.0",
    "security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
    "x-sap-shortText":"API to access job requisition data such as job descriptions.",
    "x-servers": [{
        "url": "https://{api-server}/odata/v2",
        "description": "OData APIs for the SuccessFactors Data Centers",
        "templates": {
            "api-server": {
                "description": "SuccessFactors Data Center host",
                "default": "apisalesdemo8.successfactors.com"
            }
        }
    }],
    "info": {
        "title": "Job Requisition",
        "version": "1.0",
        "description": "Use these APIs to create and manage job requisitions, use Job Analyzer to improve job requisitions, as well as access information of qualified candidates.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
    },
    "externalDocs": {
        "description": "Job Requisition APIs on SAP Help Portal",
        "url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/5511f05d636f414084a22909bc35f509.html"
    },
    "schemes": ["https"],
    "host": "sandbox.api.sap.com",
    "basePath": "/successfactors/odata/v2",
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "tags": [{
        "name": "Job Requisition Locale"
    },
    {
        "name": "Job Requisition Question"
    },
    {
        "name": "Job Requisition Group Operator"
    },
    {
        "name": "Job Requisition Posting"
    },
    {
        "name": "Job Requisition"
    },
    {
        "name": "Job Requisition Screening Question Choice"
    },
    {
        "name": "Job Requisition Operator"
    },
    {
        "name": "Job Requisition Screening Question"
    },
    {
        "name": "Job Requisition GO-Position Object"
    }],
    "definitions": {
        "odata.error": {
            "type": "object",
            "required": ["error"],
            "properties": {
                "error": {
                    "$ref": "#/definitions/odata.error.main"
                }
            }
        },
        "odata.error.main": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "details": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/odata.error.detail"
                    }
                },
                "innererror": {
                    "type": "object",
                    "description": "The structure of this object is service-specific"
                }
            }
        },
        "odata.error.detail": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            }
        },
        "SFOData.JobRequisitionLocale": {
            "type": "object",
            "properties": {
                "extJobDescFooter": {
                    "type": "string"
                },
                "extJobDescHeader": {
                    "type": "string"
                },
                "externalJobDescription": {
                    "type": "string"
                },
                "externalTitle": {
                    "type": "string"
                },
                "intJobDescFooter": {
                    "type": "string"
                },
                "intJobDescHeader": {
                    "type": "string"
                },
                "jobDescription": {
                    "type": "string"
                },
                "jobReqId": {
                    "type": "string",
                    "format": "int64"
                },
                "jobReqLocalId": {
                    "type": "string",
                    "format": "int64"
                },
                "jobTitle": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "templateHeaderFooter": {
                    "type": ["string",
                    "null"]
                },
                "jobRequisition": {
                    "$ref": "#/definitions/SFOData.JobRequisition"
                }
            },
            "title": "JobRequisitionLocale"
        },
        "SFOData.JobReqQuestion": {
            "type": "object",
            "properties": {
                "questionCategory": {
                    "type": "string"
                },
                "questionId": {
                    "type": "string",
                    "format": "int64"
                },
                "questionName": {
                    "type": "string"
                },
                "questionSource": {
                    "type": "string"
                },
                "questionType": {
                    "type": "string"
                }
            },
            "title": "JobReqQuestion"
        },
        "SFOData.JobRequisitionGroupOperator": {
            "type": "object",
            "properties": {
                "adminSelectedGroupToBeRemoved": {
                    "type": ["boolean",
                    "null"]
                },
                "isAdminSelected": {
                    "type": "boolean"
                },
                "isDisabled": {
                    "type": ["boolean",
                    "null"]
                },
                "jobReqId": {
                    "type": "string",
                    "format": "int64"
                },
                "operatorRole": {
                    "type": "string"
                },
                "userGroupId": {
                    "type": "string",
                    "format": "int64"
                },
                "userGroupName": {
                    "type": "string"
                },
                "jobRequisition": {
                    "$ref": "#/definitions/SFOData.JobRequisition"
                }
            },
            "title": "JobRequisitionGroupOperator"
        },
        "SFOData.JobRequisitionPosting": {
            "type": "object",
            "properties": {
                "agencyComments": {
                    "type": "string"
                },
                "boardId": {
                    "type": "string"
                },
                "boardName": {
                    "type": "string"
                },
                "channelId": {
                    "type": "string"
                },
                "extPartnerAccountId": {
                    "type": "string",
                    "format": "int64"
                },
                "jobPostingId": {
                    "type": "string",
                    "format": "int64"
                },
                "jobReqId": {
                    "type": "string",
                    "format": "int64"
                },
                "lastModifiedBy": {
                    "type": "string"
                },
                "lastModifiedDateTime": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "postEndDate": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "postEndDateOffset": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "postStartDate": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "postStartDateOffset": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "postedBy": {
                    "type": "string"
                },
                "postingStatus": {
                    "type": "string"
                },
                "jobRequisition": {
                    "$ref": "#/definitions/SFOData.JobRequisition"
                }
            },
            "title": "JobRequisitionPosting"
        },
        "SFOData.JobRequisition": {
            "type": "object",
            "properties": {
                "accommodation_cost": {
                    "type": ["string",
                    "null"]
                },
                "age": {
                    "type": "string",
                    "format": "int64"
                },
                "agency_fee": {
                    "type": ["string",
                    "null"]
                },
                "annual_FB": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "annual_PF": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "annual_SA": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "annual_cashPay": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "annual_gratuity": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "annual_retirals": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "appTemplateId": {
                    "type": "string",
                    "format": "int64"
                },
                "assessRatingScaleName": {
                    "type": "string"
                },
                "candidateProgress": {
                    "type": "string",
                    "format": "int64"
                },
                "city": {
                    "type": ["string",
                    "null"]
                },
                "classificationTime": {
                    "type": ["string",
                    "null"]
                },
                "classificationType": {
                    "type": ["string",
                    "null"]
                },
                "closedDateTime": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "comment": {
                    "type": ["string",
                    "null"]
                },
                "commentEquip": {
                    "type": ["string",
                    "null"]
                },
                "commission": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "corporatePosting": {
                    "type": ["boolean",
                    "null"]
                },
                "costCenterId": {
                    "type": ["string",
                    "null"]
                },
                "costOfHire": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "country": {
                    "type": ["string",
                    "null"]
                },
                "createdDateTime": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "currency": {
                    "type": ["string",
                    "null"]
                },
                "customString10": {
                    "type": ["string",
                    "null"]
                },
                "customString3": {
                    "type": ["string",
                    "null"]
                },
                "customString4": {
                    "type": ["string",
                    "null"]
                },
                "customString8": {
                    "type": ["string",
                    "null"]
                },
                "defaultLanguage": {
                    "type": ["string",
                    "null"]
                },
                "deleted": {
                    "type": "string"
                },
                "department": {
                    "type": ["string",
                    "null"]
                },
                "division": {
                    "type": ["string",
                    "null"]
                },
                "erpAmount": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "facility": {
                    "type": ["string",
                    "null"]
                },
                "formDataId": {
                    "type": "string",
                    "format": "int64"
                },
                "formDueDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "function": {
                    "type": ["string",
                    "null"]
                },
                "hiringManagerNote": {
                    "type": ["string",
                    "null"]
                },
                "industry": {
                    "type": ["string",
                    "null"]
                },
                "instrCostHire": {
                    "type": ["string",
                    "null"]
                },
                "instrERS": {
                    "type": ["string",
                    "null"]
                },
                "instrEquest": {
                    "type": ["string",
                    "null"]
                },
                "instrEquipment": {
                    "type": ["string",
                    "null"]
                },
                "instrInterview": {
                    "type": ["string",
                    "null"]
                },
                "instrInvolvedParties": {
                    "type": ["string",
                    "null"]
                },
                "instrManagernote": {
                    "type": ["string",
                    "null"]
                },
                "instrOverallComments": {
                    "type": ["string",
                    "null"]
                },
                "instrPD": {
                    "type": ["string",
                    "null"]
                },
                "instrReq": {
                    "type": ["string",
                    "null"]
                },
                "instrReqDates": {
                    "type": ["string",
                    "null"]
                },
                "instrReqDetails": {
                    "type": ["string",
                    "null"]
                },
                "instrReqJustify": {
                    "type": ["string",
                    "null"]
                },
                "instrReqRequire": {
                    "type": ["string",
                    "null"]
                },
                "instrSalary": {
                    "type": ["string",
                    "null"]
                },
                "instr_rec_cost": {
                    "type": ["string",
                    "null"]
                },
                "internalStatus": {
                    "type": "string"
                },
                "intranetPosting": {
                    "type": ["boolean",
                    "null"]
                },
                "isDraft": {
                    "type": ["boolean",
                    "null"]
                },
                "jobCode": {
                    "type": ["string",
                    "null"]
                },
                "jobReqGUId": {
                    "type": "string"
                },
                "jobReqId": {
                    "type": "string",
                    "format": "int64"
                },
                "jobRole": {
                    "type": ["string",
                    "null"]
                },
                "jobStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedBy": {
                    "type": "string"
                },
                "lastModifiedDateTime": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedProxyUserId": {
                    "type": "string"
                },
                "legentity": {
                    "type": ["string",
                    "null"]
                },
                "location": {
                    "type": ["string",
                    "null"]
                },
                "misc_cost": {
                    "type": ["string",
                    "null"]
                },
                "monthly_FB": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "monthly_PF": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "monthly_SA": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "monthly_cashPay": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "monthly_gratuity": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "monthly_retirals": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "monthly_salary": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "numberOpenings": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "openingsFilled": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "otherBonus": {
                    "type": ["string",
                    "null"]
                },
                "otherCompensation": {
                    "type": ["string",
                    "null"]
                },
                "otherEquip": {
                    "type": ["string",
                    "null"]
                },
                "othrComms": {
                    "type": ["string",
                    "null"]
                },
                "overallScaleName": {
                    "type": "string"
                },
                "positionNumber": {
                    "type": "string"
                },
                "postalcode": {
                    "type": ["string",
                    "null"]
                },
                "ratedApplicantCount": {
                    "type": "string",
                    "format": "int64"
                },
                "recruitJust": {
                    "type": ["string",
                    "null"]
                },
                "replforwhom": {
                    "type": ["string",
                    "null"]
                },
                "restorehiringManagerTeamAdminDefaults": {
                    "type": ["boolean",
                    "null"]
                },
                "restorerecruiterTeamAdminDefaults": {
                    "type": ["boolean",
                    "null"]
                },
                "restoresourcerTeamAdminDefaults": {
                    "type": ["boolean",
                    "null"]
                },
                "restorevpOfStaffingTeamAdminDefaults": {
                    "type": ["boolean",
                    "null"]
                },
                "reverseScale": {
                    "type": "string"
                },
                "salRateType": {
                    "type": ["string",
                    "null"]
                },
                "salaryBase": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "salaryComment": {
                    "type": ["string",
                    "null"]
                },
                "salaryMax": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "salaryMin": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "stateProvince": {
                    "type": ["string",
                    "null"]
                },
                "statusSetId": {
                    "type": "string",
                    "format": "int64"
                },
                "stockPackage": {
                    "type": ["string",
                    "null"]
                },
                "targetBonusAmount": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "tempDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "templateId": {
                    "type": "string",
                    "format": "int64"
                },
                "templateType": {
                    "type": "string"
                },
                "timeToFill": {
                    "type": "string",
                    "format": "int64"
                },
                "total_earnings": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "total_fixed_pay": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "total_hire_cost": {
                    "type": ["string",
                    "null"]
                },
                "travel_cost": {
                    "type": ["string",
                    "null"]
                },
                "workHours": {
                    "type": ["string",
                    "null"]
                },
                "approver": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "coordinator": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "currentOwner": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "hiringManager": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "hiringManagerTeam": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "hiringManagerTeamGroup": {
                    "title": "Related Collection(SFOData.JobRequisitionGroupOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionGroupOperator"
                            }
                        }
                    }
                },
                "jobReqLocale": {
                    "title": "Related Collection(SFOData.JobRequisitionLocale)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionLocale"
                            }
                        }
                    }
                },
                "jobReqPostings": {
                    "title": "Related Collection(SFOData.JobRequisitionPosting)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionPosting"
                            }
                        }
                    }
                },
                "jobReqScreeningQuestions": {
                    "title": "Related Collection(SFOData.JobReqScreeningQuestion)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobReqScreeningQuestion"
                            }
                        }
                    }
                },
                "originator": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "questions": {
                    "title": "Related Collection(SFOData.JobReqQuestion)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobReqQuestion"
                            }
                        }
                    }
                },
                "recruiter": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "recruiterTeam": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "recruiterTeamGroup": {
                    "title": "Related Collection(SFOData.JobRequisitionGroupOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionGroupOperator"
                            }
                        }
                    }
                },
                "secondRecruiter": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "sourcer": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "sourcerTeam": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "sourcerTeamGroup": {
                    "title": "Related Collection(SFOData.JobRequisitionGroupOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionGroupOperator"
                            }
                        }
                    }
                },
                "vpOfStaffing": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "vpOfStaffingTeam": {
                    "title": "Related Collection(SFOData.JobRequisitionOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionOperator"
                            }
                        }
                    }
                },
                "vpOfStaffingTeamGroup": {
                    "title": "Related Collection(SFOData.JobRequisitionGroupOperator)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobRequisitionGroupOperator"
                            }
                        }
                    }
                },
                "std_position_objlist": {
                        "title": "Related Collection(SFOData.JobReqGOPosition)",
                        "type": "array",
                        "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobReqGOPosition"
                            }
                        }
                    },
                        "x-insertable": false,
                        "x-filterable": true
                }
            },
            "title": "JobRequisition"
        },
        "SFOData.JobReqScreeningQuestionChoice": {
            "type": "object",
            "properties": {
                "locale": {
                    "type": "string"
                },
                "optionId": {
                    "type": "string",
                    "format": "int64"
                },
                "optionLabel": {
                    "type": "string"
                },
                "optionValue": {
                    "type": ["number",
                    "string"],
                    "format": "double",
                    "example": 3.14
                }
            },
            "title": "JobReqScreeningQuestionChoice"
        },
        "SFOData.JobRequisitionOperator": {
            "type": "object",
            "properties": {
                "adminSelectedUserToBeRemoved": {
                    "type": ["boolean",
                    "null"]
                },
                "email": {
                    "type": "string"
                },
                "fax": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "isAdminSelected": {
                    "type": "boolean"
                },
                "isOwner": {
                    "type": "boolean"
                },
                "jobReqId": {
                    "type": "string",
                    "format": "int64"
                },
                "lastName": {
                    "type": "string"
                },
                "operatorRole": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "userName": {
                    "type": "string"
                },
                "usersSysId": {
                    "type": "string"
                },
                "jobRequisition": {
                    "$ref": "#/definitions/SFOData.JobRequisition"
                }
            },
            "title": "JobRequisitionOperator"
        },
        "SFOData.JobReqScreeningQuestion": {
            "type": "object",
            "properties": {
                "disqualifier": {
                    "type": "boolean"
                },
                "expectedAnswerValue": {
                    "type": ["number",
                    "string"],
                    "format": "double",
                    "example": 3.14
                },
                "expectedDir": {
                    "type": "string"
                },
                "jobReqContent": {
                    "type": "string"
                },
                "jobReqId": {
                    "type": "string",
                    "format": "int64"
                },
                "locale": {
                    "type": "string"
                },
                "maxLength": {
                    "type": "string",
                    "format": "int64"
                },
                "order": {
                    "type": "string",
                    "format": "int64"
                },
                "questionDescription": {
                    "type": "string"
                },
                "questionId": {
                    "type": "string",
                    "format": "int64"
                },
                "questionName": {
                    "type": "string"
                },
                "questionParentId": {
                    "type": "string",
                    "format": "int64"
                },
                "questionParentResponse": {
                    "type": "string"
                },
                "questionType": {
                    "type": "string"
                },
                "questionWeight": {
                    "type": ["number",
                    "string"],
                    "format": "double",
                    "example": 3.14
                },
                "ratingScale": {
                    "type": "string"
                },
                "required": {
                    "type": "boolean"
                },
                "score": {
                    "type": "boolean"
                },
                "choices": {
                    "title": "Related Collection(SFOData.JobReqScreeningQuestionChoice)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.JobReqScreeningQuestionChoice"
                            }
                        }
                    }
                },
                "jobRequisition": {
                    "$ref": "#/definitions/SFOData.JobRequisition"
                }
            },
            "title": "JobReqScreeningQuestion"
        },
        "SFOData.JobReqGOPosition": {
                "type": "object",
                "properties": {
                    "externalCode": {
                        "type": "string",
                        "x-insertable": false,
                        "x-filterable": true
                    },
                    "fieldName": {
                        "type": "string",
                        "x-insertable": false,
                        "x-filterable": true
                    },
                    "isPrimary": {
                        "type": "boolean",
                        "x-insertable": false,
                        "x-filterable": true
                    },
                    "jobReqId": {
                        "type": ["integer","string"],
                        "format": "int64",
                        "example": "42",
                        "x-insertable": false,
                        "x-filterable": true
                    },
                    "jobReqMultiSelectId": {
                        "type": ["integer","string"],
                        "format": "int64",
                        "example": "42",
                        "x-key": true,
                        "x-insertable": false,
                        "x-filterable": true
                    },
                    "parentFieldValue": {
                        "type": ["integer","string"],
                        "format": "int64",
                        "example": "42",
                        "x-insertable": false,
                        "x-filterable": true
                    },
                    "value": {
                        "$ref": "#/definitions/SFOData.JobReqGOPosition",
                        "x-insertable": false,
                        "x-filterable": true
                    }
                },
                "x-insertable": false,
                "x-updatable": false,
                "x-deletable": false,
                "x-isEntity": true,
                "title": "JobReqGOPosition"
        }
    },
    "paths": {
        "/JobRequisitionLocale": {
            "get": {
                "summary": "Get entities from JobRequisitionLocale",
                "tags": ["Job Requisition Locale"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["extJobDescFooter",
                        "extJobDescFooter desc",
                        "extJobDescHeader",
                        "extJobDescHeader desc",
                        "externalJobDescription",
                        "externalJobDescription desc",
                        "externalTitle",
                        "externalTitle desc",
                        "intJobDescFooter",
                        "intJobDescFooter desc",
                        "intJobDescHeader",
                        "intJobDescHeader desc",
                        "jobDescription",
                        "jobDescription desc",
                        "jobReqId",
                        "jobReqId desc",
                        "jobReqLocalId",
                        "jobReqLocalId desc",
                        "jobTitle",
                        "jobTitle desc",
                        "locale",
                        "locale desc",
                        "status",
                        "status desc",
                        "templateHeaderFooter",
                        "templateHeaderFooter desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["extJobDescFooter",
                        "extJobDescHeader",
                        "externalJobDescription",
                        "externalTitle",
                        "intJobDescFooter",
                        "intJobDescHeader",
                        "jobDescription",
                        "jobReqId",
                        "jobReqLocalId",
                        "jobTitle",
                        "locale",
                        "status",
                        "templateHeaderFooter"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "jobRequisition"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of JobRequisitionLocale",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.JobRequisitionLocale"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobRequisitionLocale({jobReqLocalId})": {
            "get": {
                "summary": "Get entity from JobRequisitionLocale by key",
                "tags": ["Job Requisition Locale"],
                "parameters": [{
                    "name": "jobReqLocalId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobReqLocalId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["extJobDescFooter",
                        "extJobDescHeader",
                        "externalJobDescription",
                        "externalTitle",
                        "intJobDescFooter",
                        "intJobDescHeader",
                        "jobDescription",
                        "jobReqId",
                        "jobReqLocalId",
                        "jobTitle",
                        "locale",
                        "status",
                        "templateHeaderFooter"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "jobRequisition"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "JobRequisitionLocale",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobRequisitionLocale"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobReqQuestion": {
            "get": {
                "summary": "Get entities from JobReqQuestion",
                "tags": ["Job Requisition Question"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["questionCategory",
                        "questionCategory desc",
                        "questionId",
                        "questionId desc",
                        "questionName",
                        "questionName desc",
                        "questionSource",
                        "questionSource desc",
                        "questionType",
                        "questionType desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["questionCategory",
                        "questionId",
                        "questionName",
                        "questionSource",
                        "questionType"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of JobReqQuestion",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.JobReqQuestion"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobReqQuestion({questionId})": {
            "get": {
                "summary": "Get entity from JobReqQuestion by key",
                "tags": ["Job Requisition Question"],
                "parameters": [{
                    "name": "questionId",
                    "in": "path",
                    "required": true,
                    "description": "key: questionId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["questionCategory",
                        "questionId",
                        "questionName",
                        "questionSource",
                        "questionType"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "JobReqQuestion",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobReqQuestion"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobRequisitionGroupOperator": {
            "get": {
                "summary": "Get entities from JobRequisitionGroupOperator",
                "tags": ["Job Requisition Group Operator"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["adminSelectedGroupToBeRemoved",
                        "adminSelectedGroupToBeRemoved desc",
                        "isAdminSelected",
                        "isAdminSelected desc",
                        "isDisabled",
                        "isDisabled desc",
                        "jobReqId",
                        "jobReqId desc",
                        "operatorRole",
                        "operatorRole desc",
                        "userGroupId",
                        "userGroupId desc",
                        "userGroupName",
                        "userGroupName desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["adminSelectedGroupToBeRemoved",
                        "isAdminSelected",
                        "isDisabled",
                        "jobReqId",
                        "operatorRole",
                        "userGroupId",
                        "userGroupName"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "jobRequisition"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of JobRequisitionGroupOperator",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.JobRequisitionGroupOperator"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobRequisitionGroupOperator(jobReqId={jobReqId},operatorRole='{operatorRole}',userGroupId={userGroupId})": {
            "get": {
                "summary": "Get entity from JobRequisitionGroupOperator by key",
                "tags": ["Job Requisition Group Operator"],
                "parameters": [{
                    "name": "jobReqId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobReqId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "operatorRole",
                    "in": "path",
                    "required": true,
                    "description": "key: operatorRole",
                    "type": "string"
                },
                {
                    "name": "userGroupId",
                    "in": "path",
                    "required": true,
                    "description": "key: userGroupId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["adminSelectedGroupToBeRemoved",
                        "isAdminSelected",
                        "isDisabled",
                        "jobReqId",
                        "operatorRole",
                        "userGroupId",
                        "userGroupName"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "jobRequisition"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "JobRequisitionGroupOperator",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobRequisitionGroupOperator"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobRequisitionPosting": {
            "get": {
                "summary": "Get entities from JobRequisitionPosting",
                "tags": ["Job Requisition Posting"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["agencyComments",
                        "agencyComments desc",
                        "boardId",
                        "boardId desc",
                        "boardName",
                        "boardName desc",
                        "channelId",
                        "channelId desc",
                        "extPartnerAccountId",
                        "extPartnerAccountId desc",
                        "jobPostingId",
                        "jobPostingId desc",
                        "jobReqId",
                        "jobReqId desc",
                        "lastModifiedBy",
                        "lastModifiedBy desc",
                        "lastModifiedDateTime",
                        "lastModifiedDateTime desc",
                        "postEndDate",
                        "postEndDate desc",
                        "postEndDateOffset",
                        "postEndDateOffset desc",
                        "postStartDate",
                        "postStartDate desc",
                        "postStartDateOffset",
                        "postStartDateOffset desc",
                        "postedBy",
                        "postedBy desc",
                        "postingStatus",
                        "postingStatus desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["agencyComments",
                        "boardId",
                        "boardName",
                        "channelId",
                        "extPartnerAccountId",
                        "jobPostingId",
                        "jobReqId",
                        "lastModifiedBy",
                        "lastModifiedDateTime",
                        "postEndDate",
                        "postEndDateOffset",
                        "postStartDate",
                        "postStartDateOffset",
                        "postedBy",
                        "postingStatus"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "jobRequisition"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of JobRequisitionPosting",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.JobRequisitionPosting"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobRequisitionPosting(jobPostingId={jobPostingId},jobReqId={jobReqId})": {
            "get": {
                "summary": "Get entity from JobRequisitionPosting by key",
                "tags": ["Job Requisition Posting"],
                "parameters": [{
                    "name": "jobPostingId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobPostingId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "jobReqId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobReqId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["agencyComments",
                        "boardId",
                        "boardName",
                        "channelId",
                        "extPartnerAccountId",
                        "jobPostingId",
                        "jobReqId",
                        "lastModifiedBy",
                        "lastModifiedDateTime",
                        "postEndDate",
                        "postEndDateOffset",
                        "postStartDate",
                        "postStartDateOffset",
                        "postedBy",
                        "postingStatus"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "jobRequisition"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "JobRequisitionPosting",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobRequisitionPosting"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from JobRequisitionPosting",
                "tags": ["Job Requisition Posting"],
                "parameters": [{
                    "name": "jobPostingId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobPostingId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "jobReqId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobReqId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "If-Match",
                    "in": "header",
                    "description": "ETag",
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobRequisition": {
            "get": {
                "summary": "Get entities from JobRequisition",
                "tags": ["Job Requisition"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["accommodation_cost",
                        "accommodation_cost desc",
                        "age",
                        "age desc",
                        "agency_fee",
                        "agency_fee desc",
                        "annual_FB",
                        "annual_FB desc",
                        "annual_PF",
                        "annual_PF desc",
                        "annual_SA",
                        "annual_SA desc",
                        "annual_cashPay",
                        "annual_cashPay desc",
                        "annual_gratuity",
                        "annual_gratuity desc",
                        "annual_retirals",
                        "annual_retirals desc",
                        "appTemplateId",
                        "appTemplateId desc",
                        "assessRatingScaleName",
                        "assessRatingScaleName desc",
                        "candidateProgress",
                        "candidateProgress desc",
                        "city",
                        "city desc",
                        "classificationTime",
                        "classificationTime desc",
                        "classificationType",
                        "classificationType desc",
                        "closedDateTime",
                        "closedDateTime desc",
                        "comment",
                        "comment desc",
                        "commentEquip",
                        "commentEquip desc",
                        "commission",
                        "commission desc",
                        "corporatePosting",
                        "corporatePosting desc",
                        "costCenterId",
                        "costCenterId desc",
                        "costOfHire",
                        "costOfHire desc",
                        "country",
                        "country desc",
                        "createdDateTime",
                        "createdDateTime desc",
                        "currency",
                        "currency desc",
                        "customString10",
                        "customString10 desc",
                        "customString3",
                        "customString3 desc",
                        "customString4",
                        "customString4 desc",
                        "customString8",
                        "customString8 desc",
                        "defaultLanguage",
                        "defaultLanguage desc",
                        "deleted",
                        "deleted desc",
                        "department",
                        "department desc",
                        "division",
                        "division desc",
                        "erpAmount",
                        "erpAmount desc",
                        "facility",
                        "facility desc",
                        "formDataId",
                        "formDataId desc",
                        "formDueDate",
                        "formDueDate desc",
                        "function",
                        "function desc",
                        "hiringManagerNote",
                        "hiringManagerNote desc",
                        "industry",
                        "industry desc",
                        "instrCostHire",
                        "instrCostHire desc",
                        "instrERS",
                        "instrERS desc",
                        "instrEquest",
                        "instrEquest desc",
                        "instrEquipment",
                        "instrEquipment desc",
                        "instrInterview",
                        "instrInterview desc",
                        "instrInvolvedParties",
                        "instrInvolvedParties desc",
                        "instrManagernote",
                        "instrManagernote desc",
                        "instrOverallComments",
                        "instrOverallComments desc",
                        "instrPD",
                        "instrPD desc",
                        "instrReq",
                        "instrReq desc",
                        "instrReqDates",
                        "instrReqDates desc",
                        "instrReqDetails",
                        "instrReqDetails desc",
                        "instrReqJustify",
                        "instrReqJustify desc",
                        "instrReqRequire",
                        "instrReqRequire desc",
                        "instrSalary",
                        "instrSalary desc",
                        "instr_rec_cost",
                        "instr_rec_cost desc",
                        "internalStatus",
                        "internalStatus desc",
                        "intranetPosting",
                        "intranetPosting desc",
                        "isDraft",
                        "isDraft desc",
                        "jobCode",
                        "jobCode desc",
                        "jobReqGUId",
                        "jobReqGUId desc",
                        "jobReqId",
                        "jobReqId desc",
                        "jobRole",
                        "jobRole desc",
                        "jobStartDate",
                        "jobStartDate desc",
                        "lastModifiedBy",
                        "lastModifiedBy desc",
                        "lastModifiedDateTime",
                        "lastModifiedDateTime desc",
                        "lastModifiedProxyUserId",
                        "lastModifiedProxyUserId desc",
                        "legentity",
                        "legentity desc",
                        "location",
                        "location desc",
                        "misc_cost",
                        "misc_cost desc",
                        "monthly_FB",
                        "monthly_FB desc",
                        "monthly_PF",
                        "monthly_PF desc",
                        "monthly_SA",
                        "monthly_SA desc",
                        "monthly_cashPay",
                        "monthly_cashPay desc",
                        "monthly_gratuity",
                        "monthly_gratuity desc",
                        "monthly_retirals",
                        "monthly_retirals desc",
                        "monthly_salary",
                        "monthly_salary desc",
                        "numberOpenings",
                        "numberOpenings desc",
                        "openingsFilled",
                        "openingsFilled desc",
                        "otherBonus",
                        "otherBonus desc",
                        "otherCompensation",
                        "otherCompensation desc",
                        "otherEquip",
                        "otherEquip desc",
                        "othrComms",
                        "othrComms desc",
                        "overallScaleName",
                        "overallScaleName desc",
                        "positionNumber",
                        "positionNumber desc",
                        "postalcode",
                        "postalcode desc",
                        "ratedApplicantCount",
                        "ratedApplicantCount desc",
                        "recruitJust",
                        "recruitJust desc",
                        "replforwhom",
                        "replforwhom desc",
                        "restorehiringManagerTeamAdminDefaults",
                        "restorehiringManagerTeamAdminDefaults desc",
                        "restorerecruiterTeamAdminDefaults",
                        "restorerecruiterTeamAdminDefaults desc",
                        "restoresourcerTeamAdminDefaults",
                        "restoresourcerTeamAdminDefaults desc",
                        "restorevpOfStaffingTeamAdminDefaults",
                        "restorevpOfStaffingTeamAdminDefaults desc",
                        "reverseScale",
                        "reverseScale desc",
                        "salRateType",
                        "salRateType desc",
                        "salaryBase",
                        "salaryBase desc",
                        "salaryComment",
                        "salaryComment desc",
                        "salaryMax",
                        "salaryMax desc",
                        "salaryMin",
                        "salaryMin desc",
                        "stateProvince",
                        "stateProvince desc",
                        "statusSetId",
                        "statusSetId desc",
                        "stockPackage",
                        "stockPackage desc",
                        "targetBonusAmount",
                        "targetBonusAmount desc",
                        "tempDate",
                        "tempDate desc",
                        "templateId",
                        "templateId desc",
                        "templateType",
                        "templateType desc",
                        "timeToFill",
                        "timeToFill desc",
                        "total_earnings",
                        "total_earnings desc",
                        "total_fixed_pay",
                        "total_fixed_pay desc",
                        "total_hire_cost",
                        "total_hire_cost desc",
                        "travel_cost",
                        "travel_cost desc",
                        "workHours",
                        "workHours desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["accommodation_cost",
                        "age",
                        "agency_fee",
                        "annual_FB",
                        "annual_PF",
                        "annual_SA",
                        "annual_cashPay",
                        "annual_gratuity",
                        "annual_retirals",
                        "appTemplateId",
                        "assessRatingScaleName",
                        "candidateProgress",
                        "city",
                        "classificationTime",
                        "classificationType",
                        "closedDateTime",
                        "comment",
                        "commentEquip",
                        "commission",
                        "corporatePosting",
                        "costCenterId",
                        "costOfHire",
                        "country",
                        "createdDateTime",
                        "currency",
                        "customString10",
                        "customString3",
                        "customString4",
                        "customString8",
                        "defaultLanguage",
                        "deleted",
                        "department",
                        "division",
                        "erpAmount",
                        "facility",
                        "formDataId",
                        "formDueDate",
                        "function",
                        "hiringManagerNote",
                        "industry",
                        "instrCostHire",
                        "instrERS",
                        "instrEquest",
                        "instrEquipment",
                        "instrInterview",
                        "instrInvolvedParties",
                        "instrManagernote",
                        "instrOverallComments",
                        "instrPD",
                        "instrReq",
                        "instrReqDates",
                        "instrReqDetails",
                        "instrReqJustify",
                        "instrReqRequire",
                        "instrSalary",
                        "instr_rec_cost",
                        "internalStatus",
                        "intranetPosting",
                        "isDraft",
                        "jobCode",
                        "jobReqGUId",
                        "jobReqId",
                        "jobRole",
                        "jobStartDate",
                        "lastModifiedBy",
                        "lastModifiedDateTime",
                        "lastModifiedProxyUserId",
                        "legentity",
                        "location",
                        "misc_cost",
                        "monthly_FB",
                        "monthly_PF",
                        "monthly_SA",
                        "monthly_cashPay",
                        "monthly_gratuity",
                        "monthly_retirals",
                        "monthly_salary",
                        "numberOpenings",
                        "openingsFilled",
                        "otherBonus",
                        "otherCompensation",
                        "otherEquip",
                        "othrComms",
                        "overallScaleName",
                        "positionNumber",
                        "postalcode",
                        "ratedApplicantCount",
                        "recruitJust",
                        "replforwhom",
                        "restorehiringManagerTeamAdminDefaults",
                        "restorerecruiterTeamAdminDefaults",
                        "restoresourcerTeamAdminDefaults",
                        "restorevpOfStaffingTeamAdminDefaults",
                        "reverseScale",
                        "salRateType",
                        "salaryBase",
                        "salaryComment",
                        "salaryMax",
                        "salaryMin",
                        "stateProvince",
                        "statusSetId",
                        "stockPackage",
                        "targetBonusAmount",
                        "tempDate",
                        "templateId",
                        "templateType",
                        "timeToFill",
                        "total_earnings",
                        "total_fixed_pay",
                        "total_hire_cost",
                        "travel_cost",
                        "workHours"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "approver",
                        "coordinator",
                        "currentOwner",
                        "hiringManager",
                        "hiringManagerTeam",
                        "hiringManagerTeamGroup",
                        "jobReqLocale",
                        "jobReqPostings",
                        "jobReqScreeningQuestions",
                        "originator",
                        "questions",
                        "recruiter",
                        "recruiterTeam",
                        "recruiterTeamGroup",
                        "secondRecruiter",
                        "sourcer",
                        "sourcerTeam",
                        "sourcerTeamGroup",
                        "vpOfStaffing",
                        "vpOfStaffingTeam",
                        "vpOfStaffingTeamGroup"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of JobRequisition",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.JobRequisition"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to JobRequisition",
                "tags": ["Job Requisition"],
                "parameters": [{
                    "name": "JobRequisition",
                    "in": "body",
                    "description": "New entity",
                    "schema": {
                        "$ref": "#/definitions/SFOData.JobRequisition"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created JobRequisition",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobRequisition"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobRequisition({jobReqId})": {
            "get": {
                "summary": "Get entity from JobRequisition by key",
                "tags": ["Job Requisition"],
                "parameters": [{
                    "name": "jobReqId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobReqId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["accommodation_cost",
                        "age",
                        "agency_fee",
                        "annual_FB",
                        "annual_PF",
                        "annual_SA",
                        "annual_cashPay",
                        "annual_gratuity",
                        "annual_retirals",
                        "appTemplateId",
                        "assessRatingScaleName",
                        "candidateProgress",
                        "city",
                        "classificationTime",
                        "classificationType",
                        "closedDateTime",
                        "comment",
                        "commentEquip",
                        "commission",
                        "corporatePosting",
                        "costCenterId",
                        "costOfHire",
                        "country",
                        "createdDateTime",
                        "currency",
                        "customString10",
                        "customString3",
                        "customString4",
                        "customString8",
                        "defaultLanguage",
                        "deleted",
                        "department",
                        "division",
                        "erpAmount",
                        "facility",
                        "formDataId",
                        "formDueDate",
                        "function",
                        "hiringManagerNote",
                        "industry",
                        "instrCostHire",
                        "instrERS",
                        "instrEquest",
                        "instrEquipment",
                        "instrInterview",
                        "instrInvolvedParties",
                        "instrManagernote",
                        "instrOverallComments",
                        "instrPD",
                        "instrReq",
                        "instrReqDates",
                        "instrReqDetails",
                        "instrReqJustify",
                        "instrReqRequire",
                        "instrSalary",
                        "instr_rec_cost",
                        "internalStatus",
                        "intranetPosting",
                        "isDraft",
                        "jobCode",
                        "jobReqGUId",
                        "jobReqId",
                        "jobRole",
                        "jobStartDate",
                        "lastModifiedBy",
                        "lastModifiedDateTime",
                        "lastModifiedProxyUserId",
                        "legentity",
                        "location",
                        "misc_cost",
                        "monthly_FB",
                        "monthly_PF",
                        "monthly_SA",
                        "monthly_cashPay",
                        "monthly_gratuity",
                        "monthly_retirals",
                        "monthly_salary",
                        "numberOpenings",
                        "openingsFilled",
                        "otherBonus",
                        "otherCompensation",
                        "otherEquip",
                        "othrComms",
                        "overallScaleName",
                        "positionNumber",
                        "postalcode",
                        "ratedApplicantCount",
                        "recruitJust",
                        "replforwhom",
                        "restorehiringManagerTeamAdminDefaults",
                        "restorerecruiterTeamAdminDefaults",
                        "restoresourcerTeamAdminDefaults",
                        "restorevpOfStaffingTeamAdminDefaults",
                        "reverseScale",
                        "salRateType",
                        "salaryBase",
                        "salaryComment",
                        "salaryMax",
                        "salaryMin",
                        "stateProvince",
                        "statusSetId",
                        "stockPackage",
                        "targetBonusAmount",
                        "tempDate",
                        "templateId",
                        "templateType",
                        "timeToFill",
                        "total_earnings",
                        "total_fixed_pay",
                        "total_hire_cost",
                        "travel_cost",
                        "workHours"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "approver",
                        "coordinator",
                        "currentOwner",
                        "hiringManager",
                        "hiringManagerTeam",
                        "hiringManagerTeamGroup",
                        "jobReqLocale",
                        "jobReqPostings",
                        "jobReqScreeningQuestions",
                        "originator",
                        "questions",
                        "recruiter",
                        "recruiterTeam",
                        "recruiterTeamGroup",
                        "secondRecruiter",
                        "sourcer",
                        "sourcerTeam",
                        "sourcerTeamGroup",
                        "vpOfStaffing",
                        "vpOfStaffingTeam",
                        "vpOfStaffingTeamGroup"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "JobRequisition",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobRequisition"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "put": {
                "summary": "Update entity in JobRequisition",
                "tags": ["Job Requisition"],
                "parameters": [{
                    "name": "jobReqId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobReqId",
                    "type": "integer",
                    "format": "int64"
                },
                {
[...]
