{
    "swagger": "2.0",
    "security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
    "x-sap-shortText":"API to access basic information about a job interview",
    "x-servers": [{
        "url": "https://{api-server}/odata/v2",
        "description": "OData APIs for the SuccessFactors Data Centers",
        "templates": {
            "api-server": {
                "description": "SuccessFactors Data Center host",
                "default": "apisalesdemo8.successfactors.com"
            }
        }
    }],
    "info": {
        "title": "Job Application Interview",
        "version": "1.0",
        "description": "Use these APIs to view and edit basic information about a job interview, including notes, date and time and interviewer. It allows navigation to the related Job Application and Job Requisition.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
    },
    "externalDocs": {
        "description": "Job Application Interview APIs on SAP Help Portal",
        "url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/54256a02616448f6855cfbf6320bb97c.html"
    },
    "schemes": ["https"],
    "host": "sandbox.api.sap.com",
    "basePath": "/successfactors/odata/v2",
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "tags": [{
        "name": "Job Application Interview"
    },
    {
        "name": "Interview Individual Assessment"
    },
    {
        "name": "Candidates Forwarded to Job Requisition"
    },
    {
        "name": "Job Application Audit"
    },
    {
        "name": "Interview Overall Assessment"
    },
    {
        "name": "RCM Competency"
    }],
    "definitions": {
        "odata.error": {
            "type": "object",
            "required": ["error"],
            "properties": {
                "error": {
                    "$ref": "#/definitions/odata.error.main"
                }
            }
        },
        "odata.error.main": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "details": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/odata.error.detail"
                    }
                },
                "innererror": {
                    "type": "object",
                    "description": "The structure of this object is service-specific"
                }
            }
        },
        "odata.error.detail": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            }
        },
        "SFOData.JobApplicationInterview": {
            "type": "object",
            "properties": {
                "applicationId": {
                    "type": "string",
                    "format": "int64"
                },
                "applicationInterviewId": {
                    "type": "string",
                    "format": "int64"
                },
                "candSlotMapId": {
                    "type": "string",
                    "format": "int64"
                },
                "endDate": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "isTimeSet": {
                    "type": "integer",
                    "format": "int32"
                },
                "notes": {
                    "type": ["string",
                    "null"]
                },
                "recruitEventStaffId": {
                    "type": "string",
                    "format": "int64"
                },
                "source": {
                    "type": "string"
                },
                "startDate": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "status": {
                    "type": "string"
                },
                "templateType": {
                    "type": "string"
                },
                "interviewOverallAssessment": {
                    "$ref": "#/definitions/SFOData.InterviewOverallAssessment"
                }
            },
            "title": "JobApplicationInterview"
        },
        "SFOData.InterviewIndividualAssessment": {
            "type": "object",
            "properties": {
                "comments": {
                    "type": ["string",
                    "null"]
                },
                "interviewIndividualAssessmentId": {
                    "type": "string",
                    "format": "int64"
                },
                "interviewOverallAssessmentId": {
                    "type": "string",
                    "format": "int64"
                },
                "isDeleted": {
                    "type": ["string",
                    "null"]
                },
                "rating": {
                    "type": "string"
                },
                "refId": {
                    "type": "string",
                    "format": "int64"
                },
                "type": {
                    "type": "string"
                },
                "rcmCompetency": {
                    "title": "Related Collection(SFOData.RcmCompetency)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.RcmCompetency"
                            }
                        }
                    }
                }
            },
            "title": "InterviewIndividualAssessment"
        },
        "SFOData.JobReqFwdCandidates": {
            "type": "object",
            "properties": {
                "candidateId": {
                    "type": "string",
                    "format": "int64"
                },
                "candidateSiteid": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "createdDate": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "expirationDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "extRecruiterId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "jobBoardName": {
                    "type": ["string",
                    "null"]
                },
                "jobReqId": {
                    "type": "string",
                    "format": "int64"
                },
                "lastModifiedDate": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "rcmAppStatusSetItemId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "referralId": {
                    "type": "string",
                    "format": "int64"
                },
                "referralKey": {
                    "type": ["string",
                    "null"]
                },
                "referredBy": {
                    "type": ["string",
                    "null"]
                },
                "status": {
                    "type": ["string",
                    "null"]
                },
                "type": {
                    "type": "string"
                }
            },
            "title": "JobReqFwdCandidates"
        },
        "SFOData.JobApplicationAudit": {
            "type": "object",
            "properties": {
                "changedBy": {
                    "type": ["string",
                    "null"]
                },
                "clobFieldRef": {
                    "type": ["string",
                    "null"]
                },
                "clobNewValueXML": {
                    "type": ["string",
                    "null"]
                },
                "clobOldValueXML": {
                    "type": ["string",
                    "null"]
                },
                "dateNewValue": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "dateOldValue": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "fieldId": {
                    "type": ["string",
                    "null"]
                },
                "fieldOrderPos": {
                    "type": "string",
                    "format": "int64"
                },
                "fieldType": {
                    "type": ["string",
                    "null"]
                },
                "jobPostEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "jobPostStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "jobPostingId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"]
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedExtId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "mergedFrom": {
                    "type": ["string",
                    "null"]
                },
                "newValue": {
                    "type": ["string",
                    "null"]
                },
                "oldValue": {
                    "type": ["string",
                    "null"]
                },
                "refType": {
                    "type": ["string",
                    "null"]
                },
                "revNumber": {
                    "type": "string",
                    "format": "int64"
                },
                "revType": {
                    "type": ["integer",
                    "null"],
                    "format": "int32"
                },
                "source": {
                    "type": ["string",
                    "null"]
                }
            },
            "title": "JobApplicationAudit"
        },
        "SFOData.InterviewOverallAssessment": {
            "type": "object",
            "properties": {
                "averageRating": {
                    "type": ["number",
                    "string",
                    "null"],
                    "format": "double",
                    "example": 3.14
                },
                "comments": {
                    "type": ["string",
                    "null"]
                },
                "interviewOverallAssessmentId": {
                    "type": "string",
                    "format": "int64"
                },
                "interviewRefId": {
                    "type": "string",
                    "format": "int64"
                },
                "overallRating": {
                    "type": "string"
                },
                "type": {
                    "type": ["string",
                    "null"]
                },
                "interviewIndividualAssessment": {
                    "title": "Related Collection(SFOData.InterviewIndividualAssessment)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.InterviewIndividualAssessment"
                            }
                        }
                    }
                }
            },
            "title": "InterviewOverallAssessment"
        },
        "SFOData.RcmCompetency": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "commonCompetencyId": {
                    "type": "string",
                    "format": "int64"
                },
                "desc": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "rcmCompetencyId": {
                    "type": "string",
                    "format": "int64"
                },
                "source": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "title": "RcmCompetency"
        },
        "SFOData.InviteToApplyResponse": {
            "type": "object",
            "properties": {
                "candidateId": {
                    "type": ["string",
                    "null"]
                },
                "message": {
                    "type": ["string",
                    "null"]
                },
                "status": {
                    "type": ["string",
                    "null"]
                }
            },
            "title": "InviteToApplyResponse",
            "description": "InviteToApplyResponse  \nResponse for the action of candidates Invite to Apply"
        }
    },
    "paths": {
        "/JobApplicationInterview": {
            "get": {
                "summary": "Get entities from JobApplicationInterview",
                "tags": ["Job Application Interview"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["applicationId",
                        "applicationId desc",
                        "applicationInterviewId",
                        "applicationInterviewId desc",
                        "candSlotMapId",
                        "candSlotMapId desc",
                        "endDate",
                        "endDate desc",
                        "isTimeSet",
                        "isTimeSet desc",
                        "notes",
                        "notes desc",
                        "recruitEventStaffId",
                        "recruitEventStaffId desc",
                        "source",
                        "source desc",
                        "startDate",
                        "startDate desc",
                        "status",
                        "status desc",
                        "templateType",
                        "templateType desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["applicationId",
                        "applicationInterviewId",
                        "candSlotMapId",
                        "endDate",
                        "isTimeSet",
                        "notes",
                        "recruitEventStaffId",
                        "source",
                        "startDate",
                        "status",
                        "templateType"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "interviewOverallAssessment"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of JobApplicationInterview",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.JobApplicationInterview"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to JobApplicationInterview",
                "tags": ["Job Application Interview"],
                "parameters": [{
                    "name": "JobApplicationInterview",
                    "in": "body",
                    "description": "New entity",
                    "schema": {
                        "$ref": "#/definitions/SFOData.JobApplicationInterview"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created JobApplicationInterview",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobApplicationInterview"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobApplicationInterview({applicationInterviewId})": {
            "get": {
                "summary": "Get entity from JobApplicationInterview by key",
                "tags": ["Job Application Interview"],
                "parameters": [{
                    "name": "applicationInterviewId",
                    "in": "path",
                    "required": true,
                    "description": "key: applicationInterviewId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["applicationId",
                        "applicationInterviewId",
                        "candSlotMapId",
                        "endDate",
                        "isTimeSet",
                        "notes",
                        "recruitEventStaffId",
                        "source",
                        "startDate",
                        "status",
                        "templateType"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "interviewOverallAssessment"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "JobApplicationInterview",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobApplicationInterview"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "put": {
                "summary": "Update entity in JobApplicationInterview",
                "tags": ["Job Application Interview"],
                "parameters": [{
                    "name": "applicationInterviewId",
                    "in": "path",
                    "required": true,
                    "description": "key: applicationInterviewId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "JobApplicationInterview",
                    "in": "body",
                    "description": "New property values",
                    "schema": {
                        "title": "Modified JobApplicationInterview",
                        "type": "object",
                        "properties": {
                            "d": {
                                "$ref": "#/definitions/SFOData.JobApplicationInterview"
                            }
                        }
                    }
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from JobApplicationInterview",
                "tags": ["Job Application Interview"],
                "parameters": [{
                    "name": "applicationInterviewId",
                    "in": "path",
                    "required": true,
                    "description": "key: applicationInterviewId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "If-Match",
                    "in": "header",
                    "description": "ETag",
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/InterviewIndividualAssessment": {
            "get": {
                "summary": "Get entities from InterviewIndividualAssessment",
                "tags": ["Interview Individual Assessment"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["comments",
                        "comments desc",
                        "interviewIndividualAssessmentId",
                        "interviewIndividualAssessmentId desc",
                        "interviewOverallAssessmentId",
                        "interviewOverallAssessmentId desc",
                        "isDeleted",
                        "isDeleted desc",
                        "rating",
                        "rating desc",
                        "refId",
                        "refId desc",
                        "type",
                        "type desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["comments",
                        "interviewIndividualAssessmentId",
                        "interviewOverallAssessmentId",
                        "isDeleted",
                        "rating",
                        "refId",
                        "type"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "rcmCompetency"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of InterviewIndividualAssessment",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.InterviewIndividualAssessment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to InterviewIndividualAssessment",
                "tags": ["Interview Individual Assessment"],
                "parameters": [{
                    "name": "InterviewIndividualAssessment",
                    "in": "body",
                    "description": "New entity",
                    "schema": {
                        "$ref": "#/definitions/SFOData.InterviewIndividualAssessment"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created InterviewIndividualAssessment",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.InterviewIndividualAssessment"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/InterviewIndividualAssessment({interviewIndividualAssessmentId})": {
            "get": {
                "summary": "Get entity from InterviewIndividualAssessment by key",
                "tags": ["Interview Individual Assessment"],
                "parameters": [{
                    "name": "interviewIndividualAssessmentId",
                    "in": "path",
                    "required": true,
                    "description": "key: interviewIndividualAssessmentId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["comments",
                        "interviewIndividualAssessmentId",
                        "interviewOverallAssessmentId",
                        "isDeleted",
                        "rating",
                        "refId",
                        "type"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "rcmCompetency"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "InterviewIndividualAssessment",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.InterviewIndividualAssessment"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "put": {
                "summary": "Update entity in InterviewIndividualAssessment",
                "tags": ["Interview Individual Assessment"],
                "parameters": [{
                    "name": "interviewIndividualAssessmentId",
                    "in": "path",
                    "required": true,
                    "description": "key: interviewIndividualAssessmentId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "InterviewIndividualAssessment",
                    "in": "body",
                    "description": "New property values",
                    "schema": {
                        "title": "Modified InterviewIndividualAssessment",
                        "type": "object",
                        "properties": {
                            "d": {
                                "$ref": "#/definitions/SFOData.InterviewIndividualAssessment"
                            }
                        }
                    }
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from InterviewIndividualAssessment",
                "tags": ["Interview Individual Assessment"],
                "parameters": [{
                    "name": "interviewIndividualAssessmentId",
                    "in": "path",
                    "required": true,
                    "description": "key: interviewIndividualAssessmentId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "If-Match",
                    "in": "header",
                    "description": "ETag",
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobReqFwdCandidates": {
            "get": {
                "summary": "Get entities from JobReqFwdCandidates",
                "tags": ["Candidates Forwarded to Job Requisition"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["candidateId",
                        "candidateId desc",
                        "candidateSiteid",
                        "candidateSiteid desc",
                        "createdDate",
                        "createdDate desc",
                        "expirationDate",
                        "expirationDate desc",
                        "extRecruiterId",
                        "extRecruiterId desc",
                        "jobBoardName",
                        "jobBoardName desc",
                        "jobReqId",
                        "jobReqId desc",
                        "lastModifiedDate",
                        "lastModifiedDate desc",
                        "rcmAppStatusSetItemId",
                        "rcmAppStatusSetItemId desc",
                        "referralId",
                        "referralId desc",
                        "referralKey",
                        "referralKey desc",
                        "referredBy",
                        "referredBy desc",
                        "status",
                        "status desc",
                        "type",
                        "type desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["candidateId",
                        "candidateSiteid",
                        "createdDate",
                        "expirationDate",
                        "extRecruiterId",
                        "jobBoardName",
                        "jobReqId",
                        "lastModifiedDate",
                        "rcmAppStatusSetItemId",
                        "referralId",
                        "referralKey",
                        "referredBy",
                        "status",
                        "type"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of JobReqFwdCandidates",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.JobReqFwdCandidates"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to JobReqFwdCandidates",
                "tags": ["Candidates Forwarded to Job Requisition"],
                "parameters": [{
                    "name": "JobReqFwdCandidates",
                    "in": "body",
                    "description": "New entity",
                    "schema": {
                        "$ref": "#/definitions/SFOData.JobReqFwdCandidates"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created JobReqFwdCandidates",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobReqFwdCandidates"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobReqFwdCandidates(candidateId={candidateId},jobReqId={jobReqId})": {
            "get": {
                "summary": "Get entity from JobReqFwdCandidates by key",
                "tags": ["Candidates Forwarded to Job Requisition"],
                "parameters": [{
                    "name": "candidateId",
                    "in": "path",
                    "required": true,
                    "description": "key: candidateId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "jobReqId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobReqId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["candidateId",
                        "candidateSiteid",
                        "createdDate",
                        "expirationDate",
                        "extRecruiterId",
                        "jobBoardName",
                        "jobReqId",
                        "lastModifiedDate",
                        "rcmAppStatusSetItemId",
                        "referralId",
                        "referralKey",
                        "referredBy",
                        "status",
                        "type"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "JobReqFwdCandidates",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobReqFwdCandidates"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from JobReqFwdCandidates",
                "tags": ["Candidates Forwarded to Job Requisition"],
                "parameters": [{
                    "name": "candidateId",
                    "in": "path",
                    "required": true,
                    "description": "key: candidateId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "jobReqId",
                    "in": "path",
                    "required": true,
                    "description": "key: jobReqId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "If-Match",
                    "in": "header",
                    "description": "ETag",
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobApplicationAudit": {
            "get": {
                "summary": "Get entities from JobApplicationAudit",
                "tags": ["Job Application Audit"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["changedBy",
                        "changedBy desc",
                        "clobFieldRef",
                        "clobFieldRef desc",
                        "clobNewValueXML",
                        "clobNewValueXML desc",
                        "clobOldValueXML",
                        "clobOldValueXML desc",
                        "dateNewValue",
                        "dateNewValue desc",
                        "dateOldValue",
                        "dateOldValue desc",
                        "fieldId",
                        "fieldId desc",
                        "fieldOrderPos",
                        "fieldOrderPos desc",
                        "fieldType",
                        "fieldType desc",
                        "jobPostEndDate",
                        "jobPostEndDate desc",
                        "jobPostStartDate",
                        "jobPostStartDate desc",
                        "jobPostingId",
                        "jobPostingId desc",
                        "lastModifiedBy",
                        "lastModifiedBy desc",
                        "lastModifiedDate",
                        "lastModifiedDate desc",
                        "lastModifiedExtId",
                        "lastModifiedExtId desc",
                        "mergedFrom",
                        "mergedFrom desc",
                        "newValue",
                        "newValue desc",
                        "oldValue",
                        "oldValue desc",
                        "refType",
                        "refType desc",
                        "revNumber",
                        "revNumber desc",
                        "revType",
                        "revType desc",
                        "source",
                        "source desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["changedBy",
                        "clobFieldRef",
                        "clobNewValueXML",
                        "clobOldValueXML",
                        "dateNewValue",
                        "dateOldValue",
                        "fieldId",
                        "fieldOrderPos",
                        "fieldType",
                        "jobPostEndDate",
                        "jobPostStartDate",
                        "jobPostingId",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedExtId",
                        "mergedFrom",
                        "newValue",
                        "oldValue",
                        "refType",
                        "revNumber",
                        "revType",
                        "source"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of JobApplicationAudit",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.JobApplicationAudit"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/JobApplicationAudit(fieldOrderPos={fieldOrderPos},revNumber={revNumber})": {
            "get": {
                "summary": "Get entity from JobApplicationAudit by key",
                "tags": ["Job Application Audit"],
                "parameters": [{
                    "name": "fieldOrderPos",
                    "in": "path",
                    "required": true,
                    "description": "key: fieldOrderPos",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "revNumber",
                    "in": "path",
                    "required": true,
                    "description": "key: revNumber",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["changedBy",
                        "clobFieldRef",
                        "clobNewValueXML",
                        "clobOldValueXML",
                        "dateNewValue",
                        "dateOldValue",
                        "fieldId",
                        "fieldOrderPos",
                        "fieldType",
                        "jobPostEndDate",
                        "jobPostStartDate",
                        "jobPostingId",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedExtId",
                        "mergedFrom",
                        "newValue",
                        "oldValue",
                        "refType",
                        "revNumber",
                        "revType",
                        "source"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "JobApplicationAudit",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.JobApplicationAudit"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/InterviewOverallAssessment": {
            "get": {
                "summary": "Get entities from InterviewOverallAssessment",
                "tags": ["Interview Overall Assessment"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["averageRating",
                        "averageRating desc",
                        "comments",
                        "comments desc",
                        "interviewOverallAssessmentId",
                        "interviewOverallAssessmentId desc",
                        "interviewRefId",
                        "interviewRefId desc",
                        "overallRating",
                        "overallRating desc",
                        "type",
                        "type desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["averageRating",
                        "comments",
                        "interviewOverallAssessmentId",
                        "interviewRefId",
                        "overallRating",
                        "type"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "interviewIndividualAssessment"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of InterviewOverallAssessment",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.InterviewOverallAssessment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to InterviewOverallAssessment",
                "tags": ["Interview Overall Assessment"],
                "parameters": [{
                    "name": "InterviewOverallAssessment",
                    "in": "body",
                    "description": "New entity",
                    "schema": {
                        "$ref": "#/definitions/SFOData.InterviewOverallAssessment"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created InterviewOverallAssessment",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.InterviewOverallAssessment"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/InterviewOverallAssessment({interviewOverallAssessmentId})": {
            "get": {
                "summary": "Get entity from InterviewOverallAssessment by key",
                "tags": ["Interview Overall Assessment"],
                "parameters": [{
                    "name": "interviewOverallAssessmentId",
                    "in": "path",
                    "required": true,
                    "description": "key: interviewOverallAssessmentId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["averageRating",
                        "comments",
                        "interviewOverallAssessmentId",
                        "interviewRefId",
                        "overallRating",
                        "type"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "interviewIndividualAssessment"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "InterviewOverallAssessment",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.InterviewOverallAssessment"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "put": {
                "summary": "Update entity in InterviewOverallAssessment",
                "tags": ["Interview Overall Assessment"],
                "parameters": [{
                    "name": "interviewOverallAssessmentId",
                    "in": "path",
                    "required": true,
                    "description": "key: interviewOverallAssessmentId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "InterviewOverallAssessment",
                    "in": "body",
                    "description": "New property values",
                    "schema": {
                        "title": "Modified InterviewOverallAssessment",
                        "type": "object",
                        "properties": {
                            "d": {
                                "$ref": "#/definitions/SFOData.InterviewOverallAssessment"
                            }
                        }
                    }
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from InterviewOverallAssessment",
                "tags": ["Interview Overall Assessment"],
                "parameters": [{
                    "name": "interviewOverallAssessmentId",
                    "in": "path",
                    "required": true,
                    "description": "key: interviewOverallAssessmentId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "If-Match",
                    "in": "header",
                    "description": "ETag",
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/RcmCompetency": {
            "get": {
                "summary": "Get entities from RcmCompetency",
                "tags": ["RCM Competency"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["category",
                        "category desc",
                        "commonCompetencyId",
                        "commonCompetencyId desc",
                        "desc",
                        "desc desc",
                        "locale",
                        "locale desc",
                        "name",
                        "name desc",
                        "rcmCompetencyId",
                        "rcmCompetencyId desc",
                        "source",
                        "source desc",
                        "type",
                        "type desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["category",
                        "commonCompetencyId",
                        "desc",
                        "locale",
                        "name",
                        "rcmCompetencyId",
                        "source",
                        "type"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of RcmCompetency",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.RcmCompetency"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/RcmCompetency({rcmCompetencyId})": {
            "get": {
                "summary": "Get entity from RcmCompetency by key",
                "tags": ["RCM Competency"],
                "parameters": [{
                    "name": "rcmCompetencyId",
                    "in": "path",
                    "required": true,
                    "description": "key: rcmCompetencyId",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["category",
                        "commonCompetencyId",
                        "desc",
                        "locale",
                        "name",
                        "rcmCompetencyId",
                        "source",
                        "type"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "RcmCompetency",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.RcmCompetency"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/fwdCandidateToColleague": {
            "get": {
                "summary": "Invoke function fwdCandidateToColleague",
                "tags": ["Service Operations"],
                "parameters": [{
                    "name": "candidateId",
                    "in": "query",
                    "required": true,
                    "type": "string",
                    "format": "int64"
                },
                {
                    "name": "referredTo",
                    "in": "query",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "title": "Result",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/initiateOnboarding": {
            "get": {
                "summary": "Invoke function initiateOnboarding",
                "tags": ["Service Operations"],
                "parameters": [{
                    "name": "applicationId",
                    "in": "query",
                    "required": true,
                    "type": "string",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "title": "Result",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/getRecruitingTemplate": {
            "get": {
                "summary": "Invoke function getRecruitingTemplate",
                "tags": ["Service Operations"],
                "parameters": [{
                    "name": "templateName",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "templateType",
                    "in": "query",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "title": "Result",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/getOfferLetterTemplate": {
            "get": {
                "summary": "Invoke function getOfferLetterTemplate",
                "tags": ["Service Operations"],
                "parameters": [{
                    "name": "templateName",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "templateType",
                    "in": "query",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "title": "Result",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/inviteToApply": {
            "post": {
                "summary": "Invoke action inviteToApply",
                "tags": ["Service Operations"],
                "parameters": [{
                    "name": "jobReqId",
                    "in": "query",
                    "required": true,
                    "type": "string",
                    "format": "int64"
                },
                {
                    "name": "candidateIds",
                    "in": "query",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "title": "Result",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "title": "Related Collection(SFOData.InviteToApplyResponse)",
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.InviteToApplyResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        }
    },
    "parameters": {
        "top": {
            "name": "$top",
            "in": "query",
            "description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
            "type": "integer",
            "default":20
        },
        "skip": {
            "name": "$skip",
            "in": "query",
            "description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
            "type": "integer"
        },
        "count": {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
            "type": "boolean"
        },
        "filter": {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
            "type": "string"
        },
        "search": {
            "name": "$search",
            "in": "query",
            "description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
            "type": "string"
        }
    },
    "responses": {
        "error": {
            "description": "Error",
            "schema": {
                "$ref": "#/definitions/odata.error"
            }
        }
    }
}