{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"APIs for accessing career development data.",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	}],
	"info": {
		"title": "Succession and Development",
		"version": "1.0",
		"description": "Use this API to access employees' development goals and learning activities.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Succession and Development APIs on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/7e0cb1d8434d46a4acba3d6e0b25519a.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "Development Learning Certifications"
	},
	{
		"name": "Development Learning"
	}],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.DevLearningCertifications": {
			"type": "object",
			"properties": {
				"certificateCreatedBy": {
					"type": ["string",
					"null"]
				},
				"certificateCreatedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"certificateExpiredDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"certificateId": {
					"type": "string",
					"format": "int64"
				},
				"certificateIssueDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"certificateLastModifiedBy": {
					"type": ["string",
					"null"]
				},
				"certificateLastModifiedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"certificateName": {
					"type": ["string",
					"null"]
				},
				"learningId": {
					"type": "string",
					"format": "int64"
				}
			},
			"title": "DevLearningCertifications"
		},
		"SFOData.DevLearning_4201": {
			"type": "object",
			"properties": {
				"assignee": {
					"type": ["string",
					"null"]
				},
				"completedDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"description": {
					"type": ["string",
					"null"]
				},
				"guid": {
					"type": ["string",
					"null"]
				},
				"learningId": {
					"type": "string",
					"format": "int64"
				},
				"name": {
					"type": ["string",
					"null"]
				},
				"sourceType": {
					"type": ["string",
					"null"]
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"status": {
					"type": ["string",
					"null"]
				},
				"userId": {
					"type": ["string",
					"null"]
				},
				"learningCertNavigation": {
					"title": "Related Collection(SFOData.DevLearningCertifications)",
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SFOData.DevLearningCertifications"
							}
						}
					}
				}
			},
			"title": "DevLearning_4201"
		}
	},
	"paths": {
		"/DevLearningCertifications": {
			"get": {
				"summary": "Get entities from DevLearningCertifications",
				"tags": ["Development Learning Certifications"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["certificateCreatedBy",
						"certificateCreatedBy desc",
						"certificateCreatedDate",
						"certificateCreatedDate desc",
						"certificateExpiredDate",
						"certificateExpiredDate desc",
						"certificateId",
						"certificateId desc",
						"certificateIssueDate",
						"certificateIssueDate desc",
						"certificateLastModifiedBy",
						"certificateLastModifiedBy desc",
						"certificateLastModifiedDate",
						"certificateLastModifiedDate desc",
						"certificateName",
						"certificateName desc",
						"learningId",
						"learningId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["certificateCreatedBy",
						"certificateCreatedDate",
						"certificateExpiredDate",
						"certificateId",
						"certificateIssueDate",
						"certificateLastModifiedBy",
						"certificateLastModifiedDate",
						"certificateName",
						"learningId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DevLearningCertifications",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DevLearningCertifications"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DevLearningCertifications(certificateId={certificateId},learningId={learningId})": {
			"get": {
				"summary": "Get entity from DevLearningCertifications by key",
				"tags": ["Development Learning Certifications"],
				"parameters": [{
					"name": "certificateId",
					"in": "path",
					"required": true,
					"description": "key: certificateId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "learningId",
					"in": "path",
					"required": true,
					"description": "key: learningId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["certificateCreatedBy",
						"certificateCreatedDate",
						"certificateExpiredDate",
						"certificateId",
						"certificateIssueDate",
						"certificateLastModifiedBy",
						"certificateLastModifiedDate",
						"certificateName",
						"learningId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DevLearningCertifications",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DevLearningCertifications"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DevLearning_4201": {
			"get": {
				"summary": "Get entities from DevLearning_4201",
				"tags": ["Development Learning 4201"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["assignee",
						"assignee desc",
						"completedDate",
						"completedDate desc",
						"description",
						"description desc",
						"guid",
						"guid desc",
						"learningId",
						"learningId desc",
						"name",
						"name desc",
						"sourceType",
						"sourceType desc",
						"startDate",
						"startDate desc",
						"status",
						"status desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["assignee",
						"completedDate",
						"description",
						"guid",
						"learningId",
						"name",
						"sourceType",
						"startDate",
						"status",
						"userId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"learningCertNavigation"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of DevLearning_4201",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.DevLearning_4201"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/DevLearning_4201({learningId})": {
			"get": {
				"summary": "Get entity from DevLearning_4201 by key",
				"tags": ["Development Learning 4201"],
				"parameters": [{
					"name": "learningId",
					"in": "path",
					"required": true,
					"description": "key: learningId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["assignee",
						"completedDate",
						"description",
						"guid",
						"learningId",
						"name",
						"sourceType",
						"startDate",
						"status",
						"userId"]
					}
				},
				{
					"name": "$expand",
					"in": "query",
					"description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["*",
						"learningCertNavigation"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "DevLearning_4201",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.DevLearning_4201"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		}
	},
	"parameters": {
		"top": {
			"name": "$top",
			"in": "query",
			"description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
			"type": "integer",
			"default":20
		},
		"skip": {
			"name": "$skip",
			"in": "query",
			"description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
			"type": "integer"
		},
		"count": {
			"name": "$count",
			"in": "query",
			"description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
			"type": "boolean"
		},
		"filter": {
			"name": "$filter",
			"in": "query",
			"description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
			"type": "string"
		},
		"search": {
			"name": "$search",
			"in": "query",
			"description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
			"type": "string"
		}
	},
	"responses": {
		"error": {
			"description": "Error",
			"schema": {
				"$ref": "#/definitions/odata.error"
			}
		}
	}
}